<header class="w-100 overflow-hidden header-style">
	<nav class="navbar navbar-expand-md navbar-dark border-bottom wow fadeInDown" data-wow-delay="0.4s"  style=" background-color: #fff !important;">
		<div class="container">
			<a class="navbar-brand" routerLink="/"><img src="assets/images/Logo_Dark.png" /></a>
			<div class="text-center hipaa-logo">
				<img src="assets/images/hipaa-logo.png" class="minlg" />
				<img src="assets/images/logo_footer3.png" class="maxmd" />
			</div>
			<button class="navbar-toggler collapsed" data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse" type="button" aria-expanded="false">
				<span class="navbar-toggler-icon"> <i class="fa fa-bars"></i></span>
			</button>
			<div class="collapse navbar-collapse mt-1" id="collapsibleNavbar">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/" fragment="Products" style="color:#011A3E;">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/solutions" routerLinkActive="active" style="color: #011A3E;">Solutions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/" fragment="Plans" style="color: #011A3E;">Plans</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/become-vendor" routerLinkActive="active" style="color: #011A3E;">Vendor</a>
					</li>
				</ul>
				<div class="dropdown-divider"></div>
				<div class="text-center social wow fadeInUp me-md-2 me-lg-4 d-none d-lg-block" data-wow-delay="0.6s">
					<a href="https://www.facebook.com/dentalive" target="_blank" title="Facebook"><i class="bx bxl-facebook-circle" aria-hidden="true"></i></a>
					<a href="https://www.twitter.com/dentallivemail" target="_blank" title="Twitter"><i class="bx bxl-twitter" aria-hidden="true"></i></a>
					<a href="https://www.instagram.com/dentallive" target="_blank" title="Instagram"><i class="bx bxl-instagram" aria-hidden="true"></i></a>
				</div>
				<ul class="navbar-nav mb-md-0 ml-auto">
					<li class="nav-item">
					  <a routerLink="/auth/login" routerLinkActive="active" class="btn btn-primary me-2 my-1">Login</a>
					</li>
					<li class="nav-item">
					  <a routerLink="/auth/signup" routerLinkActive="active" class="btn btn-dark my-1">Sign Up </a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<nav class="navbar-expand-md nav_bar pt-1 border-bottom wow fadeInDown" data-wow-delay="0.4s"  style="height: 50px;">
		<div class="container">
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link bold py-md-0" routerLink="/" fragment="DentalPlanner" style="color: #011A3E;"><img src="assets/images/plannerlogom.png" alt="Dental LIVE Planner"/></a>        
					</li>
					<li class="nav-item ">
						<a class="nav-link bold py-md-0" routerLink="/" fragment="Products" style="color: #011A3E;"><img src="assets/images/maillogom.png" alt="Dental LIVE Mail"/></a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold py-md-0" routerLink="/" fragment="DentalTalk" style="color: #011A3E;"><img src="assets/images/talklogom.png" alt="Dental LIVE Talk"/></a>        
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<main class="overflow-hidden w-100">
	<section style=" padding: 3rem 0;background:#EFF3F7;">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1 class="h1 fw-bold wow fadeInUp pb-2 " data-wow-delay="0.2s" style="color: #011A3E;">Privacy Policy</h1>
				</div> 
			</div>
		</div>
	</section>

	<section class="pb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="body1">Last Updated: July 21, 2020</p>
					<p>The types of information that Wiley collects directly from you or through your use of our websites and services may include :</p>
					<div class="p-4 pb-4">
						<div class="d-flex row align-items-center mb-2 pb-4">
							<div class="col-md-12">
								<div class="accordion accordion-flush" id="accordionFlushExample">
									<div class="accordion-item show">
										<h2 class="accordion-header" id="flush-headingOne">
										  <button class="accordion-button  h5 bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
											<img src="assets/images/faq.png" class="me-2"> Information We Receive from Other Sources
										  </button>
										</h2>
										<div id="flush-collapseOne" class="accordion-collapse collapse show " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
										  <div class="accordion-body h6">Absolutely! Dental LIVE  is completely free for trial to use indefinitely with all the features you would need in a project management tool with a cap of 5 members in an account.
											<br>
										If you are a startup trying to get off the ground, that's another monthly bill you don't have to worry about.</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="flush-headingTwo">
										  <button class="accordion-button collapsed h5 bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
											<img src="assets/images/faq.png" class="me-2"> Use of Your Information
										  </button>
										</h2>
										<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
										  <div class="accordion-body h6">Absolutely! Dental LIVE  is completely free for trial to use indefinitely with all the features you would need in a project management tool with a cap of 5 members in an account.
											 <br>
											If you are a startup trying to get off the ground, that's another monthly bill you don't have to worry about.</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="flush-headingThree">
										  <button class="accordion-button collapsed h5 bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
											<img src="assets/images/faq.png" class="me-2"> Disclosure and Sharing of Your Information
										  </button>
										</h2>
										<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
										  <div class="accordion-body h6">Absolutely! Dental LIVE  is completely free for trial to use indefinitely with all the features you would need in a project management tool with a cap of 5 members in an account.
											<br>
											If you are a startup trying to get off the ground, that's another monthly bill you don't have to worry about.</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="flush-headingfour">
										  <button class="accordion-button collapsed h5 bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
											<img src="assets/images/faq.png" class="me-2">Security Concern
										  </button>
										</h2>
										<div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
										  <div class="accordion-body h6">We will use appropriate physical, technical and administrative safeguards to protect your data.  Access to your personal data will be restricted to only those who need to know that information and required to perform their job function.  In addition, we train our employees about the importance of maintaining the confidentiality and security of your information.
											<br>
											If you are a startup trying to get off the ground, that's another monthly bill you don't have to worry about.</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="flush-headingfive">
										  <button class="accordion-button collapsed h5 bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapseTfive">
											<img src="assets/images/faq.png" class="me-2"> Deletion of Data
										  </button>
										</h2>
										<div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
										  <div class="accordion-body h6">Absolutely! Dental LIVE  is completely free for trial to use indefinitely with all the features you would need in a project management tool with a cap of 5 members in an account.
										   <br>
											If you are a startup trying to get off the ground, that's another monthly bill you don't have to worry about.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<h5>Information You Provide</h5>
					<p>The types of information that Wiley collects directly from you or through your use of our websites and services may include the following depending on how you interact with Wiley:</p>
					<ul>
						<li>Contact details, such as your name, email address, postal address, username, and telephone number;</li>
						<li>Internet Protocol ("IP") addresses used to connect your computer to the Internet;</li>
						<li>Educational and professional interests;</li>
						<li>Tracking codes such as cookies;</li>
						<li>Usernames and passwords;</li>
						<li>Payment information, such as a credit or debit card number;</li>
						<li>Comments, feedback, posts and other content you provide to Wiley (including through a Wiley website);</li>
						<li>Communication preferences;</li>
						<li>Purchase and search history;</li>
						<li>Location-aware services, the physical location of your device in order to provide you with more relevant content for your location;</li>
					</ul>

					<p>Information about your personal preferences, and interests; and<br/>
					Communications with other users of Wiley's services.<br/>
					In order to access certain content and to make use of additional functionality and features of Wiley's websites and services, we may ask you to register for an account by completing and submitting a registration form, which may request additional information.<p>

				</div>
			</div>
		</div>
	</section>
</main>
	
<!-- Footer-->
<footer class="container-fluid" style="color: #5D6A7E;">
	<div class="container footer">
		<div class="row">
			<div class="col-12 col-md-3 pt-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.1s" style="color: #011A3E;">Products</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.1s">
					<li class="mb-3"><a class="text-muted body2" routerLink="/" fragment="Products" style="color: #AEB4BF;"><img src="assets/images/maillogom.png" alt="Dental LIVE Mail"/></a></li> 
					<li class="mb-3"><a class="text-muted body2" routerLink="/" fragment="DentalTalk" style="color: #AEB4BF;"><img src="assets/images/talklogom.png" alt="Dental LIVE Talk"/></a></li>
					<li><a class="text-muted body2" routerLink="/" fragment="DentalPlanner" style="color: #AEB4BF;"><img src="assets/images/plannerlogom.png" alt="Dental LIVE Planner"/></a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-md-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.3s" style="color: #011A3E;">Contact</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.2s">
					<li><span class="text-muted body2 d-flex align-items-center"><i class="bx bx-phone me-1"></i> +1 289 474-5200</span></li>
					<li class="d-flex align-items-center"><i class="bx bx-envelope me-1"></i> <a class="text-muted body2" href="mailto:support@dentallive.com;">support@dentallive.com</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-md-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.3s" style="color: #011A3E;">Links</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.3s">
					<li><a class="text-muted body2" routerLink="/contact-us" fragment="contact">Contact Us</a></li>
					<li><a class="text-muted body2" routerLink="/become-vendor">Become Vendor</a></li>
					<li><a class="text-muted body2" routerLink="/solutions">Solutions</a></li>
					<li><a class="text-muted body2" routerLink="/faq">FAQ's</a></li>
					<li><a class="text-muted body2" routerLink="/privacy-policy">Privacy Policy</a></li>
					<li><a class="text-muted body2" routerLink="/terms-of-use">Terms and Conditions</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-4 ">
				<div class=" wow fadeInUp" data-wow-delay="0.4s">
					<img src="assets/images/safe-and-secure.png" width="80px"/>
					<img src="assets/images/hipaa-logo.png" width="80px"/>
				</div>
			</div>
		</div>
	</div>
	<div class="my-2 footer-bottom" style="border-top:1px solid #D0D6DE;">
		<div class="container ">
			<div class="row pt-4">
				<div class="col-md-4 pb-4">
					<a routerLink="/"><img src="assets/images/Logo_Dark.png" class="wow fadeInUp" data-wow-delay="0.5s"></a>
				</div>
				<div class="col-md-3">
					<div class="text-center social wow fadeInUp" data-wow-delay="0.6s">
						<a href="https://www.facebook.com/dentalive" target="_blank" title="Facebook"><i class="bx bxl-facebook-circle" aria-hidden="true"></i></a>
						<a href="https://www.twitter.com/dentallivemail" target="_blank" title="Twitter"><i class="bx bxl-twitter" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/dentallive" target="_blank" title="Instagram"><i class="bx bxl-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-5 text-md-end text-center">
					<div class="pt-2">
						<p class="text-secondary small wow fadeInUp" data-wow-delay="0.7s"> &copy; {{ currentYear }} DentalLive<sup>TM</sup> All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer end-->
	
<div ngxScrollTop [ngxScrollTopMode]="'classic'" class="go-top active"><i class="fa fa-chevron-up"></i><i class="fa fa-chevron-up"></i></div>
	