<div class="row my-4 mx-2" style="background: rgb(255, 255, 255);">
    <div class="col-lg-7 flex-grow-1" style="min-width: 480px;min-height:480px;">
        <div id="toothGuide">
            <div class="col-12 text-end position-absolute mx-2" style="left:0px;top: 20px;right: 10px;">
                <div class="float-start">
                    <span class="me-3">
                        <input (change)="showLabel=false" class="form-check-input" type="radio" name="numberingSystem"
                            id="hideNumbers" checked>
                        <label class="form-check-label ms-2" for="hideNumbers">
                            No label
                        </label>
                    </span>
                    <span class="me-3">
                        <input (change)="isFdi=false;showLabel=true" class="form-check-input" type="radio"
                            name="numberingSystem" id="isFdi">
                        <label class="form-check-label ms-2" for="isFdi">
                            FDI
                        </label>
                    </span>
                    <span>
                        <input (change)="isFdi=true;showLabel=true" class="form-check-input" type="radio"
                            name="numberingSystem" id="isUniversal">
                        <label class="form-check-label ms-2" for="isUniversal">
                            Universal
                        </label>
                    </span>
                </div>
                <i *ngIf="activeAssignedTeeth" (click)="deleteSelection()" class='me-2 bx bxs-trash float-end'></i>
            </div>
            <div style="position:relative;" class="mapshell">
                <input type="text" name="summary" id="summth">
                <img width="480" height="480" src="../../../../../assets/images/toothfinal.jpg">
                <ul [hidden]="!showLabel" class="adth rdtntn">
                    <li class="idth1" style="left: 8.3em;top: 14em;"><span *ngIf="isFdi">18</span><span
                            *ngIf="!isFdi">1</span>
                        <label>(R)Third Molar</label>
                    </li>
                    <li class="idth2" style="left: 9em;top: 11.1em;"><span *ngIf="isFdi">17</span><span
                            *ngIf="!isFdi">2</span>
                        <label>(R)Second Molar</label>
                    </li>
                    <li class="idth3" style="left: 9.8em;top: 8.1em;"><span *ngIf="isFdi">16</span><span
                            *ngIf="!isFdi">3</span>
                        <label>(R)First Molar</label>
                    </li>
                    <li class="idth4" style="left: 10.6em;top: 5.8em;"><span *ngIf="isFdi">15</span><span
                            *ngIf="!isFdi">4</span>
                        <label>(R)Second Bicuspid</label>
                    </li>
                    <li class="idth5" style="left: 11.6em;top: 3.9em;"><span *ngIf="isFdi">14</span><span
                            *ngIf="!isFdi">5</span>
                        <label>(R)First Bicuspid</label>
                    </li>
                    <li class="idth6" style="left: 13.2em;top: 2.3em;"><span *ngIf="isFdi">13</span><span
                            *ngIf="!isFdi">6</span>
                        <label>(R)cuspid</label>
                    </li>
                    <li class="idth7" style="left: 15.2em;top: 1em;"><span *ngIf="isFdi">12</span><span
                            *ngIf="!isFdi">7</span>
                        <label>(R)Lateral Incisor</label>
                    </li>
                    <li class="idth8" style="left: 17.7em;top: 0.4em;"><span *ngIf="isFdi">11</span><span
                            *ngIf="!isFdi">8</span>
                        <label>(R)Central Incisor</label>
                    </li>
                    <li class="idth9" style="left: 20.5em;top: 0.5em;"><span *ngIf="isFdi">21</span><span
                            *ngIf="!isFdi">9</span>
                        <label>(L)Central Incisor</label>
                    </li>
                    <li class="idth10" style="left: 22.9em;top: 1.3em;"><span *ngIf="isFdi">22</span><span
                            *ngIf="!isFdi">10</span>
                        <label>(L)Lateral Incisor</label>
                    </li>
                    <li class="idth11" style="left: 24.7em;top: 2.8em;"><span *ngIf="isFdi">23</span><span
                            *ngIf="!isFdi">11</span>
                        <label>(L)cuspid</label>
                    </li>
                    <li class="idth12" style="left: 25.8em;top: 4.6em;"><span *ngIf="isFdi">24</span><span
                            *ngIf="!isFdi">12</span>
                        <label>(L)First Bicuspid</label>
                    </li>
                    <li class="idth13" style="left: 26.5em;top: 6.5em;"><span *ngIf="isFdi">25</span><span
                            *ngIf="!isFdi">13</span>
                        <label>(L)Second Bicuspid</label>
                    </li>
                    <li class="idth14" style="left: 27.1em;top: 8.8em;"><span *ngIf="isFdi">26</span><span
                            *ngIf="!isFdi">14</span>
                        <label>(L)First Molar</label>
                    </li>
                    <li class="idth15" style="left: 27.7em;top: 11.7em;"><span *ngIf="isFdi">27</span><span
                            *ngIf="!isFdi">15</span>
                        <label>(L)Second Molar</label>
                    </li>
                    <li class="idth16" style="left: 28em;top: 14.5em;"><span *ngIf="isFdi">28</span><span
                            *ngIf="!isFdi">16</span>
                        <label>(L)Third Molar</label>
                    </li>
                    <li class="idth17" style="left: 27.7em;top: 21em;"><span *ngIf="isFdi">38</span><span
                            *ngIf="!isFdi">17</span>
                        <label>(L)Third Molar</label>
                    </li>
                    <li class="idth18" style="left: 26.9em;top: 23.9em;"><span *ngIf="isFdi">37</span><span
                            *ngIf="!isFdi">18</span>
                        <label>(L)Second Molar</label>
                    </li>
                    <li class="idth19" style="left: 25.7em;top: 26.5em;"><span *ngIf="isFdi">36</span><span
                            *ngIf="!isFdi">19</span>
                        <label>(L)First Molar</label>
                    </li>
                    <li class="idth20" style="left: 24.5em;top: 28.7em;"><span *ngIf="isFdi">35</span><span
                            *ngIf="!isFdi">20</span>
                        <label>(L)Second Bicuspid</label>
                    </li>
                    <li class="idth21" style="left: 23.4em; top: 30.5em;"><span *ngIf="isFdi">34</span><span
                            *ngIf="!isFdi">21</span>
                        <label>(L)First Bicuspid</label>
                    </li>
                    <li class="idth22" style=" left: 22em; top: 32.1em;"><span *ngIf="isFdi">33</span><span
                            *ngIf="!isFdi">22</span>
                        <label>(L)cuspid</label>
                    </li>
                    <li class="idth23" style=" left: 20.3em; top: 33.3em;"><span *ngIf="isFdi">32</span><span
                            *ngIf="!isFdi">23</span>
                        <label>(L)Lateral Incisor</label>
                    </li>
                    <li class="idth24" style=" left: 18.5em; top: 33.8em;"><span *ngIf="isFdi">31</span><span
                            *ngIf="!isFdi">24</span>
                        <label>(L)Central Incisor</label>
                    </li>
                    <li class="idth25" style=" left: 16.5em; top: 33.8em;"><span *ngIf="isFdi">41</span><span
                            *ngIf="!isFdi">25</span>
                        <label>(R)Central Incisor</label>
                    </li>
                    <li class="idth26" style=" left: 14.6em; top: 33.2em;"><span *ngIf="isFdi">42</span><span
                            *ngIf="!isFdi">26</span>
                        <label>(R)Lateral Incisor</label>
                    </li>
                    <li class="idth27" style=" left: 13.1em; top: 31.9em;"><span *ngIf="isFdi">43</span><span
                            *ngIf="!isFdi">27</span>
                        <label>(R)cuspid</label>
                    </li>
                    <li class="idth28" style=" left: 11.6em; top: 30.3em;"><span *ngIf="isFdi">44</span><span
                            *ngIf="!isFdi">28</span>
                        <label>(R)First Bicuspid</label>
                    </li>
                    <li class="idth29" style=" left: 10.6em; top: 28.5em;"><span *ngIf="isFdi">45</span><span
                            *ngIf="!isFdi">29</span>
                        <label>(R)Second Bicuspid</label>
                    </li>
                    <li class="idth30" style=" left: 9.6em; top: 26.3em;"><span *ngIf="isFdi">46</span><span
                            *ngIf="!isFdi">30</span>
                        <label>(R)First Molar</label>
                    </li>
                    <li class="idth31" style=" left: 8.7em; top: 23.5em;"><span *ngIf="isFdi">47</span><span
                            *ngIf="!isFdi">31</span>
                        <label>(R)Second Molar</label>
                    </li>
                    <li class="idth32" style=" left: 7.8em; top: 20.8em;"><span *ngIf="isFdi">48</span><span
                            *ngIf="!isFdi">32</span>
                        <label>(R)Third Molar</label>
                    </li>
                </ul>
                <canvas width="480" height="480" id="rclkmap"></canvas>
                <canvas width="480" height="480" id="rassgmap"></canvas>
                <canvas width="480" height="480" id="rhovmap"></canvas>
                <canvas width="480" height="480" id="rcurrmap"></canvas>
                <img width="480" height="480" src="../../../../../assets/images/toothfinal.jpg"
                    style="position: relative;opacity:0;" id="rmap12" usemap="#rtoothimgMap">
                <map (mouseleave)="hoverTeeth($event,false)" (mouseover)="hoverTeeth($event,true)"
                    (click)="clickTeeth($event)" id="rtooth_map" name="rtoothimgMap">
                    <area id="idth1" shape="poly"
                        coords="116,219,128,218,137,208,137,202,137,194,129,188,120,186,112,184,105,183,96,187,94,196,93,203,95,209,104,215,110,218,116">
                    <area id="idth2" shape="poly"
                        coords="111,147,103,151,99,162,100,172,105,178,114,183,123,186,131,189,141,186,145,178,147,168,144,157,133,152,124,148,117,147">
                    <area id="idth3" shape="poly"
                        coords="114,113,110,122,110,130,112,140,118,145,126,148,134,152,143,154,151,152,155,144,159,136,158,126,155,120,151,120,147,115,137,111,131,110,126,110,119,111">
                    <area id="idth4" shape="poly"
                        coords="128,91,124,96,124,102,127,108,136,110,142,112,146,115,154,115,163,113,167,107,168,102,164,94,154,91,148,88,140,86,135,88">
                    <area id="idth5" shape="poly"
                        coords="154,61,144,66,137,74,140,83,148,87,160,93,171,91,180,85,177,74,171,68,167,67,159,62">
                    <area id="idth6" shape="poly"
                        coords="179,38,171,40,162,46,155,53,157,59,162,62,168,67,172,69,177,72,185,71,191,69,193,62,191,53,190,47,184,42">
                    <area id="idth7" shape="poly"
                        coords="207,22,201,24,193,26,188,29,184,35,186,43,193,49,200,54,209,55,216,49,217,40,216,31,211,26">
                    <area id="idth8" shape="poly"
                        coords="249,15,239,13,231,13,222,14,215,16,214,26,218,33,221,42,226,47,234,49,241,48,248,43,252,38,252,27">
                    <area id="idth9" shape="poly"
                        coords="290,22,287,19,277,17,267,15,259,14,253,17,252,23,253,33,255,41,261,47,270,50,277,48,284,43,287,36,289,30">
                    <area id="idth10" shape="poly"
                        coords="316,36,309,30,302,27,295,26,289,31,286,44,287,52,292,55,300,57,307,56,313,49,317,44">
                    <area id="idth11" shape="poly"
                        coords="336,49,327,45,319,44,313,51,308,58,305,64,308,71,313,76,320,77,327,74,332,70,341,67,342,60,340,55">
                    <area id="idth12" shape="poly"
                        coords="359,84,354,75,346,71,341,68,333,71,329,75,321,77,316,85,318,94,324,98,332,99,342,96,349,94,356,90">
                    <area id="idth13" shape="poly"
                        coords="368,105,362,100,355,95,345,96,335,99,328,101,323,108,326,116,333,123,341,123,352,120,363,117,368,113">
                    <area id="idth14" shape="poly"
                        coords="380,136,377,124,364,119,354,120,339,124,329,128,328,139,331,152,334,157,342,160,347,160,354,158,366,154,373,151,378,144"
                        class="rsel">
                    <area id="idth15" shape="poly"
                        coords="388,169,385,163,377,157,370,154,362,156,349,160,339,166,337,175,339,179,341,187,346,194,352,196,363,194,373,191,381,185,386,178">
                    <area id="idth16" shape="poly"
                        coords="390,212,388,203,384,195,376,192,366,195,352,196,343,200,341,207,344,210,343,218,347,224,352,227,363,226,373,226,384,221,387,217">
                    <area id="idth17" shape="poly"
                        coords="365,277,352,276,346,279,341,286,340,290,342,299,347,304,353,306,362,308,372,305,380,300,383,291,378,284,372,278">
                    <area id="idth18" shape="poly"
                        coords="374,327,370,317,365,311,356,308,345,307,337,310,333,317,330,324,330,333,333,339,338,341,345,344,353,345,362,342,370,338">
                    <area id="idth19" shape="poly"
                        coords="356,354,351,347,340,345,332,343,325,345,320,348,319,354,315,363,316,370,321,374,328,378,339,380,349,377,356,376,358,370,361,364,359,359">
                    <area id="idth20" shape="poly"
                        coords="336,400,341,393,338,386,333,381,329,378,321,374,313,376,306,383,304,390,308,396,313,400,322,403,329,402">
                    <area id="idth21" shape="poly"
                        coords="325,419,321,407,316,402,306,399,298,399,291,404,288,409,292,415,298,421,303,426,315,424,320,422">
                    <area id="idth22" shape="poly"
                        coords="276,426,277,433,278,440,283,444,292,443,301,440,304,432,301,425,295,420,286,419,280,420,275,423">
                    <area id="idth23" shape="poly"
                        coords="256,456,267,454,276,450,281,446,276,440,271,434,263,434,257,437,256,447" data-rarr=""
                        data-rsumm="">
                    <area id="idth24" shape="poly"
                        coords="230,458,239,460,250,459,256,457,253,447,249,441,244,439,238,443,233,452" data-rarr=""
                        data-rsumm="">
                    <area id="idth25" shape="poly"
                        coords="205,455,214,459,219,460,227,460,231,454,230,446,226,439,221,437,215,442,207,448"
                        data-rarr="" data-rsumm="">
                    <area id="idth26" shape="poly"
                        coords="184,437,181,444,187,447,194,451,199,454,205,454,206,444,208,437,206,432,201,430,194,430,188,433">
                    <area id="idth27" shape="poly"
                        coords="180,416,168,418,163,419,159,425,162,431,166,438,176,439,184,436,188,429,191,424,188,417">
                    <area id="idth28" shape="poly"
                        coords="151,397,144,403,142,414,151,422,160,422,167,417,174,413,177,404,173,399,166,396,156,396">
                    <area id="idth29" shape="poly"
                        coords="155,373,143,372,134,375,129,380,127,390,130,398,141,399,148,398,159,392,162,381,159,377">
                    <area id="idth30" shape="poly"
                        coords="146,341,132,339,125,339,115,342,112,349,108,357,112,367,121,374,131,376,144,370,153,365,156,359,153,349">
                    <area id="idth31" shape="poly"
                        coords="128,304,116,304,104,309,98,314,97,323,100,329,104,338,113,341,124,340,134,336,140,330,142,319,136,310">
                    <area id="idth32" shape="poly"
                        coords="91,279,90,287,91,292,94,298,101,303,108,304,114,303,125,300,130,293,128,285,125,278,119,273,106,272,98,275">
                </map>
            </div>
            <h6 *ngIf="!activeAssignedTeeth && selectedTeeths.length==0"
                class="w-100 text-center text-danger fw-bold mt-2">Select a tooth
            </h6>
        </div>
    </div>
    <div [ngClass]="{'disabled': (!activeAssignedTeeth && selectedTeeths.length==0)}"
        class="col-lg-3 mt-4 mt-md-0 mx-auto mw-custom border-start border-3" style="max-width: 25em;">
        <h6 class="fw-bold mt-3">Tooth selections for <span
                *ngIf="activeAssignedTeeth">{{getToothName(activeAssignedTeeth)}}</span> <span
                *ngFor="let tooth of selectedTeeths,let i=index"><span *ngIf="i>0"> ,</span>
                {{getToothName(tooth)}}</span></h6>
        <div (click)="addSelections($event)" class="selectionTree mb-4 border rounded p-2" id="referralTree"></div>
        <div class="mb-4">
            <h6 class="fw-bold">
                Tooth notes for <span *ngIf="activeAssignedTeeth">{{getToothName(activeAssignedTeeth)}}</span> <span
                    *ngFor="let tooth of selectedTeeths,let i=index"><span *ngIf="i>0"> ,</span>
                    {{getToothName(tooth)}}</span></h6>
            <textarea style="background-color: #efefef;" rows="3" #notes (input)="addNotes($event)"
                class="d-block w-100 p-2 border-0 rounded"></textarea>
        </div>
    </div>
    <div class="col-lg-2 mt-4 mt-md-0 mx-auto mw-custom border-start border-3" style="max-width: 25em;">
        <h6 class="fw-bold mt-3">Selections summary</h6>
        <div class="{{activeAssignedTeeth==selection.key ? 'bg-info bg-gradient border rounded p-2 mb-1' : 'border rounded p-2 mb-1'}}"
            *ngFor="let selection of getToothGuideAsArray()">
            <a data-bs-toggle="collapse" href="#sel_{{selection.key}}" role="button">
                <h6 style="color:black"><i class='bx bx-plus'></i>{{selection.name}}</h6>
            </a>

            <div class="collapse show border-top py-2 my-1" id="sel_{{selection.key}}">
                <small class="fw-bold d-block">Notes</small>
                <small class="d-block"><span *ngIf="!selection.notes">No notes</span>{{selection.notes}}</small>
                <small class="fw-bold d-block">Selections</small>
                <span *ngIf="!selection.selctions || selection.selctions.length==0">No selections</span>
                <li class="py-1" *ngFor="let value of selection.selctions">
                    <small>
                        {{getCheckboxName(value)}}
                    </small>
                </li>
            </div>
        </div>
    </div>
    <!--<button (click)="setToothGuide(toothGuide)">test</button>-->
</div>