<ol *ngIf="!hasCase" class="breadcrumb">
    <!-- breadcrumb -->
    <li class="breadcrumb-item">
        <a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        <a routerLink="{{ formInterface.section.backUrl }}">Milestones</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ mode }} Milestone
    </li>
</ol>

<div *ngIf="
    formInterface.isUploadingData ||
    formInterface.isLoadingData ||
    formInterface.isLoadingDependencies
  " class="row">
    <div class="col-md-12">
        <lottie-player class="mt-3 m-auto"
                       src="https://assets6.lottiefiles.com/packages/lf20_fhsx0ijl/lottie/collections-feature.json"
                       background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></lottie-player>
        <h6 class="text-center mt-5">
            Request Processing …..Please Wait, Do Not Close The Page
        </h6>
    </div>
</div>

<div [hidden]="
    formInterface.isUploadingData ||
    formInterface.isLoadingData ||
    formInterface.isLoadingDependencies
  " class="row align-items-center pt-2">


    <div *ngIf="!hasCase && patientObject" class="page-header d-sm-flex">
        <div class="d-sm-flex d-block">
            <div class="profile-img justify-content-center p-md-2 me-3">
                <img [src]="
                                        patientObject?.image
                                          ? utility.apiData.patients.bucketUrl +
                                            patientObject.image
                                          : '../../assets/images/users.png'" alt="" class="mb-2">
            </div>
        </div>
        <div class=" d-inline-block">
            <h3 class="mt-2 fw-normal">
                {{patientObject?.firstName+"
                "+patientObject?.lastName}} <small>({{
                    patientObject?.dob
                    ? (patientObject.dob | date :"MMM d, y")
                    : null
                    }})</small>
                <span *ngIf="caseObject" class="fw-bold d-block">{{ caseObject?.title}}</span>
            </h3>
            <div *ngIf="!caseObject" class="text-blue fw-bold">
                {{this.utility
                .getMetaData(
                this.utility.getMetaData(
                patientObject?.patientId,
                'patientId',
                ['practiceId'],
                'patients'
                ),
                "practiceId",
                ["practiceName"],
                "practices"
                )}}
            </div>
            <div *ngIf="caseObject">
                <div>
                    <strong>{{this.utility
                        .getMetaData(
                        caseObject?.resourceOwner,
                        "emailAddress",
                        ["accountfirstName","accountlastName"],
                        "users"
                        )}}
                    </strong>
                </div>

                <div class="text-blue fw-bold">
                    {{this.utility
                    .getMetaData(
                    this.utility.getMetaData(
                    caseObject?.patientId,
                    'patientId',
                    ['practiceId'],
                    'patients'
                    ),
                    "practiceId",
                    ["practiceName"],
                    "practices"
                    )}}
                </div>


                <div class="text-danger mt-1 fw-bold">
                    {{caseObject?.caseRunningStatus && caseObject?.caseRunningStatus>'1'?"(Case Closed)":""}}
                </div>
            </div>
        </div>
    </div>


    <form #mainForm="ngForm" id="mainForm" (ngSubmit)="customSubmit(mainForm)">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header border-bottom-0 bg-white">
                    <div class="row">
                        <div class="col-md-5 align-self-center">
                            <h5 class="body1 card-title my-2">
                                {{ mode }} Milestone
                                <a tippy="Tutorial" target="_blank" [routerLink]="
                    '/tutorial/' +
                    utility.tutorialData['MilestoneAddComponent'].html
                  ">
                                    <i class="bx bxs-info-circle text-primary"></i></a>
                            </h5>
                        </div>
                        <div class="col-md-7 text-end">
                            <a [routerLink]="
                  hasCase
                    ? '/cases/cases/case-view/' +
                      this.formInterface.object.caseId +
                      '/milestones'
                    : formInterface.section.backUrl
                " class="btn btn-default">Back
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="background: #e4f0ff">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label class="form-label body2 text-dark">Patients</label>
                                    <ng-select [disabled]="hasPatient" [ngModel]="formInterface.object.patientId"
                                               dropdownPosition="bottom" [items]="formInterface.dependentData['patients']"
                                               [editableSearchTerm]="true" (change)="selectPatient($event?.patientId?$event?.patientId:null)"
                                               name="patientId" placeholder="Please Select A Patient To Continue" bindLabel="fullName"
                                               bindValue="patientId" required></ng-select>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label body2 text-dark">Case Title</label>
                                    <ng-select [disabled]="hasCase" #caseSelect dropdownPosition="bottom" [items]="currentCases"
                                               [(ngModel)]="formInterface.object.caseId" [editableSearchTerm]="true"
                                               (change)="selectCase($event?.caseId?$event?.caseId:null)" name="caseId"
                                               placeholder="Please Select A Case To Continue" bindLabel="title" bindValue="caseId"
                                               required></ng-select>
                                </div>

                                <!-- <div *ngIf="!hasCase" class="col-md-6 mb-4">
                  <label class="form-label body2 text-dark">Case Title</label>
                  <ng-select dropdownPosition="bottom" [items]="formInterface.dependentData['cases']"
                    [(ngModel)]="formInterface.object.caseId" [editableSearchTerm]="true" (change)="selectCase($event)"
                    name="caseId" placeholder="Please Select A Case To Continue" bindLabel="title" bindValue="caseId"
                    required></ng-select>
                </div> -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label body2 text-dark">Title </label>
                                        <input class="form-control" type="text" placeholder="Enter Title" name="title" id="title"
                                               [(ngModel)]="formInterface.object.title" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <label class="form-label body2 text-dark">Description</label>
                                        <app-cvfast-new #cvfast></app-cvfast-new>
                                    </div>
                                </div>
                                <div class="col-ms-6 col-md-4">
                                    <div class="mb-4">
                                        <label class="form-label body2 mb-3 text-dark">Start Date & Time</label>
                                        <input #startDate type="datetime-local" class="form-control" name="startdate" id="startdate"
                                               max="2050-01-01" [min]="currentDate | date : 'yyyy-MM-dd hh:mm'" [ngModel]="
                        formInterface.object.startdate
                          | date : 'yyyy-MM-dd hh:mm'
                      " required />
                                    </div>
                                </div>
                                <div class="col-ms-6 col-md-4">
                                    <div class="mb-4">
                                        <label class="form-label body2 mb-3 text-dark">Due Date & Time</label>
                                        <input type="datetime-local" class="form-control" name="duedate" max="2050-01-01" id="duedate"
                                               [min]="startDate.value" [ngModel]="
                        formInterface.object.duedate
                          ? (formInterface.object.duedate
                            | date : 'yyyy-MM-dd hh:mm')
                          : null
                      " required />
                                        <owl-date-time #dt1></owl-date-time>
                                    </div>
                                </div>
                                <div class="col-ms-6 col-md-4">
                                    <div class="mb-4">
                                        <label class="form-label body2 mb-3 text-dark">Add Reminder</label>
                                        <select class="form-select" name="reminder" id="reminder" [ngModel]="formInterface.object.reminder"
                                                (ngModelChange)="toInt('reminder', $event)" required>
                                            <option value="0">Select</option>
                                            <option value="12" selected>12 Hours</option>
                                            <option value="24">1 Day</option>
                                            <option value="48">2 Days</option>
                                            <option value="72">3 Days</option>
                                            <option value="120">5 Days</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-light-green  me-2">
                <i class="bx bx-save"></i>Save Milestone
            </button>
            <a [routerLink]="
          hasCase
            ? '/cases/cases/case-view/' +
              this.formInterface.object.caseId +
              '/milestones'
            : formInterface.section.backUrl
        " class="btn btn-secondary">Cancel</a>
            <!-- <button
        *ngIf="formInterface.object.milestoneId"
        (click)="formInterface.deleteData(formInterface.object.milestoneId)"
        type="button"
        class="btn btn-danger me-2 float-end"
      >
        Delete Milestone
      </button> -->
        </div>
    </form>
</div>