<header class="w-100 overflow-hidden main_landing header-style">
	<nav class="navbar navbar-expand-md navbar-dark border-bottom wow fadeInDown" data-wow-delay="0.4s"  style=" background-color: #fff !important;">
		<div class="container">
			<a class="navbar-brand" routerLink="/"><img src="assets/images/Logo_Dark.png" /></a>
			<div class="text-center hipaa-logo">
				<img src="assets/images/hipaa-logo.png" class="minlg" />
				<img src="assets/images/logo_footer3.png" class="maxmd" />
			</div>
			<button class="navbar-toggler collapsed" data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse" type="button" aria-expanded="false">
				<span class="navbar-toggler-icon"> <i class="fa fa-bars"></i></span>
			</button>
			<div class="collapse navbar-collapse mt-1" id="collapsibleNavbar">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/" fragment="Products" style="color:#011A3E;">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/solutions" routerLinkActive="active" style="color: #011A3E;">Solutions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/" fragment="Plans" style="color: #011A3E;">Plans</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/become-vendor" routerLinkActive="active" style="color: #011A3E;">Vendor</a>
					</li>
				</ul>
				<div class="dropdown-divider"></div>
				<div class="text-center social wow fadeInUp me-md-2 me-lg-4 d-none d-lg-block" data-wow-delay="0.6s">
					<a href="https://www.facebook.com/dentalive" target="_blank" title="Facebook"><i class="bx bxl-facebook-circle" aria-hidden="true"></i></a>
					<a href="https://www.twitter.com/dentallivemail" target="_blank" title="Twitter"><i class="bx bxl-twitter" aria-hidden="true"></i></a>
					<a href="https://www.instagram.com/dentallive" target="_blank" title="Instagram"><i class="bx bxl-instagram" aria-hidden="true"></i></a>
				</div>
				<ul class="navbar-nav mb-md-0 ml-auto">
					<li class="nav-item">
					  <a routerLink="/auth/login" routerLinkActive="active" class="btn btn-primary me-2 my-1">Login</a>
					</li>
					<li class="nav-item">
					  <a routerLink="/auth/signup" routerLinkActive="active" class="btn btn-dark my-1">Sign Up </a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<nav class="navbar-expand-md nav_bar pt-1 border-bottom wow fadeInDown" data-wow-delay="0.4s"  style="height: 50px;">
		<div class="container">
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item ">
						<a class="nav-link bold activenav py-md-0" routerLink="/" fragment="Products" style="color: #011A3E;"><img src="assets/images/maillogom.png" alt="Dental LIVE Mail"/></a>
					</li>
					<li class="nav-item ">
						<a class="nav-link bold py-md-0" routerLink="/" fragment="DentalTalk" style="color: #011A3E;"><img src="assets/images/talklogom.png" alt="Dental LIVE Talk"/></a>         
					</li>
					<li class="nav-item ">
						<a class="nav-link bold py-md-0" routerLink="/" fragment="DentalPlanner" style="color: #011A3E;"><img src="assets/images/plannerlogom.png" alt="Dental LIVE Planner"/></a>         
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="hero-section">
	<div class="container">
		<div class="d-flex row  align-items-md-center justify-content-center">
			<div class="col-md-12 pt-4 text-center">
			  <h3 class="h1 text-dark wow fadeInUp" data-wow-delay="0.5s">Redefine the way you communicate!</h3>
			  <h3 class="h1 text-dark  wow fadeInUp" data-wow-delay="0.6s"> Welcome to your <span class="bold" style="color:#2f80ed;">audio-visual emailing platform.</span></h3>
				<div class="text-center my-2 wow fadeInUp" data-wow-delay="0.7s"  style="justify-content: center;" >
					<a  href="#" class="btn btn-pink mt-2" target="_blank" style="color:#fff;width: 150px;height: 50px;line-height: 32px;">
						Try Now
					</a>
					<div class="mt-4">
					  <a href="#" target="_blank">
						<span class="h5 text-dark body1">Try Dental LIVE free for 60 days</span>
					  </a>
					</div> 
				</div> 
			</div>
		</div>
    </div>
	<div class="container-fluid text-center">
		<img src="assets/images/mail-hero.png" class="hero-image wow fadeIn animated" style="" data-wow-delay="0.6s">
	</div>
</div>
<!-- main section -->
<main class="w-100">
	<section class="pb-0 pt-0">
    <div class="container " id="Products">
      <div class="d-flex row align-items-center justify-content-between ">
        <div class="col-md-6 order-md-first order-last">
          <img src="assets/images/sideicon1.png" style="max-width:50%;" class="wow fadeInLeft" data-wow-delay="0.2s">

          <h1 class="h2 mt-4 wow fadeInLeft" data-wow-delay="0.3s" >Email powered with video, audio and screen recording capabilities
          </h1>
         <p class="body1 py-4 wow fadeInLeft" style="color:#5D6A7E;" data-wow-delay="0.4s">Enjoy multiple unlimited video/audio recordings per email and send emails without file type/size restraints.
         </p>
        </div>
        <div class="col-md-6  mb-5 mb-lg-0">
          <img src="assets/images/videoaudio.png" style="transform: translateZ(0);" class="wow fadeIn" data-wow-delay="0.1s">
        </div>
      </div>
     
    </div>
  </section>
  <section class="pt-2 pb-2">
    <div class="container ">
      <div class="d-flex row align-items-center justify-content-between ">
        <div class="col-md-6  mb-5 mb-lg-0">
          <img src="assets/images/multiple-user.png" style="transform: translateZ(0);" class="wow fadeIn" data-wow-delay="0.1s">
        </div>
        <div class="col-md-6 justify-content-between ">
          <img src="assets/images/sideicon2.png" style="max-width:50%;" class="wow fadeInRight" data-wow-delay="0.2s">

          <h1 class="h2 mt-4 wow fadeInRight" data-wow-delay="0.3s">Multiple-user, patient-centric communication platform
          </h1>
         <p class="body1 py-4 wow fadeInRight" style="color:#5D6A7E;" data-wow-delay="0.4s">Customize controls to sub-users in your practice  (staff, associates) to access patient info and help with communication management.
         </p>
        </div>
      
      </div>
     
    </div>
  </section>
  <section class="pt-0 ">
    <div class="container ">
      <div class="d-flex row align-items-center justify-content-between ">
        <div class="col-md-6 order-md-first order-last">
          <img src="assets/images/sideicon3.png" style="max-width:50%;" class="wow fadeInLeft" data-wow-delay="0.2s" >

          <h1 class="h2 mt-4 wow fadeInLeft" data-wow-delay="0.3s">HIPAA-compliant, encrypted, secure data sharing
          </h1>
         <p class="body1 pt-4 wow fadeInLeft" data-wow-delay="0.4s" style="color:#5D6A7E;">Construct and keep track of your patient-centric database and share securely with HIPAA-compliant software.
         </p>
        </div>
        <div class="col-md-6  mb-5 mb-lg-0">
          <img src="assets/images/hipaa.png" style="transform: translateZ(0);" class="wow fadeIn" data-wow-delay="0.1s">
        </div>
      </div>
     
    </div>
  </section>
  
	<!-- Subscribe  -->
	<section class="Subscribe-banner-area">
		<div class="container bg-color-three">
			<div class="d-flex row align-items-center justify-content-center">
				<div class="col-lg-7 col-md-8">
					<div class="py-2 text-center ">
						<h4 class=" wow fadeInUp py-4" data-wow-delay="0.2s">Subscribe to get <img src="assets/images/DentalLIVE.png" height="32px"/> <br/>special features!</h4>
						<div class="d-flex  align-items-center justify-content-center flex-column"  >
						<form (ngSubmit)="createProduct()" [formGroup]="solutionform" #myForm="ngForm">	
							<div *ngIf="success">
								<div class="alert alert-success alert-dismissible fade show" role="alert">
								  Thank you for subscribing us!
								  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							</div>
							<div class="d-flex align-items-center justify-content-center flex-column flex-xs-row" style="flex-direction: row !important;"> 
								<input type="email" class="form-control me-2" id="email_id" name="email_id" formControlName="email_id" [ngClass]="{ 'ng-touched': submitted }" [(ngModel)]="product.email_id" required="true"  placeholder="Enter Your Email "  />
								<button type="submit" class="btn btn-primary " style="padding: 11px 20px;" >Subscribe</button>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Subscribe end  -->
</main>
<!-- main section end -->

<!-- Footer-->
<footer class="container-fluid" style="color: #5D6A7E;">
	<div class="container footer">
		<div class="row">
			<div class="col-12 col-md-3 pt-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.1s" style="color: #011A3E;">Products</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.1s">
					<li class="mb-3"><a class="text-muted body2" routerLink="/" fragment="Products" style="color: #AEB4BF;"><img src="assets/images/maillogom.png" alt="Dental LIVE Mail"/></a></li> 
					<li class="mb-3"><a class="text-muted body2" routerLink="/" fragment="DentalTalk" style="color: #AEB4BF;"><img src="assets/images/talklogom.png" alt="Dental LIVE Talk"/></a></li>
					<li><a class="text-muted body2" routerLink="/" fragment="DentalPlanner" style="color: #AEB4BF;"><img src="assets/images/plannerlogom.png" alt="Dental LIVE Planner"/></a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-md-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.3s" style="color: #011A3E;">Contact</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.2s">
					<li><span class="text-muted body2 d-flex align-items-center"><i class="bx bx-phone me-1"></i> +1 289 474-5200</span></li>
					<li class="d-flex align-items-center"><i class="bx bx-envelope me-1"></i> <a class="text-muted body2" href="mailto:support@dentallive.com;">support@dentallive.com</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-md-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.3s" style="color: #011A3E;">Links</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.3s">
					<li><a class="text-muted body2" routerLink="/contact-us" fragment="contact">Contact Us</a></li>
					<li><a class="text-muted body2" routerLink="/become-vendor">Become Vendor</a></li>
					<li><a class="text-muted body2" routerLink="/solutions">Solutions</a></li>
					<li><a class="text-muted body2" routerLink="/faq">FAQ's</a></li>
					<li><a class="text-muted body2" routerLink="/privacy-policy">Privacy Policy</a></li>
					<li><a class="text-muted body2" routerLink="/terms-of-use">Terms and Conditions</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-4 ">
				<div class=" wow fadeInUp" data-wow-delay="0.4s">
					<img src="assets/images/safe-and-secure.png" width="80px"/>
					<img src="assets/images/hipaa-logo.png" width="80px"/>
				</div>
			</div>
		</div>
	</div>
	<div class="my-2 footer-bottom" style="border-top:1px solid #D0D6DE;">
		<div class="container ">
			<div class="row pt-4">
				<div class="col-md-4 pb-4">
					<a routerLink="/"><img src="assets/images/Logo_Dark.png" class="wow fadeInUp" data-wow-delay="0.5s"></a>
				</div>
				<div class="col-md-3">
					<div class="text-center social wow fadeInUp" data-wow-delay="0.6s">
						<a href="https://www.facebook.com/dentalive" target="_blank" title="Facebook"><i class="bx bxl-facebook-circle" aria-hidden="true"></i></a>
						<a href="https://www.twitter.com/dentallivemail" target="_blank" title="Twitter"><i class="bx bxl-twitter" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/dentallive" target="_blank" title="Instagram"><i class="bx bxl-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-5 text-md-end text-center">
					<div class="pt-2">
						<p class="text-secondary small wow fadeInUp" data-wow-delay="0.7s"> &copy; {{ currentYear }} DentalLive<sup>TM</sup> All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer end-->

<div ngxScrollTop [ngxScrollTopMode]="'classic'" class="go-top active"><i class="fa fa-chevron-up"></i><i class="fa fa-chevron-up"></i></div>