<ol class="breadcrumb">
  <!-- breadcrumb -->
  <li class="breadcrumb-item">
    <a routerLink="/dashboard"
      ><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a
    >
  </li>
</ol>
<div class="page-header row align-items-center gx-0">
  <div class="col-md-6">
    <h3 class="fw-bold">
      Dashboard
      <a
       tippy="Tutorial"
        target="_blank"
        [routerLink]="
          '/tutorial/' + utility2.tutorialData['DashboardComponent'].html
        "
      >
        <i class="bx bxs-info-circle text-primary"></i
      ></a>
    </h3>
  </div>
  <div class="col-md-6 text-end">
    <a routerLink="/cases/cases/case-add" class="btn btn-pink my-1">
      <i class="bx bx-briefcase-alt"></i> Start a Case
    </a>
    <a routerLink="/patients/patient-add" class="btn btn-default my-1 ms-2">
      <i class="bx bx-plus-circle"></i> Add Patient
    </a>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12 col-lg-7">
    <div class="row gy-4">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <a routerLink="/cases/cases">
          <div class="card dashboard-card">
            <div class="card-body">
              <div class="float-start">
                <i class="bx bx-refresh dicon"></i>
                <h5>Case Updates</h5>
              </div>
              <div class="counter">
                <span>{{ this.caseCount }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <a routerLink="/workorders">
          <div class="card dashboard-card2">
            <div class="card-body">
              <div class="float-start">
                <i class="bx bx-briefcase-alt dicon"></i>
                <h5>Work Orders</h5>
              </div>
              <div class="counter">
                <span>{{ this.workworderCount }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <a routerLink="/caseinvites/invitation-lists">
          <div class="card dashboard-card3">
            <div class="card-body">
              <div class="float-start">
                <i class="bx bx-file dicon"></i>
                <h5>Invitations</h5>
              </div>
              <div class="counter">
                <span>{{ this.caseinvitationCount }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <a routerLink="/mail">
          <div class="card dashboard-card4">
            <div class="card-body">
              <div class="float-start">
                <i class="bx bxs-inbox dicon"></i>
                <h5>Inbox</h5>
              </div>
              <div class="counter">
                <span>{{ this.inboxCount }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card dashboard-card">
          <div class="card-body align-items-center">
            <div class="float-start">
              <i class="bx bxs-data dicon"></i>
              <h5>Storage</h5>
            </div>
            <a routerLink="/accounts/details/usage">
              <span class="fs-6 fw-bold isCursor"
                >{{ formatData(storage) }} of {{ storage?.total }} GB Used</span
              >
            </a>
            <button
              *ngIf="getStoragePercentage(storage) > 90"
              routerLink="/accounts/packages"
              class="btn-primary btn mt-4 float-end"
            >
              Upgrade Now
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow-sm mt-4">
      <div class="card-header border-bottom-0 bg-white">
        <div class="row">
          <div class="col-7 col-md-7 align-self-center">
            <h5 class="body1 card-title my-2">Upcoming Meetings</h5>
          </div>
          <div class="col-5 col-md-5">
            <div
              class="d-flex flex-wrap align-items-center justify-content-end"
            >
              <a routerLink="/meet" class="btn btn-light-green my-1 py-1 px-2"
                >View All</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-0 pb-1">
        <div class="table-responsive">
          <table class="table table-hover table-nowrap align-middle mb-2">
            <thead class="thead-light">
              <tr style="text-transform: uppercase">
                <th class="body2" width="65%">MEETING TITLE</th>
                <th class="body2" width="35%">MEETING DATE/TIME</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let meeting of upcomingMeetings">
                <td>
                  <div class="d-flex align-items-center">
                    <span class="avatar-icon avatar-vs"></span>
                    <a routerLink="/meet">
                      <span class="ps-2 body2 d-block">{{
                        meeting.subject
                      }}</span>
                    </a>
                  </div>
                </td>
                <td>
                  <span class="body2 text-muted">{{
                    meeting.datetime | date : "short"
                  }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-lg-5">
    <div class="card shadow-sm mt-4 mt-lg-0">
      <div class="card-header border-bottom-0 bg-white">
        <div class="row">
          <div class="col-7 col-md-7 align-self-center">
            <h5 class="body1 card-title my-2">Milestones Alert</h5>
          </div>
          <div class="col-5 col-md-5">
            <div
              class="d-flex flex-wrap align-items-center justify-content-end"
            >
              <a
                routerLink="/milestones"
                class="btn btn-light-green my-1 py-1 px-2"
                >View All</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-0 pb-1">
        <div class="table-responsive">
          <table
            *ngIf="messageAry"
            class="table table-hover table-nowrap align-middle mb-2"
          >
            <thead class="thead-light">
              <tr style="text-transform: uppercase">
                <th class="body2" width="50%">MILESTONE NAME</th>
                <th class="body2" width="50%">DUE DATE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let milestone of milestones">
                <td>
                  <div class="d-flex align-items-center">
                    <span class="avatar-icon avatar-vs"></span>
                    <a
                      routerLink="/milestones/milestone-details/{{
                        milestone.milestoneId
                      }}"
                    >
                      <span class="ps-2 body2 d-block">{{
                        milestone.title
                      }}</span>
                    </a>
                  </div>
                </td>
                <td>
                  <span class="body2 text-muted">{{
                    milestone.duedate | date : "MM/dd/yyyy"
                  }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
