<header class="w-100 overflow-hidden header-style">
      <nav data-wow-delay="0.4s" class="navbar navbar-expand-md navbar-dark border-bottom wow fadeInDown"
           style="background-color: rgb(255, 255, 255) !important; visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
            <div class="container">
                  <a class="navbar-brand" routerLink=""><img src="assets/images/Logo_Dark.png"></a>
                  <a class="text-center hipaa-logo" href="https://compliancy-group.com/" target="_blank"><img
                             src="assets/images/hipaa-logo.png" class="minlg"><img src="assets/images/logo_footer3.png"
                             class="maxmd"></a>
                  <button data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse" type="button" aria-expanded="false"
                          class="navbar-toggler collapsed"><span class="navbar-toggler-icon"><i
                                 class="fa fa-bars"></i></span></button>
                  <div id="collapsibleNavbar" class="collapse navbar-collapse mt-1">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                              <li class="nav-item"><a routerLink="/home" fragment="DentalPlanner" class="nav-link bold"
                                       style="color: #011a3e;">Products</a></li>
                              <li class="nav-item"><a class="nav-link bold" style="color: #011a3e;"
                                       routerLink="/solutions">Solutions</a></li>
                              <li class="nav-item"><a routerLink="/home" fragment="Plans" class="nav-link bold"
                                       style="color: #011a3e;">Plans</a></li>
                              <li class="nav-item"><a class="nav-link bold" style="color: #011a3e;"
                                       routerLink="/become-vendor">Vendor</a></li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <div data-wow-delay="0.6s" class="text-center social wow fadeInUp me-md-2 me-lg-4 d-none d-lg-block"
                             style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                              <a href="https://www.facebook.com/dentalive" target="_blank" title="Facebook"><i aria-hidden="true"
                                       class="bx bxl-facebook-circle"></i></a>
                              <a href="https://twitter.com/dentalliveplans" target="_blank" title="Twitter"><i aria-hidden="true"
                                       class="bx bxl-twitter"></i></a>
                              <a href="https://www.instagram.com/dentalliveplans" target="_blank" title="Instagram"><i
                                       aria-hidden="true" class="bx bxl-instagram"></i></a>
                        </div>
                        <ul class="navbar-nav mb-md-0 ml-auto">
                              <li class="nav-item"><a routerLink="/auth/login" class="btn btn-primary me-2 my-1">Login</a></li>
                              <li class="nav-item"><a routerLink="/auth/signup" class="btn btn-dark my-1">Sign
                                          Up </a></li>
                        </ul>
                  </div>
            </div>
      </nav>
      <nav data-wow-delay="0.4s" class="navbar-expand-md nav_bar pt-1 border-bottom wow fadeInDown"
           style="height: 50px; visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
            <div class="container">
                  <div id="collapsibleNavbar" class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                              <li class="nav-item">
                                    <a routerLink="/dentallive-planner" class="nav-link bold py-md-0" style="color: #011a3e;"><img
                                               src="assets/images/plannerlogom.png" alt="Dental LIVE Planner"></a>
                              </li>
                              <li class="nav-item">
                                    <a routerLink="/dentallive-mail" class="nav-link bold py-md-0" style="color: #011a3e;"><img
                                               src="assets/images/maillogom.png" alt="Dental LIVE Mail"></a>
                              </li>
                              <li class="nav-item">
                                    <a routerLink="/dentallive-talk" class="nav-link bold py-md-0 activenav"
                                       style="color: #011a3e;"><img src="assets/images/talklogom.png" alt="Dental LIVE Talk"></a>
                              </li>
                        </ul>
                  </div>
            </div>
      </nav>
</header>
<div class="hero-section">
      <div class="container">
            <div class="d-flex row  align-items-md-center justify-content-center">
                  <div class="col-md-12 pt-4 text-center">
                        <h3 class="h1 text-dark wow fadeInUp" data-wow-delay="0.5s">Redefine the way you communicate!</h3>
                        <h3 class="h1 text-dark  wow fadeInUp" data-wow-delay="0.6s"> Welcome to your <span class="bold"
                                    style="color:#2f80ed;">virtual conferencing platform.</span></h3>
                        <div class="text-center my-2 wow fadeInUp" data-wow-delay="0.7s" style="justify-content: center;">
                              <a routerLink="/auth/signup" class="btn btn-pink mt-2" target="_blank"
                                 style="color:#fff;width: 150px;height: 50px;line-height: 32px;">
                                    Try Now
                              </a>
                        </div>
                  </div>
            </div>
      </div>
      <div class="container-fluid text-center">
            <img src="assets/images/talk-hero.png" class="hero-image wow fadeIn animated" data-wow-delay="0.6s">
      </div>
</div>
<!-- main section -->
<main class="w-100">
      <section class="pb-0 pt-0">
            <div class="container " id="Products">
                  <div class="d-flex row align-items-center justify-content-between ">
                        <div class="col-md-6 order-md-first order-last">
                              <img src="assets/images/sideicon1.png" style="max-width:50%;" class="wow fadeInLeft"
                                   data-wow-delay="0.2s">
                              <h1 class="h2 mt-4 wow fadeInLeft" data-wow-delay="0.3s">Professional video meeting solution</h1>
                              <ul class="body1 py-4 ps-0 ul wow fadeInLeft" style="color:#5D6A7E;text-align:justify;"
                                  data-wow-delay="0.4s">
                                    <li class="mb-2">
                                          <div class="form-check">
                                                <i class="fa fa-check"></i>
                                                <label class="form-check-label">Secure meetings and data controlled by you.</label>
                                          </div>
                                    </li>
                                    <li class="mb-2">
                                          <div class="form-check">
                                                <i class="fa fa-check"></i>
                                                <label class="form-check-label">Easily manage participants and meeting settings.</label>
                                          </div>
                                    </li>
                                    <li class="mb-2">
                                          <div class="form-check">
                                                <i class="fa fa-check"></i>
                                                <label class="form-check-label">Schedule conferences in seconds and automatically add to
                                                      calendar.</label>
                                          </div>
                                    </li>
                                    <li class="mb-2">
                                          <div class="form-check">
                                                <i class="fa fa-check"></i>
                                                <label class="form-check-label">No time limit on meeting duration, even on free
                                                      trial.</label>
                                          </div>
                                    </li>
                              </ul>
                        </div>
                        <div class="col-md-6  mb-5 mb-lg-0">
                              <img src="assets/images/video-meeting.png" style="transform: translateZ(0);" class="wow fadeIn"
                                   data-wow-delay="0.1s">
                        </div>
                  </div>

            </div>
      </section>
      <section class="pt-2 pb-2">
            <div class="container ">
                  <div class="d-flex row align-items-center justify-content-between ">
                        <div class="col-md-6  mb-5 mb-lg-0">
                              <img src="assets/images/live-chat-and call.png" style="transform: translateZ(0);" class="wow fadeIn"
                                   data-wow-delay="0.1s">
                        </div>
                        <div class="col-md-6 justify-content-between ">
                              <img src="assets/images/sideicon2.png" style="max-width:50%;" class="wow fadeInRight"
                                   data-wow-delay="0.2s">
                              <h1 class="h2 mt-4 wow fadeInRight" data-wow-delay="0.3s">Go from live chat to live call!</h1>
                              <ul class="body1 py-4 ps-0 ul wow fadeInRight" style="color:#5D6A7E;text-align:justify;"
                                  data-wow-delay="0.4s">
                                    <li class="mb-2">
                                          <div class="form-check">
                                                <i class="fa fa-check"></i>
                                                <label class="form-check-label">Visitors can go from chat to voice or video call with
                                                      one click.</label>
                                          </div>
                                    </li>
                                    <li class="mb-2">
                                          <div class="form-check">
                                                <i class="fa fa-check"></i>
                                                <label class="form-check-label">Calls go via the browser - free for the customer and
                                                      you.</label>
                                          </div>
                                    </li>
                                    <li class="mb-2">
                                          <div class="form-check">
                                                <i class="fa fa-check"></i>
                                                <label class="form-check-label">Service customers - resolve support issues
                                                      faster.</label>
                                          </div>
                                    </li>
                                    <li class="mb-2">
                                          <div class="form-check">
                                                <i class="fa fa-check"></i>
                                                <label class="form-check-label">Lower contact barriers - no need to dial a
                                                      number.</label>
                                          </div>
                                    </li>
                              </ul>
                        </div>

                  </div>

            </div>
      </section>
      <section class="pt-0 ">
            <div class="container ">
                  <div class="d-flex row align-items-center justify-content-between ">
                        <div class="col-md-6 order-md-first order-last">
                              <img src="assets/images/sideicon3.png" style="max-width:50%;" class="wow fadeInLeft"
                                   data-wow-delay="0.2s">
                              <h1 class="h2 mt-4 wow fadeInLeft" data-wow-delay="0.3s">HIPAA-compliant, encrypted, secure data
                                    sharing</h1>
                              <p class="body1 pt-4 wow fadeInLeft" data-wow-delay="0.4s" style="color:#5D6A7E;">Construct and keep
                                    track of your patient-centric database and share securely with HIPAA-compliant software.
                              </p>
                        </div>
                        <div class="col-md-6  mb-5 mb-lg-0">
                              <img src="assets/images/hipaa.png" style="transform: translateZ(0);" class="wow fadeIn"
                                   data-wow-delay="0.1s">
                        </div>
                  </div>

            </div>
      </section>

      <!-- Plans and pricing -->
      <section id="Plans">
            <div class="container justify-content-center">
                  <div class="row">
                        <div class="col-lg-12 mb-4 pb-2">
                              <h1 data-wow-delay="0.1s" class="h1 text-center mb-4 wow fadeInUp"
                                  style="font-weight: 600; color: rgb(22, 48, 91); visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                    Our Pricing </h1>
                        </div>
                  </div>
            </div>
            <div class="container">
                  <div class="row justify-content-center pb-4">
                        <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4 mb-2">
                              <div class="card pricing-table p-2 h-100" style="border: 1px solid #eff3f7;">
                                    <div class="card-header bg-white text-center" style="border-bottom: 1px solid #616f8112;">
                                          <h5 class="card-text mt-2 fw-bold">DentalLive - Basic</h5>
                                          <a routerLink="/auth/signup" class="btn btn-default btn-2 mb-2 border-0">Try Now</a>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                          <div class="d-flex flex-wrap justify-content-center align-items-center">
                                                <div>
                                                      <img src="assets/images/plannerlogom.png" class="mt-2 mb-4" style="height: 20px;">
                                                      <span class="mt-2 mx-2 mb-4" style="font-size: 24px; color: #f7517f;">+</span>
                                                </div>
                                                <div>
                                                      <img src="assets/images/maillogom.png" class="mt-2 mb-4" style="height: 20px;">
                                                      <span class="mt-2 mx-2 mb-4" style="font-size: 24px; color: #f7517f;">+</span>
                                                </div>
                                                <div>
                                                      <img src="assets/images/talklogom.png" class="mt-2 mb-4" style="height: 20px;">
                                                </div>
                                          </div>
                                          <p class="h4 mb-0 text-center">Free to Use</p>
                                          <p class="mb-3 text-center">Upto 5GB of stroage</p>
                                          <table class="table table-sm">
                                                <tr>
                                                      <td width="70%">Functionality</td>
                                                      <td width="30%" class="text-end">Basic</td>
                                                </tr>
                                                <tr>
                                                      <td>Create Milestones</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Edit Milestones</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Update Milestones</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Task (Add / Update / Edit)</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Send Referral</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Update Referral</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Edit Referral</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Send Labscript</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Edit Labscript</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Update Labscript</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Upload Files</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Invite Colleagues</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Patient Dashboard</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Create Patients</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Edit Patients</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Create Cases</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Update Cases</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Patient Centric Inbox</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Send Emails</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Unlimited Attachments</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Schedule Meetings</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Create 3CX Meetings</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Share Meeting Recordings</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>CVFAST</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Storage</td>
                                                      <td class="text-end" id="basicStorage">5GB</td>
                                                </tr>
                                                <tr>
                                                      <td>Subusers</td>
                                                      <td class="text-end" id="basicSubUsers">2</td>
                                                </tr>
                                          </table>
                                          <div class="mt-auto"><a routerLink="/auth/signup"
                                                   class="btn btn-primary btn-2 mt-2 mb-2 border-0"
                                                   style="background-color: #0070d2; padding: 14px 30px;">Try Now</a></div>
                                    </div>
                              </div>
                        </div>
                        <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4 mb-2">
                              <div class="card pricing-table p-2 h-100" style="border: 1px solid #eff3f7;">
                                    <div class="card-header bg-white text-center" style="border-bottom: 1px solid #616f8112;">
                                          <h5 class="card-text mt-2 fw-bold">DentalLive - Premium</h5>
                                          <a routerLink="/auth/signup" class="btn btn-default btn-2 mb-2 border-0">Buy Now</a>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                          <div class="d-flex flex-wrap justify-content-center align-items-center">
                                                <div>
                                                      <img src="assets/images/plannerlogom.png" class="mt-2 mb-4" style="height: 20px;">
                                                      <span class="mt-2 mx-2 mb-4" style="font-size: 24px; color: #f7517f;">+</span>
                                                </div>
                                                <div>
                                                      <img src="assets/images/maillogom.png" class="mt-2 mb-4" style="height: 20px;">
                                                      <span class="mt-2 mx-2 mb-4" style="font-size: 24px; color: #f7517f;">+</span>
                                                </div>
                                                <div>
                                                      <img src="assets/images/talklogom.png" class="mt-2 mb-4" style="height: 20px;">
                                                </div>
                                          </div>
                                          <p class="h4 mb-0 text-center">$29.99 USD/Month</p>
                                          <p class="mb-3 text-center">Upto 100GB of stroage</p>
                                          <table class="table table-sm">
                                                <tr>
                                                      <td width="70%">Functionality</td>
                                                      <td width="30%" class="text-end">Pro</td>
                                                </tr>
                                                <tr>
                                                      <td>Create Milestones</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Edit Milestones</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Update Milestones</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Task (Add / Update / Edit)</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Send Referral</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Update Referral</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Edit Referral</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Send Labscript</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Edit Labscript</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Update Labscript</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Upload Files</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Invite Colleagues</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Patient Dashboard</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Create Patients</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Edit Patients</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Create Cases</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Update Cases</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Patient Centric Inbox</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Send Emails</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Unlimited Attachments</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Schedule Meetings</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Create 3CX Meetings</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Share Meeting Recordings</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>CVFAST</td>
                                                      <td class="text-end"><i class="fa fa-check-square text-light-green fs-5"></i></td>
                                                </tr>
                                                <tr>
                                                      <td>Storage</td>
                                                      <td class="text-end" id="premiumStorage">100GB</td>
                                                </tr>
                                                <tr>
                                                      <td>Subusers</td>
                                                      <td class="text-end" id="premiumSubUsers">Unlimited</td>
                                                </tr>
                                          </table>
                                          <div class="mt-auto"><a routerLink="/auth/signup"
                                                   class="btn btn-primary btn-2 mt-2 mb-2 border-0"
                                                   style="background-color: #0070d2; padding: 14px 30px;">Buy Now</a></div>
                                    </div>
                              </div>
                        </div>
                        <div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4 mb-2">
                              <div class="card pricing-table p-2 bg-color-two h-100" style="border: 1px solid #eff3f7;">
                                    <div class="card-header bg-white text-center" style="border-bottom: 1px solid #616f8112;">
                                          <h5 class="card-text mt-2 fw-bold">Enterprise</h5>
                                          <a routerLink="/contact-us" class="btn btn-dark btn-2 mb-2 border-0">Email Us</a>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                          <span class="d-flex flex-wrap justify-content-center align-items-center">
                                                <div>
                                                      <img src="assets/images/plannerlogom.png" class="mt-2 mb-4"
                                                           style="height: 20px;"><span class="mt-2 mx-2 mb-4"
                                                            style="font-size: 24px; color: #f7517f;">+</span>
                                                </div>
                                                <div>
                                                      <img src="assets/images/maillogom.png" class="mt-2 mb-4" style="height: 20px;"><span
                                                            class="mt-2 mx-2 mb-4" style="font-size: 24px; color: #f7517f;">+</span>
                                                </div>
                                                <div>
                                                      <img src="assets/images/talklogom.png" class="mb-4" style="height: 20px;">
                                                </div>
                                          </span>
                                          <p class="h5 my-3">Email Us</p>
                                          <ul class="ul" style="margin-left: -10px;">
                                                <li>
                                                      <div class="form-check"><i class="fa fa-check"></i>
                                                            <label class="form-check-label">Multiple Disciplines/Departments/Clinics</label>
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class="form-check"><i class="fa fa-check"></i>
                                                            <label class="form-check-label">Unlimited Users &amp; Sub-Users</label>
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class="form-check"><i class="fa fa-check"></i>
                                                            <label class="form-check-label">Custom Packages</label>
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class="form-check"><i class="fa fa-check"></i>
                                                            <label class="form-check-label">Account Management Console</label>
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class="form-check"><i class="fa fa-check"></i>
                                                            <label class="form-check-label">Unlimited Data Storage</label>
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class="form-check"><i class="fa fa-check"></i>
                                                            <label class="form-check-label">Dedicated Support</label>
                                                      </div>
                                                </li>
                                          </ul>
                                          <div class="mt-auto"><a class="btn btn-dark mt-2 mb-2 border-0" style="padding: 14px 30px;"
                                                   routerLink="/contact-us">Email Us</a></div>
                                    </div>
                                    <div class="dot-shape-bg position-absolute bg-color" style="z-index: -1;"><img
                                               src="assets/images/leafthree.png" alt="shape"></div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!-- Plans and pricing end -->

      <!-- Subscribe  -->
      <section class="Subscribe-banner-area">
            <div class="container bg-color-three">
                  <div class="d-flex row align-items-center justify-content-center">
                        <div class="col-lg-7 col-md-8">
                              <div class="py-2 text-center">
                                    <h4 data-wow-delay="0.2s" class="wow fadeInUp py-4"
                                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"> Subscribe to
                                          get <img src="assets/images/DentalLIVE.png" height="30px" class="d-md-inline-block d-none"
                                               style="margin-top: -10px;"><img src="assets/images/DentalLIVE.png" height="30px"
                                               class="d-md-none d-inline-block" style="margin-top: -7px;"><br>special features! </h4>
                                    <div class="d-flex align-items-center justify-content-center flex-column">
                                          <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
                                                <div class="d-flex align-items-center justify-content-center flex-column flex-xs-row"
                                                     style="flex-direction: row !important;">
                                                      <input type="email" id="email_id" name="email_id" formcontrolname="email_id"
                                                             required="" placeholder="Enter Your Email "
                                                             class="form-control me-2 ng-untouched ng-pristine ng-invalid">
                                                      <button type="submit" class="btn btn-primary" style="padding: 11px 20px;"> Subscribe
                                                      </button>
                                                </div>
                                          </form>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!-- Subscribe end  -->
</main>
<!-- main section end -->

<!-- Footer-->
<footer class="container-fluid" style="color: #5d6a7e;">
      <div class="container footer">
            <div class="row">
                  <div class="col-12 col-md-3 pt-5 pb-md-4">
                        <h5 data-wow-delay="0.1s" class="footer-header wow fadeInUp fw-bold"
                            style="color: rgb(1, 26, 62); visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                              Products </h5>
                        <ul data-wow-delay="0.1s" class="list-unstyled text-small wow fadeInUp"
                            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                              <li class="mb-3">
                                    <a routerLink="/dentallive-mail" class="text-muted body2" style="color: #aeb4bf;"><img
                                               src="assets/images/maillogom.png" alt="Dental LIVE Mail"></a>
                              </li>
                              <li class="mb-3">
                                    <a routerLink="/dentallive-talk" class="text-muted body2" style="color: #aeb4bf;"><img
                                               src="assets/images/talklogom.png" alt="Dental LIVE Talk"></a>
                              </li>
                              <li>
                                    <a routerLink="/dentallive-planner" class="text-muted body2" style="color: #aeb4bf;"><img
                                               src="assets/images/plannerlogom.png" alt="Dental LIVE Planner"></a>
                              </li>
                        </ul>
                  </div>
                  <div class="col-12 col-md-3 pt-md-5 pb-md-4">
                        <h5 data-wow-delay="0.3s" class="footer-header wow fadeInUp fw-bold"
                            style="color: rgb(1, 26, 62); visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                              Contact </h5>
                        <ul data-wow-delay="0.2s" class="list-unstyled text-small wow fadeInUp"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                              <li><span class="text-muted body2 d-flex align-items-center"><i class="bx bx-phone me-1"></i> +1 289
                                          474-5200</span></li>
                              <li class="d-flex align-items-center"><i class="bx bx-envelope me-1"></i><a
                                       href="mailto:support@dentallive.com;" class="text-muted body2">support@dentallive.com</a>
                              </li>
                        </ul>
                  </div>
                  <div class="col-12 col-md-3 pt-md-5 pb-md-4">
                        <h5 data-wow-delay="0.3s" class="footer-header wow fadeInUp fw-bold"
                            style="color: rgb(1, 26, 62); visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                              Links </h5>
                        <ul data-wow-delay="0.3s" class="list-unstyled text-small wow fadeInUp"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                              <li><a class="text-muted body2" routerLink="/contact-us">Contact Us</a></li>
                              <li><a class="text-muted body2" routerLink="/become-vendor">Become Vendor</a></li>
                              <li><a class="text-muted body2" routerLink="/faq">FAQ</a></li>
                              <li><a class="text-muted body2" routerLink="/privacy-policy">Privacy Policy</a></li>
                              <li><a class="text-muted body2" routerLink="/solutions">Solutions</a></li>
                              <li><a class="text-muted body2" routerLink="/terms-of-use">Terms and Conditions</a></li>
                        </ul>
                  </div>
                  <div class="col-12 col-md-3 pt-4">
                        <div data-wow-delay="0.4s" class="wow fadeInUp"
                             style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><img
                                   src="assets/images/safe-and-secure.png" width="80px"><img src="assets/images/hipaa-logo.png"
                                   width="80px"></div>
                  </div>
            </div>
      </div>
      <div class="my-2 footer-bottom" style="border-top: 1px solid #d0d6de;">
            <div class="container">
                  <div class="row pt-4">
                        <div class="col-md-4 pb-4">
                              <a routerLink=""><img src="assets/images/Logo_Dark.png" data-wow-delay="0.5s" class="wow fadeInUp"
                                         style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"></a>
                        </div>
                        <div class="col-md-3">
                              <div data-wow-delay="0.6s" class="text-center social wow fadeInUp"
                                   style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"><a
                                       href="https://www.facebook.com/dentalive" target="_blank" title="Facebook"><i
                                             aria-hidden="true" class="bx bxl-facebook-circle"></i></a><a
                                       href="https://twitter.com/dentalliveplans" target="_blank" title="Twitter"><i
                                             aria-hidden="true" class="bx bxl-twitter"></i></a><a
                                       href="https://www.instagram.com/dentalliveplans" target="_blank" title="Instagram"><i
                                             aria-hidden="true" class="bx bxl-instagram"></i></a></div>
                        </div>
                        <div class="col-md-5 text-md-end text-center">
                              <div class="pt-2">
                                    <p data-wow-delay="0.7s" class="text-secondary small wow fadeInUp"
                                       style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;"> &copy;
                                          <script>document.write(new Date().getFullYear());</script> DentalLive<sup>TM</sup> All
                                          rights reserved.
                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</footer>
<!-- Footer end-->

<div class="go-top d-none d-md-block"><i class="fa fa-chevron-up"></i><i class="fa fa-chevron-up"></i></div>