<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Files
	</li>
</ol>

<div class="page-header row align-items-center gx-0">
	<div class="col-md-6">
		<div class="d-inline-block" *ngIf="tabledata">
			<h3 class="mt-2 fw-normal">{{this.tabledata.patientName}} <span class="fw-bold d-block">{{this.tabledata.title}}</span>
				<div class="progress progress-sm mt-2">
					<div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</h3>
		</div>
	</div>	
	<div class="col-md-6 text-end"> 
		
	</div>
</div>

<div class="row pt-2" id="priceList">
      <div class="col-md-12">
        <div class="card pb-4 shadow-sm">
			<div class="card-header border-bottom-0 bg-white">
				<div class="row">
					<div class="col-md-5 align-self-center">
						<h5 class="body1 card-title my-2">Files</h5>
					</div>
					<div class="col-md-7"> 
						<div class="d-flex align-items-center flex-wrap justify-content-end">
							<button class="btn filter-btn me-2 my-2" data-bs-toggle="modal" data-bs-target="#filterModal"><i class="bx bx-filter-alt"></i> <span class="d-none d-sm-inline-block ms-2">Filter</span></button>
							<button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#uploadFileModal"><i class="bx bx-upload"></i> Upload Files </button>
						</div>
					</div>
				</div>        
			</div>
            <table class="table table-hover table-nowrap align-middle">
				<thead class="thead-light">
					<tr style="text-transform:uppercase;">
						<th class="body2">Files</th>
					</tr>
				</thead>
            </table>
			<ng-container class="mt-3" *ngIf="isLoadingData">
				<div class="mt-5 w-100"></div>
				<ngx-shimmer-loading style="margin-top: 1.5em;display: block;transition: all 1s;"  [width]="'100%'"
				[height]="'50px'" [margin]="'20px'" *ngFor="let i of shimmer(10).fill(1)" class="vh-100">
				</ngx-shimmer-loading>
			</ng-container>
            <div *ngIf="!isLoadingData" class="container">
				<div class="row" *ngIf="allfile">
					<div class="col-md-2" *ngFor="let data of allfile; let i= index;">
					  <div class="card mb-3" style="max-width: 18rem;border: 1px solid #D0D6DE;" *ngIf="this.data.files[0].mediaType=='application/pdf' || this.data.files[0].mediaType=='audio/mpeg'">
						<div class="card-body text-center">
							<a routerLink="/casefiles/file-details/{{this.data.fileUploadId}}/{{this.getcaseId}}" class="text-dark" >
								<img src="assets/images/file.png" height="58px" *ngIf="this.data.files[0].url; else noimage" />
								<ng-template #noimage><img src="assets/images/no-image.png" height="58px"/></ng-template>
								<p class="card-text">{{getFileName(this.data.files[0].name)}}</p>
							</a>
						</div>
					  </div>
					  <div class="card mb-3" style="max-width: 18rem;border: 1px solid #D0D6DE;" *ngIf="this.data.files[0].mediaType=='video/mp4' || this.data.files[0].mediaType=='video/avi' || this.data.files[0].mediaType=='video/3gp'">
						<div class="card-body text-center">
							<a routerLink="/casefiles/file-details/{{this.data.fileUploadId}}/{{this.getcaseId}}" class="text-dark" >
								<img src="assets/images/video.png" height="58px" *ngIf="this.data.files[0].url; else noimage" />
								<ng-template #noimage><img src="assets/images/no-image.png" height="58px"/></ng-template>
								<p class="card-text">{{getFileName(this.data.files[0].name)}}</p>
							</a>
						</div>
					  </div>
					  <div class="card mb-3" style="max-width: 18rem;border: 1px solid #D0D6DE;" *ngIf="this.data.files[0].mediaType=='application/msword'">
						<div class="card-body text-center">
							<a routerLink="/casefiles/file-details/{{this.data.fileUploadId}}/{{this.getcaseId}}" class="text-dark" >
								<img src="assets/images/file.png" height="58px" *ngIf="this.data.files[0].url; else noimage" />
								<ng-template #noimage><img src="assets/images/no-image.png" height="58px"/></ng-template>
								<p class="card-text">{{getFileName(this.data.files[0].name)}}</p>
							</a>
						</div>
					  </div>
					  <div class="card mb-3" style="max-width: 18rem;border: 1px solid #D0D6DE;" *ngIf="this.data.files[0].mediaType=='image/jpeg' || this.data.files[0].mediaType=='image/png' || this.data.files[0].mediaType=='image/jpg'">
						<div class="card-body text-center">
							<a routerLink="/casefiles/file-details/{{this.data.fileUploadId}}/{{this.getcaseId}}" class="text-dark" >
								<img src="assets/images/image-icon.png" height="58px" *ngIf="this.data.files[0].url; else noimage" />
								<ng-template #noimage><img src="assets/images/no-image.png" height="58px"/></ng-template>
								<p class="card-text">{{getFileName(this.data.files[0].name)}}</p>
							</a>
						</div>
					  </div>
					</div>
					
				</div>
            </div>
		</div>
    </div>
</div>
	
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Filter</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form #f="ngForm" id="mainForm" (ngSubmit)="onSubmit(f)">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="search my-2">
							<i class="bx bx-search"></i>
							<input type="text" class="form-control" ngModel name="ownerName" id="ownerName" placeholder="Search by Owner Name" >
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-default" data-bs-dismiss="modal">Apply</button>
			</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title body1" id="uploadModalLabel">Upload Files</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form #filesForm="ngForm" id="filesForm" (ngSubmit)="onSubmitFiles(filesForm)"> 
				<div class="modal-body">
					<div class="row gy-3">
						<div class="col-md-12">
							<label class="form-label body2 text-dark">Upload File</label>
							<input type="file" ngModel name="uploadfile" id="uploadfile" (change)="loadFiles($event)" class="form-control" style="line-height: 2.2; background-color: #EFF3F7; border: 2px dashed #AEB4BF;" required accept="application/msword,.xls,.xlsx,image/*,video/*,audio/*,.pdf">
						</div>
					</div>
				</div>
				<div class="modal-footer" *ngIf="tabledata">
					<input type="hidden"  name="resorceowner" id="resorceowner" ngModel="{{tabledata.fetchedData[0].data[0].resorceOwner}}">
					<input type="hidden"  name="caseid" id="caseid" ngModel="{{this.tabledata.caseId}}">
					<input type="hidden" name="patientid" id="patientid" ngModel="{{this.tabledata.patientId}}">
					<input type="hidden" name="patientname" id="patientname" ngModel="{{this.tabledata.patientName}}">
					<input type="hidden" name="datecreated" id="datecreated" ngModel="{{this.tabledata.dateCreated}}">
					<button type="submit" [disabled]="!filesForm.form.valid" data-bs-dismiss="modal" class="btn btn-default" data-bs-dismiss="modal">Save</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>