<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases/case-list">Cases</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases/case-add">Add Case</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Add Members
	</li>
</ol>

<div class="row align-items-center pt-2">
	<div class="col-md-12">
		<div class="card shadow-sm">
			<div class="card-header border-bottom-0 bg-white">
				<div class="row">
					<div class="col-md-6 align-self-center">
						<h5 class="body1 card-title my-2">Add Members</h5>
					</div>
					<div class="col-md-6">
						 <div class="d-flex align-items-center justify-content-end">
							<a href="javascript:void(0);" (click)="back()" class="btn btn-default">Back </a>
						</div> 
					</div>   
				</div>
			</div>
			<div class="card-body p-0 pb-4">
				<div class="table-responsive">
					<table class="table table-hover table-nowrap align-middle" datatable [dtOptions]="dtOptions" id="dataTables">
						<thead class="thead-light">
							<tr style="text-transform:uppercase;">
								<th style="width: 15px;">   
									<div class="form-check form-check-inline mb-0 " style="min-height: auto;">
										<input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
									</div>
								</th>
								<th class="body2">MEMBER NAME</th>
								<th class="body2">MEMBER TYPE</th>
								<th class="body2">EDUCATION</th>
								<th class="body2">LOCATION</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="form-check form-check-inline">
									  <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex mt-1">
										<img alt="..." src="assets/images/image2.png" class="avatar avatar-sm rounded-circle">
										<div class="ps-2">
											<span class="body2 d-block">Colin</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2"><i class="bx bxs-home me-1 text-gray"></i> Home </span>
								</td>                     
								<td>
									<span class="body2">BDS/DDS/DMD </span>
								</td>
								<td style="vertical-align:middle;">
									<span class="body2">Canada </span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex">
										<img alt="..." src="assets/images/image.png" class="avatar avatar-sm rounded-circle">
										<div class="ps-2">
											<span class="body2 d-block">Simon Sais</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2"><i class="bx bxs-home me-1 text-gray"></i>Home </span>
								</td>                     
								<td>
									<span class="body2">BDS/DDS/DMD </span>
								</td>
								<td style="vertical-align:middle;">
									<span class="body2">Canada </span>
								</td>
							</tr> 
							<tr>
								<td>
									<div class="form-check form-check-inline">
									  <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex">
										<img alt="..." src="assets/images/image2.png" class="avatar avatar-sm rounded-circle">
										<div class="ps-2">
											<span class="body2 d-block">Mario Speedwagon</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2"><i class="bx bxs-home me-1 text-gray"></i>Home </span>
								</td>                     
								<td>
									<span class="body2">BDS/DDS/DMD</span>
								</td>
								<td style="vertical-align:middle;">
									<span class="body2">Canada</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
									  <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex mt-1">
										<img alt="..." src="assets/images/image.png" class="avatar avatar-sm rounded-circle">
										<div class="ps-2">
											<span class="body2 d-block">Colin</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2"><i class="bx bxs-home me-1 text-gray"></i>Home </span>
								</td>                     
								<td>
									<span class="body2">BDS/DDS/DMD </span>
								</td>
								<td style="vertical-align:middle;">
									<span class="body2">Canada</span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
									  <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex">
										<img alt="..." src="assets/images/image2.png" class="avatar avatar-sm rounded-circle">
										<div class="ps-2">
											<span class="body2 d-block">Liza Doolittle</span>
											<span class="body2 d-block">Specialist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2"><i class="bx bxs-home me-1 text-gray"></i>Home </span>
								</td>                     
								<td>
									<span class="body2">BDS/DDS/DMD </span>
								</td>
								<td style="vertical-align:middle;">
									<span class="body2">Canada </span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
									  <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex">
										<img alt="..." src="assets/images/image.png" class="avatar avatar-sm rounded-circle">
										<div class="ps-2">
											<span class="body2 d-block">Colin</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2"><i class="bx bxs-home me-1 text-gray"></i>Home </span>
								</td>                     
								<td>
									<span class="body2">BDS/DDS/DMD </span>
								</td>
								<td style="vertical-align:middle;">
									<span class="body2">Canada </span>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
									  <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex">
										<img alt="..." src="assets/images/image2.png" class="avatar avatar-sm rounded-circle">
										<div class="ps-2">
											<span class="body2 d-block">Aida Bugg</span>
											<span class="body2 d-block">Specialist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2" ><i class="bx bxs-home me-1 text-gray"></i>Home </span>
								</td>                     
								<td>
									<span class="body2">BDS/DDS/DMD</span>
								</td>
								<td style="vertical-align:middle;">
									<span class="body2">Canada </span>
								</td>
							</tr>
						</tbody>
					</table>
				</div> 
			</div> 
		</div>
	
		<div class="card mt-3" style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);background: linear-gradient(97.53deg, #0070D2 -3.56%, #B0A1E9 51.67%, #E6FBFD 90.62%);">
			<div class="card-body" >
				<div class="row mt-2">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12"> 
								<div class="mb-3">
									<label class="form-label body2 text-light">Message Title</label>
									<input class="form-control " placeholder="Message Title">
								</div>
								<div class="mb-3">
									<label class="form-label body2 text-light">Description</label>
									<textarea class="form-control " placeholder="Enter Description" id="floatingTextarea2" style="height: 100px"></textarea>
								</div>
							</div>
							<div class="col-md-12 mt-3">
								<button class="btn btn-default">
									<i class="bx bx-paper-plane" aria-hidden="true"></i> Send Invite
								</button> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addNonMembers" tabindex="-1" aria-labelledby="addNonMembersLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h5 class="modal-title body1" id="addNonMembersLabel">Invite Non Members</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12"> 
							<div class="mb-3 row">
								<label class="col-sm-3 col-form-label">Email Address :</label>
								<div class="col-sm-9">
									<input class="form-control" type="email" name="emailAddress" >           
								</div>
							</div>
						</div>
						<div class="col-md-12"> 
							<div class="mb-3">
								<textarea class="form-control" placeholder="Enter text here" id="floatingTextarea2" style="height: 100px"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer text-center justify-content-center border-top-0">
					<button type="button" class="btn btn-default" data-bs-dismiss="modal" style="padding:10px 31px;">Send E-Mail</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="Colleagues" tabindex="-1" aria-labelledby="ColleaguesLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title body1" id="ColleaguesLabel">Filter</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div  class="form-group mb-md-0 mb-3 d-flex col-md-12 position-relative">
						<select class="form-select"  placeholder="search" >
							<option disabled selected>Sort By</option>
							<option>Member Type </option>
							<option>Education</option>
							<option>Type </option>
							<option>Location</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default" data-bs-dismiss="modal">Apply</button>
			</div>
		</div>
	</div>
</div>