<ol *ngIf="!this.caseId" class="breadcrumb">
  <!-- breadcrumb -->
  <li class="breadcrumb-item">
    <a routerLink="/dashboard"
      ><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a
    >
  </li>
  <li class="breadcrumb-item active" aria-current="page">Files</li>
</ol>
<div class="page-header row align-items-center gx-0">
  <div class="col-md-6">
    <h3>
      Files
      <a
        tippy="Tutorial"
        target="_blank"
        [routerLink]="
          '/tutorial/' + utility.tutorialData['FilesListComponent'].html
        "
      >
        <i class="bx bxs-info-circle text-primary"></i
      ></a>
    </h3>
  </div>
  <div class="col-md-6 text-end">
    <a routerLink="files-add" class="btn btn-default my-1 me-2"
      ><i class="bx bx-plus-circle me-2" aria-hidden="true"></i>Add Files</a
    >
  </div>
</div>
<div class="row align-items-center">
  <div class="col-md-12">
    <div class="card shadow-sm">
      <div class="card-header border-bottom-0 bg-white">
        <div
          class="d-flex justify-content-between align-items-center flex-wrap"
        >
          <div class="my-2">
            <h5 class="body1 card-title mb-0">List of Files</h5>
          </div>
          <div class="d-flex align-items-center flex-wrap">
            <button
              class="btn filter-btn me-2 my-2"
              data-bs-toggle="modal"
              data-bs-target="#filterModal"
            >
              <i class="bx bx-filter-alt"></i>
              <span class="d-none d-sm-inline-block ms-2">Filter</span>
            </button>
            <div class="search search-md">
              <i class="bx bx-search"></i>
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                (keyup)="searchText($event)"
              />
            </div>
          </div>
        </div>
      </div>
      <ng-container class="mt-5" *ngIf="isLoadingData">
        <ngx-shimmer-loading
          class="d-block"
          *ngFor="let i of shimmer(10).fill(1)"
          style="margin-top: 1.5em; display: block; transition: all 1s"
          [height]="'50px'"
          [width]="'100%'"
        >
        </ngx-shimmer-loading>
      </ng-container>
      <div *ngIf="!isLoadingData" class="card-body p-0 pb-3">
        <div class="table-responsive">
          <table
            *ngIf="baseData"
            class="table table-hover table-nowrap align-middle"
            datatable
            [dtOptions]="dtOptions"
            id="dataTables"
          >
            <thead class="thead-light text-uppercase">
              <tr>
                <th *ngIf="!this.caseId" class="body2">CASE TITLE</th>
                <th class="body2">FILE OWNER</th>
                <th class="body2">FILES</th>
                <th class="body2">ADDED ON</th>
                <th class="body2" data-orderable="false">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of baseData; let i = index">
                <td *ngIf="!this.caseId">
                  <span class="d-none">{{ i }}</span>
                  <div>
                    <span class="body2">{{
                      utility.getMetaData(
                        data.caseId,
                        "caseId",
                        ["title"],
                        "cases"
                      )
                    }}</span>
                  </div>
                </td>
                <td>
                  <span class="d-none">{{ i }}</span>
                  <div>
                    <span class="body2">{{
                      utility.getMetaData(
                        data.resourceOwner,
                        "emailAddress",
                        ["accountfirstName", "accountlastName"],
                        "users"
                      )
                    }}</span>
                  </div>
                </td>
                <td>
                  <span class="d-none">{{ i }}</span>
                  <div>
                    <span style="cursor: pointer" class="body2">
                      {{ getFileName(data.files[0]) | slice : 0 : 25 }}
                      {{ getFileName(data.files[0]).length > 25 ? "..." : "" }}
                      <strong
                        class="text-danger"
                        *ngIf="data.files.length > 1"
                        >{{
                          "      (+" + (data.files.length - 1) + ")"
                        }}</strong
                      >
                    </span>
                  </div>
                </td>
                <td>
                  <span class="d-none">{{ i }}</span>
                  <div>
                    <span class="body2">
                      {{ data.dateCreated | date : "mediumDate" }}</span
                    >
                  </div>
                </td>

                <td>
                  <div class="d-flex">
                    <a
                      tippy="Edit"
                      placement="top"
                      routerLink="files-edit/{{ data.fileUploadId }}"
                      *ngIf="data.resourceOwner == user.emailAddress"
                      class="mx-1"
                    >
                      <i class="material-icons text-bright-blue">edit</i>
                    </a>

                    <span
                      class="mx-1"
                      data-bs-toggle="modal"
                      data-bs-target="#fileViewModal"
                      (click)="getLinks(data.files)"
                      style="cursor: pointer"
                    >
                      <i class="material-icons fs-4 text-light-green">
                        visibility
                      </i>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="filterModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form #f="ngForm" id="mainForm" (submit)="filterSubmit(f)">
        <div class="modal-body">
          <div class="row gy-3">
            <div class="col-md-12">
              <label class="form-label body2 text-dark">Search by Date:</label>
            </div>
            <div class="col-md-6">
              <label class="form-label body2 text-dark">From</label>
              <input
                #filterDateFrom
                type="date"
                name="dateFrom"
                ngModel
                id="dateFrom"
                class="form-control"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label body2 text-dark">To</label>
              <input
                [disabled]="!filterDateFrom.value"
                min="{{ filterDateFrom.value }}"
                type="date"
                name="dateTo"
                ngModel
                id="dateTo"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-default" data-bs-dismiss="modal">
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="fileViewModal" tabindex="-1">
  <div
    class="modal-dialog modal-dialog-centered"
    style="width: 80%; max-width: none"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ms-2">Files</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-cvfast-viewer #cvfast></app-cvfast-viewer>
      </div>
    </div>
  </div>
</div>
