<div>
  <div class="page-header d-sm-flex">
    <div class="d-sm-flex d-block">
      <div class="d-flex align-items-center">
        <img
          style="width: 7em; height: 7em"
          *ngIf="this.baseData?.patientId"
          [src]="
            utility.getMetaData(
              this.baseData?.patientId,
              'patientId',
              ['image'],
              'patients'
            )
              ? utility.apiData.patients.bucketUrl +
                utility.getMetaData(
                  this.baseData?.patientId,
                  'patientId',
                  ['image'],
                  'patients'
                )
              : '../../assets/images/users.png'
          "
          alt=""
          class="mb-2 rounded-circle me-4"
        />
        <h3
          style="flex-direction: column; gap: 0px; align-items: start"
          class="mt-2 fw-normal"
        >
          <span> {{ this.baseData?.patientName }}</span>
          <span class="fw-bold mb-2">{{ this.baseData?.title }}</span>
          <small *ngIf="this.baseData"
            >({{ getDate() | date : "MMM d, y" }})</small
          >
          <div class="progress progress-sm mt-3">
            <div
              class="progress-bar bg-primary"
              role="progressbar"
              style="width: 55%"
              aria-valuenow="55"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </h3>
      </div>
    </div>
    <div class="ms-auto mt-ms-0 mt-3">
      <div>
        <a
          routerLink="/mail/inbox/{{ this.baseData?.patientId }}/{{
            this.baseData?.caseId
          }}"
          class="btn btn-pink me-2 mb-2"
        >
          <i class="bx bx-envelope"></i> Mail
        </a>
        <a
          routerLink="/meet/meet/{{ this.baseData?.patientId }}/{{
            this.baseData?.caseId
          }}"
          class="btn btn-default mb-2"
        >
          <i class="bx bx-video"></i> Video Conference
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="box">
      <!-- /.box-header -->
      <div class="box-body">
        <!-- Nav tabs -->
        <ul
          class="mb-4 nav nav-pills flex-nowrap nav-justified align-items-end"
          role="tablist"
          style="overflow-x: auto"
        >
          <li class="nav-item" style="min-width: 168px">
            <a
              routerLink="details"
              [routerLinkActive]="['active']"
              class="nav-link"
              ><img
                class="me-2"
                src="assets/images/planner/CaseDetails.svg"
              />Case Details
            </a>
          </li>
          <li class="nav-item" style="min-width: 168px">
            <a
              routerLink="messages"
              [routerLinkActive]="['active']"
              class="nav-link"
              ><img
                class="me-2"
                src="assets/images/planner/Thread.svg"
              />Chat/Discussion</a
            >
          </li>
          <li class="nav-item" style="min-width: 168px">
            <a
              routerLink="colleagues"
              [routerLinkActive]="['active']"
              class="nav-link"
              ><img
                class="me-2"
                src="assets/images/planner/Colleagues.svg"
              />Colleagues</a
            >
          </li>
          <li class="nav-item" style="min-width: 168px">
            <a
              routerLink="workorders"
              [routerLinkActive]="['active']"
              class="nav-link"
              ><img
                class="me-2"
                src="assets/images/planner/WorkOrders.svg"
              />Work Orders
            </a>
          </li>
          <li class="nav-item" style="min-width: 168px">
            <a
              routerLink="referrals"
              [routerLinkActive]="['active']"
              class="nav-link"
              ><img
                class="me-2"
                src="assets/images/planner/refferal.svg"
              />Referral
            </a>
          </li>
          <li class="nav-item" style="min-width: 168px">
            <a
              routerLink="milestones"
              [routerLinkActive]="['active']"
              class="nav-link"
              ><img
                class="me-2"
                src="assets/images/planner/milstone.svg"
              />Milestone
            </a>
          </li>
          <li class="nav-item" style="min-width: 168px">
            <a
              routerLink="files"
              [routerLinkActive]="['active']"
              class="nav-link"
              ><img class="me-2" src="assets/images/planner/file.svg" />Files</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
