<ol class="breadcrumb">
  <!-- breadcrumb -->
  <li class="breadcrumb-item">
    <a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/colleagues/colleague-lists"> Members</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Member Profile</li>
</ol>
<div class="page-header row align-items-center gx-0">
  <div class="col-md-6">
    <h3>Member Profile</h3>
  </div>
</div>
<div *ngIf="isLoadingData" class="row">
  <div class="col-md-12">
    <lottie-player class="mt-3 m-auto"
      src="https://assets6.lottiefiles.com/packages/lf20_fhsx0ijl/lottie/collections-feature.json"
      background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></lottie-player>
    <h6 class="text-center mt-5">
      Request Processing …..Please Wait, Do Not Close The Page
    </h6>
  </div>
</div>
<div [hidden]="isLoadingData" class="row">
  <div class="col-md-12">
    <div class="page_card">
      <div class="card">
        <div class="card-body">
          <div class="row mt-3">
            <div class="col-lg-3 mb-5">
              <div class="d-flex align-items-center">
                <img [src]="
                    data?.imageSrc
                      ? section.bucketUrl + data?.imageSrc
                      : '../../../../../../assets/images/user-circle.png'
                  " class="img-thumbnail m-auto" style="object-fit: cover" />
              </div>
            </div>
            <div class="col-lg-9">
              <dl class="row">
                <dt class="col-sm-3 mb-3">First Name</dt>
                <dd class="col-sm-9 mb-3">
                  {{ data?.accountfirstName }}
                </dd>

                <dt class="col-sm-3 mb-3">Last Name</dt>
                <dd class="col-sm-9 mb-3">
                  {{ data?.accountlastName }}
                </dd>

                <dt class="col-sm-3 mb-3">Speciality
                <dd class="col-sm-9 mb-3">
                  {{ data?.speciality }}
                </dd>

                <dt class="col-sm-3 mb-3">Practice Name</dt>
                <dd class="col-sm-9 mb-3">
                  {{ utility2
                  .getMetaData(
                  data?.primaryPractice,
                  "practiceId",
                  ["practiceName"],
                  "practices"
                  )}}
                </dd>

                <dl class="row">
                  <dt class="col-sm-3 mb-3">Practice Phone Number</dt>
                  <dd class="col-sm-9 mb-3">
                    {{ utility2
                    .getMetaData(
                    data?.primaryPractice,
                    "practiceId",
                    ["phone"],
                    "practices"
                    )}}
                  </dd>

                  <dt class="col-sm-3 mb-3">Practice Website</dt>
                  <dd class="col-sm-9 mb-3">
                    {{ utility2
                    .getMetaData(
                    data?.primaryPractice,
                    "practiceId",
                    ["website"],
                    "practices"
                    )}}
                  </dd>

                  <dt class="col-sm-3 mb-3">Practice City</dt>
                  <dd class="col-sm-9 mb-3">
                    {{ utility2
                    .getMetaData(
                    data?.primaryPractice,
                    "practiceId",
                    ["city"],
                    "practices"
                    )}}
                  </dd>

                  <dt class="col-sm-3 mb-3">Practice State</dt>
                  <dd class="col-sm-9 mb-3">
                    {{getState( utility2
                    .getMetaData(
                    data?.primaryPractice,
                    "practiceId",
                    ["practicestate"],
                    "practices"
                    ),utility2
                    .getMetaData(
                    data?.primaryPractice,
                    "practiceId",
                    ["country"],
                    "practices"
                    ))}}
                  </dd>

                  <dt class="col-sm-3 mb-3">Practice Country</dt>
                  <dd class="col-sm-9 mb-3">
                    {{getCountry( utility2
                    .getMetaData(
                    data?.primaryPractice,
                    "practiceId",
                    ["country"],
                    "practices"
                    ))}}
                  </dd>

                </dl>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>