<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Colleagues
	</li>
</ol>
<div class="page-header row align-items-center gx-0">
	<div class="col-md-6">
		<h3>Colleagues</h3>
	</div>	
	<div class="col-md-6 text-end"> 
		<a data-bs-toggle="modal" data-bs-target="#addColleagues" class="btn btn-default my-1 me-2"><i class="bx bx-plus-circle me-2" aria-hidden="true"></i>Add Colleagues</a>
		<!--<a data-bs-toggle="modal" data-bs-target="#addNonMembers" class="btn btn-default my-1 me-2"><i class="bx bx-plus-circle me-2" aria-hidden="true"></i>Add Non Members
		</a>
		<a routerLink="/colleagues/colleagues-add-members" class="btn btn-default"><i class="bx bx-plus-circle me-2" aria-hidden="true"></i> View Work History</a> --> 
	</div>
</div>

<div class="row align-items-center">
	<div class="col-md-12">
		<div class="card shadow-sm">
			<div class="card-header border-bottom-0 bg-white">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="my-2">
						<h5 class="body1 card-title mb-0">List of Colleagues</h5>
					</div>
					<div class="d-flex align-items-center flex-wrap">
						<button class="btn filter-btn me-2 my-2" data-bs-toggle="modal" data-bs-target="#filterModal"><i class="bx bx-filter-alt"></i> <span class="d-none d-sm-inline-block ms-2">Filter</span></button>
						<div class="search search-md">
							<i class="bx bx-search"></i>
							<input type="text" class="form-control" placeholder="Search" (keyup)="searchText($event)"/>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body p-0 pb-3">
				<div class="table-responsive">
					<table class="table table-hover table-nowrap align-middle" datatable [dtOptions]="dtOptions" id="dataTables">
						<thead class="thead-light text-uppercase">
							<tr>
								<th style="width: 15px ;" data-orderable="false">&nbsp; </th>
								<th class="body2">MEMBER NAME</th>
								<th class="body2">EDUCATION</th>
								<th class="body2">CITY</th>
								<th class="body2">COUNTRY</th>
								<th class="body2">STATUS</th>
								<th class="body2" data-orderable="false">ACTIONS</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon">C</span>
										<div class="ps-2">
											<span class="body2 d-block">Colin</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2">BDS/DDS/DMD</span>                
								</td>
								<td>  
									<span class="body2">Toronto</span>
								</td>	 
								<td>
									<span class="body2">Canada</span>                
								</td>
								<td>
									<div>
										<span class="badge rounded-pill badge-success body2">Accepted</span>
									</div>
								</td>
								<td>
									<div class="d-flex">
										<a routerLink="/colleagues/colleague-view-profile">
											<i class="material-icons text-light-green">visibility</i>
										</a>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon">S</span>
										<div class="ps-2">
											<span class="body2 d-block">Simon Sais</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2">BDS/DDS/DMD</span>                
								</td>
								<td>  
									<span class="body2">Ontario</span>
								</td>
								<td>  
									<span class="body2">Canada</span>                
								</td>
								<td>
									<div>
										<span class="badge rounded-pill badge-info body2">On hold</span><br/>
										<small class="text-muted">Created on : 14/APR/2020</small>
									</div>
								</td>
								<td>
									<div class="d-flex">
										<!-- <a data-bs-toggle="modal" data-bs-target="#inviteMembersCase" class="btn btn-light-cyan my-1 me-2">Send Invite
										</a> -->
										<a routerLink="/colleagues/colleague-view-profile">
											<i class="material-icons text-light-green">visibility</i>
										</a>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon">M</span>
										<div class="ps-2">
											<span class="body2 d-block">Mario Speedwagon</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2">BDS/DDS/DMD</span>                
								</td>	
								<td>  
									<span class="body2">Quebec</span>
								</td>
								<td>  
									<span class="body2">Canada</span>                
								</td>
								<td>
									<div>
										<span class="badge rounded-pill badge-warning body2">Unavailable</span><br/>
										<small class="text-muted">Created on : 14/APR/2020</small>
									</div>
								</td>
								<td>
									<div class="d-flex">
										<!-- <a data-bs-toggle="modal" data-bs-target="#inviteMembersCase" class="btn btn-light-cyan my-1 me-2">Send Invite
										</a> -->
										<a routerLink="/colleagues/colleague-view-profile">
											<i class="material-icons text-light-green">visibility</i>
										</a>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon">C</span>
										<div class="ps-2">
											<span class="body2 d-block">Colin</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2">BDS/DDS/DMD</span>                
								</td>
								<td>  
									<span class="body2">Vancouver</span>
								</td>		 
								<td>  
									<span class="body2">Canada</span>                
								</td>
								<td>
									<div>
										<span class="badge rounded-pill badge-success body2">Accepted</span><br/>
										<small class="text-muted">Created on : 14/APR/2020</small>
									</div>
								</td>
								<td>
									<div class="d-flex">
										<a routerLink="/colleagues/colleague-view-profile">
											<i class="material-icons text-light-green">visibility</i>
										</a>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon">L</span>
										<div class="ps-2">
											<span class="body2 d-block">Liza Doolittle</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2">BDS/DDS/DMD</span>                
								</td>
								<td>  
									<span class="body2">Calgary</span>
								</td>		 
								<td>  
									<span class="body2">Canada</span>                
								</td>
								<td>
									<div>
										<span class="badge rounded-pill badge-success body2">Accepted</span><br/>
										<small class="text-muted">Created on : 14/APR/2020</small>
									</div>
								</td>
								<td>
									<div class="d-flex">
										<a routerLink="/colleagues/colleague-view-profile">
											<i class="material-icons text-light-green">visibility</i>
										</a>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon">C</span>
										<div class="ps-2">
											<span class="body2 d-block">Colin</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2">BDS/DDS/DMD</span>                
								</td>
								<td>  
									<span class="body2">Ottawa</span>
								</td>		 
								<td>  
									<span class="body2">Canada</span>                
								</td>
								<td>
									<div>
										<span class="badge rounded-pill badge-success body2">Accepted</span><br/>
										<small class="text-muted">Created on : 14/APR/2020</small>
									</div>
								</td>
								<td>
									<div class="d-flex">
										<a routerLink="/colleagues/colleague-view-profile">
											<i class="material-icons text-light-green">visibility</i>
										</a>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon">A</span>
										<div class="ps-2">
											<span class="body2 d-block">Aida Bugg</span>
											<span class="body2 d-block">General Dentist</span>
										</div>
									</div>
								</td>
								<td>
									<span class="body2">BDS/DDS/DMD</span>                
								</td>
								<td>  
									<span class="body2">Montreal</span>
								</td>
								<td>  
									<span class="body2">Canada</span>                
								</td>
								<td>
									<div>
										<span class="badge rounded-pill badge-success body2">Accepted</span><br/>
										<small class="text-muted">Created on : 14/APR/2020</small>
									</div>
								</td>
								<td>
									<div class="d-flex">
										<a routerLink="/colleagues/colleague-view-profile">
											<i class="material-icons text-light-green">visibility</i>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Filter</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row gy-3">
					<div class="col-md-12">
						<select  class="form-select"  placeholder="search" >
							<option disabled selected>Sort By</option>
							<option>Status</option>
							<option>Last Modified</option>
							<option>Date Created</option>
						</select>
					</div>
					<div class="col-md-12">
						<div class="search">
							<i class="bx bx-search"></i>
							<input type="text" class="form-control" placeholder="Search by Colleague Name" >
						</div>
					</div>
					<div class="col-md-12">
						<label class="form-label body2 text-dark">Search by Date:</label>
					</div>
					<div class="col-md-6 "> 
						<label class="form-label body2 text-dark">From</label>
						<input type="date" class="form-control ">
					</div>
					<div class="col-md-6"> 
						<label class="form-label body2 text-dark">To</label>
						<input type="date" class="form-control">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default" data-bs-dismiss="modal">Apply</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="addColleagues" tabindex="-1" aria-labelledby="addColleaguesLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title body1" id="addColleaguesLabel">Add Colleagues</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row gy-3">
					<div class="col-md-12">
						<div class="search">
							<i class="bx bx-search"></i>
							<input type="text" class="form-control" placeholder="Search here" />
						</div>
					</div>
					<div class="col-md-12 text-end">
						<button type="button" class="btn btn-default btn-sm px-2"><i class="bx bx-plus me-0"></i></button>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center justify-content-center border-top-0">
				<a class="btn btn-default" data-bs-dismiss="modal">Save</a>
				<button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancel</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="addNonMembers" tabindex="-1" aria-labelledby="addNonMembersLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title body1" id="addNonMembersLabel">Invite Non Members</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body ">
				<div class="row">
					<div class="col-md-12"> 
						<div class="mb-3 row">
							<label  class="col-sm-3 col-form-label">Email Address :</label>
							<div class="col-sm-9">
								<input class="form-control" type="email"/>           
							</div>
						</div>
					</div>
					<div class="col-md-12"> 
						<div class="mb-3">
							<textarea class="form-control" placeholder="Enter Message here" id="floatingTextarea2" style="height: 100px"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center justify-content-center border-top-0">
				<a class="btn btn-default" data-bs-dismiss="modal">Send E-Mail</a>
				<button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancel</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="inviteMembersCase" tabindex="-1" aria-labelledby="inviteMembersCaseLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title body1" id="inviteMembersCaseLabel">Invite Members on Case</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body ">
				<div class="row">
					<div class="col-md-12"> 
						<div class="mb-3 row">
							<label  class="col-sm-3 col-form-label">Select Case :</label>
							<div class="col-sm-9">
								<input class="form-control" type="email">           
							</div>
						</div>
					</div>
					<div class="col-md-12"> 
						<div class="mb-3">
						  <textarea class="form-control " placeholder="Enter text here" id="floatingTextarea2" style="height: 100px"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center justify-content-center border-top-0">
				<a  class="btn btn-default" data-bs-dismiss="modal">Send Invite</a>
			</div>
		</div>
	</div>
</div>