<section id="header">
	<nav class="px-3 navbar navbar-expand-md bg-white navbar-light fixed-top">
		<a class="navbar-brand logo" routerLink="/"  title="Dental Live"><img src="assets/images/Logo_Dark.png"/></a>
	</nav>
</section>
<section class="mt-5">
	<div class="container p-4 p-md-5">
		<div class="form-section rounded bg-white p-3 p-md-5 mb-2" style="box-shadow: 0px 4px 20px 0px rgba(7, 213, 232, 0.1);">
			<div class="row justify-content-between mt-4">
				<div class="col-12">
					<form id="mainForm">
						<div class="row mb-5 justify-content-center text-center">
							<div class="col-md-6">
								<h4 class="my-4" style="color: #354053;">Password reset email sent</h4>
								<p class="body1 my-4" style="color: #5D6A7E;">An Email has been sent to your recovery email ID yourmail@gmail.com Follow the directions in the email to reset your password.</p>
								<div class="my-4">
									<a class="btn btn-primary" routerLink="/auth/login" style="padding: 8px 52px;border-radius: 5px;height: 50px;width:250px;display: flex;justify-content: center;align-items: center;margin: auto;"><span _ngcontent-hap-c3="">Back to Login</span></a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="copyright-area" style="height: 68px;">
	<div class="container-fluid">
		<div  class="row align-items-center">
			<div class="col-md-12 col-sm-12 col-12">
				<div class="copyright-text text-center">
					<small style="color:#5D6A7E"> 
						&copy; All Rights Reserved &nbsp;&nbsp;
					</small>
				</div>
			</div>
		</div>
	</div>
</div>