<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/files">Files</a>
    </li> 
	<li class="breadcrumb-item active" aria-current="page">
		Files Details
	</li>
</ol>
<div class="page-header row align-items-center gx-0">
	<div class="col-md-6">
		<div class="d-inline-block">
			<h3 class="mt-2 fw-normal">{{this.tabledata.patientName}} <span class="fw-bold d-block">{{this.tabledata.title}}</span>
				<div class="progress progress-sm mt-2">
					<div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</h3>
		</div>
	</div>	
	<div class="col-md-6 text-end"> 
		
	</div>
</div>

<div class="row align-items-center pt-2">
    <div class="col-md-12">
        <div class="card shadow-sm">
			<div class="card-header bg-white">
				<div class="row">
					<div class="col-md-12">
						<nav class="my-2" aria-label="breadcrumb">
							<ol class="breadcrumb fw-bold mb-0">
							  <li class="breadcrumb-item"><a routerLink="/files" style="color:#5D6A7E">Files List</a></li>
							  <li class="breadcrumb-item active" style="color:#011A3E">File Details</li>
							</ol>
						</nav>  
					</div>
				</div>        
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-8">
					
						<img src="{{this.filedetails.files[0].url}}" width="420px" height="238px" *ngIf="this.filedetails.files[0].mediaType=='image/jpeg' || this.filedetails.files[0].mediaType=='image/png' || this.filedetails.files[0].mediaType=='image/jpg'" />
						<iframe frameBorder="0" [src]="urlSafe" *ngIf="this.filedetails.files[0].mediaType=='video/mp4' || this.filedetails.files[0].mediaType=='video/avi' || this.filedetails.files[0].mediaType=='video/3gp' || this.filedetails.files[0].mediaType=='application/pdf' || this.filedetails.files[0].mediaType=='application/PDF' || this.filedetails.files[0].mediaType=='audio/mpeg'"></iframe>
						
						<a routerLink="{{this.filedetails.files[0].url}}" target="_tblank"><p class="body2 mt-3" >{{this.filedetails.files[0].name}}</p></a>
						<span class="badge badge-pill badge-warning body2 w-auto px-3">.{{this.filedetails.files[0].name.split('.').pop()}}</span>
						<div class="mb-1 row">
							<label class="col-sm-5 col-form-label body2 text-dark">Created Date</label>
							<div class="col-sm-7">
								<input type="text" readonly="" class="form-control-plaintext body2 text-muted" value="{{this.filedetails.dateCreated | date: 'MM/dd/YYYY'}}">
							</div>
						</div>
						<div class="mb-1 row">
							<label class="col-sm-5 col-form-label body2 text-dark">File Size</label>
							<div class="col-sm-7">
								<input type="text" readonly="" class="form-control-plaintext body2 text-muted" value="{{this.filedetails.files[0].mediaSize}} KB">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<div class="row">
	<div class="col-md-12 mb-2">
		<a style="cursor: pointer;" class="btn btn-default mt-3 me-2" role="button" style="padding:10px 31px;" (click)="downloadImg(this.filedetails.files[0].url,this.filedetails.files[0].name)" > 
			<i class="bx bx-download me-2" aria-hidden="true"></i>Download File 
		</a>
<!--<a routerLink="/assets/image/no-image.png" class="btn btn-default mt-3 me-2" role="button" style="padding:10px 31px;" download> 
			<i class="bx bx-download me-2" aria-hidden="true"></i>Download File 
		</a>-->
		<a style="cursor: pointer;" class="btn btn-pink mt-3" style="padding:10px 31px;" (click)="deleteFile(this.filedetails.fileUploadId)">
			<i class="bx bx-trash me-2" aria-hidden="true"></i> Delete File
		</a>
	</div>
</div>