<section id="header">
	<nav class="px-3 navbar navbar-expand-md bg-white navbar-light fixed-top">
		<a class="navbar-brand logo" routerLink="/"  title="Dental Live"><img src="assets/images/Logo_Dark.png"/></a>
	</nav>
</section>
<section class="mt-5">
	<div class="container p-4 p-md-5">
		<div class="form-section rounded bg-white p-3 p-md-5 mb-2" style="box-shadow: 0px 4px 20px 0px rgba(7, 213, 232, 0.1);">
			<div class="row justify-content-between mt-4">
				<div class="col-12">
					<form id="mainForm">
						<div class="row mb-5 justify-content-center text-center">
							<div class="col-md-6">
								<h4 class="my-4" style="color: #354053;">Forgot Password?</h4>
								<p class="body1 my-4" style="color: #5D6A7E;"> We'll send password reset instructions to the email address associated with your account. </p>
								<div class="my-4">
									<input class="form-control" name="emailAddress" placeholder="Enter Email" required="" type="email"/>
								</div>
								<div class="my-4">
									<button class="btn btn-primary" routerLink="/auth/reset-password" style="padding: 8px 50px;border-radius: 5px;height: 50px;" type="submit">RESET PASSWORD</button>
								</div>
								<div class="my-4"><a class="body2" routerLink="/auth/login" style="color:#00D9CC;text-decoration: none;">Back to Login</a></div>
								<div class="my-4 text-center body1 orLine position-relative" style="color: #5D6A7E;"><label style="color: rgba(192, 198, 206, 0.9);">Or</label></div>
								<div class="body1">
									<button class="social-media-section w-100" type="button">
										<span class="fa fa-facebook-official"></span>
										<span class="align-self-centered">Continue with Facebook</span>
									</button>
									<button class="social-media-section w-100" type="button">
										<span class="fa fa-google"></span>
										<span class="align-self-centered">Continue with Google</span>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="copyright-area" style="height: 68px;">
	<div class="container-fluid">
		<div  class="row align-items-center">
			<div class="col-md-12 col-sm-12 col-12">
				<div class="copyright-text text-center">
					<small style="color:#5D6A7E"> 
						&copy; All Rights Reserved &nbsp;&nbsp;
					</small>
				</div>
			</div>
		</div>
	</div>
</div>