<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-header py-3 border-bottom-0 bg-white">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="d-flex align-items-center flex-wrap">
                        <h5 class="body1 card-title my-2 me-4">List of Invitations <a target="_blank" [routerLink]="
                  '/tutorial/' +
                  utility.tutorialData['CaseMembersComponent'].html
                "><i class="bx bxs-info-circle text-blue"></i></a></h5>

                        <span tippy="Invite members to case">
                            <button *ngIf="!caseDetail?.caseRunningStatus || caseDetail?.caseRunningStatus==1"
                                    (click)="resetInviteForm()" data-bs-toggle="modal" data-bs-target="#addInvite" type="button"
                                    class="btn btn-light-green my-1 me-2">
                                <i class="bx bx-plus-circle"></i> Invite Member
                            </button>
                        </span>
                        <!-- fcs -->
                        <button *ngIf="!caseDetail?.caseRunningStatus || caseDetail?.caseRunningStatus==1"
                                (click)="sendMailAll(false)" type="button" class="btn btn-pink my-1 me-2" tippy="Email Colleagues">
                            <i class="bx bx-envelope"></i> Colleagues
                        </button>
                        <!-- fcs -->
                        <button *ngIf="!caseDetail?.caseRunningStatus || caseDetail?.caseRunningStatus==1"
                                (click)="sendMailAll(true)" type="button" class="btn btn-default my-1 me-2"
                                tippy="Schedule meeting with colleagues">
                            <i class="bx bx-video"></i> Colleagues
                        </button>
                    </div>
                    <div class="d-flex align-items-center flex-wrap">
                        <button class="btn filter-btn my-1 me-2" data-bs-toggle="modal" data-bs-target="#filterModal"><i
                               class="bx bx-filter-alt"></i> Filter</button>
                        <div class="search search-md w-auto my-1">
                            <i class="bx bx-search"></i>
                            <input type="text" class="form-control" placeholder="Search" (keyup)="searchText($event)">
                        </div>
                    </div>
                </div>
            </div>
            <ng-container class="mt-5" *ngIf="isLoadingData">
                <ngx-shimmer-loading class="d-block" *ngFor="let i of shimmer(10).fill(1)"
                                     style="margin-top: 1.5em; display: block; transition: all 1s" [height]="'50px'" [width]="'100%'">
                </ngx-shimmer-loading>
            </ng-container>
            <div *ngIf="!isLoadingData" class="card-body p-0 pb-3">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap align-middle" style="margin-top: 0px !important;" datatable
                           [dtOptions]="dtOptions" id="dataTables">
                        <thead class="thead-light text-uppercase">
                            <tr style="text-transform:uppercase;">
                                <th style="width: 15px;">
                                    <!-- fcs -->
                                    <div class="form-check form-check-inline mb-0 " style="min-height: auto;">
                                        <input class="form-check-input" #selectAll (change)="toggleSelectAll($event)" type="checkbox"
                                               value="" id="flexCheckDefault">
                                    </div>
                                </th>
                                <th class="body2">MEMBER NAME</th>
                                <th class="body2">PRACTICE VALUE </th>
                                <th class="body2">STATUS</th>
                                <th class="body2">QUICK ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of baseData; let i = index">
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input mt-2" (change)="checkMember($event,data)"
                                               [(checked)]="data.isChecked" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span [hidden]="true">{{
                                            utility.getMetaData(
                                            data.invitedUserMail,
                                            "emailAddress",
                                            ["accountfirstName", "accountlastName"],
                                            "users"
                                            ).toString().trim()
                                            }}
                                        </span>
                                        <span class="d-none">{{ i }}</span>
                                        <span [innerHTML]="getUserImage(data.invitedUserMail)"></span>
                                        <span class="body2">{{
                                            utility.getMetaData(
                                            data.invitedUserMail,
                                            "emailAddress",
                                            ["accountfirstName", "accountlastName"],
                                            "users"
                                            )
                                            }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="body2">{{
                                            utility.getMetaData(
                                            data.invitedUserMail,
                                            "resourceOwner",
                                            ["practiceName"],
                                            "practices"
                                            )
                                            }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span class="badge badge-pill badge-info body2 px-2" *ngIf="data.presentStatus == 0">Pending</span>
                                        <span class="badge badge-pill badge-success body2 px-2"
                                              *ngIf="data.presentStatus == 1">Accepted</span>
                                        <span class="badge badge-pill badge-warning body2 px-2"
                                              *ngIf="data.presentStatus == 2">Declined</span>
                                        <span class="badge badge-pill badge-warning body2 px-2"
                                              *ngIf="data.presentStatus == 3">Removed</span>
                                        <br />
                                        <small class="text-muted">Last Update:
                                            {{ data.dateUpdated | date : "MMM d,yyyy" }}</small>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <!-- <a class="me-2 disabled opacity-25 " data-bs-toggle="modal">
                      <i class="bx bx-user-plus fs-4 text-bright-blue" tippy="Add Contact" aria-label="Add Contact"></i>
                    </a> -->
                                        <a routerLink="/mail/compose/0/{{ this.caseDetail?.patientId }}/{{
                  this.caseDetail?.caseId
                }}/{{ data.invitedUserMail}}" class="me-2" tippy="Email Colleague">
                                            <i class="bx bx-envelope fs-4 text-danger"></i>
                                        </a>
                                        <a routerLink="/mail/compose/1/{{ this.caseDetail?.patientId }}/{{
                  this.caseDetail?.caseId
                }}/{{ data.invitedUserMail}}" class="me-2" tippy="Video Confrence Colleague">
                                            <i class="bx bx-video fs-4 text-blue"></i>
                                        </a>
                                        <a *ngIf="(!caseDetail?.caseRunningStatus || caseDetail?.caseRunningStatus==1) && data.presentStatus==0 && data.resourceOwner==user.emailAddress"
                                           (click)=" selectedItem=data;
                      removeMember()" class="me-2" style="cursor: pointer;" tippy="Delete Individual From Case">
                                            <i class="bx bx-x fs-4 text-red"></i>
                                        </a>
                                        <!-- <a *ngIf="!(data.presentStatus==0 && data.resourceOwner==user.emailAddress)"
                      class="me-2 disabled opacity-25" tippy="Delete Individual From Case">
                      <i class="bx bx-x fs-4 text-red"></i>
                    </a> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- filter modal -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #f="ngForm" id="mainForm" (submit)="filterSubmit(f)">
                <div class="modal-body">
                    <div class="row gy-3">
                        <div class="col-md-12">
                            <label class="form-label body2 text-dark">Search by Date:</label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label body2 text-dark">From</label>
                            <input #filterDateFrom type="date" name="dateFrom" ngModel id="dateFrom" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label body2 text-dark">To</label>
                            <input [disabled]="!filterDateFrom.value" min="{{ filterDateFrom.value }}" type="date" name="dateTo"
                                   ngModel id="dateTo" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-default" data-bs-dismiss="modal">
                        Apply
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal to add members -->
<!-- 1.dont show existing members
	2.allow to add multiple members with button checkbox->this adds item to array
-->
<div class="modal fade" #modal id="addInvite" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div [hidden]="isInvite" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title body1">Add Members</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-4">
                    <div class="search search-md search-filter search-filter-sm">
                        <i class="bx bx-search"></i>
                        <ng-select dropdownPosition="bottom" [items]="nonInvitedMembers" [multiple]="true"
                                   bindLabel="accountfirstName" placeholder="Select Members" [(ngModel)]="selectedUsers">
                            <ng-template ng-label-tmp let-item="item" let-index="index" let-clear="clear">
                                <span class="ng-value-label"><img [src]="
                      item.imageSrc
                        ? utility.apiData.users.bucketUrl + item.imageSrc
                        : '../../assets/images/users.png'
                    " width="20px" height="20px" class="rounded-circle me-1" />
                                    {{ item.accountfirstName + " " + item.accountlastName }}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <div class="card card-lists">
                                    <div class="card-body p-0">
                                        <div class="d-flex align-items-center position-realtive">
                                            <img style="height: 50px; width: 50px" [src]="
                          item.imageSrc
                            ? utility.apiData.users.bucketUrl + item.imageSrc
                            : '../../assets/images/users.png'
                        " class="rounded-circle me-2 img-thumbnail shadow-sm" />
                                            <div class="d-flex align-items-center justify-content-between search-list-content">
                                                <div>
                                                    <strong ngOptionHighlight="search">
                                                        {{
                                                        item.accountfirstName + " " + item.accountlastName
                                                        }}
                                                    </strong>
                                                    <small class="text-muted d-block">
                                                        {{ item.emailAddress }}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div>
                    <h6 class="fw-bold text-dark ms-2">Invitation Attachments</h6>
                    <app-cvfast-new style="margin: -1em;display: block;margin-top: 1em;" #inviteText></app-cvfast-new>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <label (click)="isInvite=!isInvite;inviteForm.reset()" class="text-primary me-3 float-start">
                    <i class="bx bx-plus-circle isCursor"></i> Invite Someone to Join
                    Dental-Live
                </label>
                <button [disabled]="isUploadingData" (click)="sendInvite(inviteText)" class="btn btn-primary">
                    <span *ngIf="isUploadingData" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                    Send Invite
                </button>
            </div>
        </div>

        <div [hidden]="!isInvite" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title body1" id="addNonMembersLabel">
                    Invite Non Members
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #inviteForm="ngForm" id="inviteNewForm" (submit)="addNewMember(inviteForm)">
                <div class="modal-body">
                    <div class="row p-2">
                        <div class="col-md-12">
                            <input placeholder="Enter Name" class="form-control mb-4" required name="name" ngModel type="text" />
                        </div>
                        <div class="col-md-12">
                            <input placeholder="Enter E-Mail Address" class="form-control mb-4" required name="email" ngModel
                                   type="email" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center justify-content-center border-top-0">
                    <button type="submit" class="btn btn-default">Send E-Mail</button>
                </div>
            </form>
        </div>
    </div>
</div>