<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Invitations
	</li>
</ol>
<div class="page-header row align-items-center gx-0">
	<div class="col-md-6">
		<h3>Invitations</h3>
	</div>	
	<div class="col-md-6"> 
		
	</div>
</div>

<!-- <div class="row">
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm h-100">
			<div class="card-header border-bottom-0 bg-white">
				<div class="row">
					<div class="col-md-5 align-self-center">
						<h5 class="body1 card-title my-2">Work Order Invitations</h5>
					</div> 
					<div class="col-md-7 text-end">
						<a routerLink="/invitations/work-order-invitation-list" class="btn btn-default me-2">
							View All
						</a>
					</div>
				</div>
            </div>
			<div class="card-body p-0">
				<div class="table-responsive">
					<table class="table table-hover table-nowrap align-middle">
						<thead class="thead-light">
							<tr style="text-transform:uppercase;">
								<th class="body2">Owner</th>
								<th class="body2">WORK ORDER TITLE</th>
								<th class="body2">CREATED DATE</th>
								<th class="body2">ACTIONS</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon my-2 me-2">C</span>
										<span class="body2">Colin Sik</span>
									</div>
								</td>
								<td>
									<span class="body2">Gum Disease Treatment</span> 
								</td>
								<td>
									<span class="body2">29/02/2020</span>
								</td>                
								<td>
									<div class="dropdown">
										<a href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="">
											<i class="bx bx-dots-vertical-rounded text-muted fs-4"></i>  
										</a>
										<ul class="dropdown-menu border-0 py-2 px-2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 3rem;">
											<li><a class="dropdown-item" routerLink="/work-orders/work-order-edit">Edit</a></li>
											<li><a class="dropdown-item" routerLink="/work-orders/work-order-details">View Details</a></li>
											<li><a class="dropdown-item text-danger" href="javascript:void(0);" (click)="confirmBox()">Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon my-2 me-2">D</span>
										<span class="body2">Dareen Leow</span>
									</div>
								</td>
								<td>
									<span class="body2">Deep Teeth Cleaning</span> 
								</td>
								<td>
									<span class="body2">29/02/2020</span>
								</td>                
								<td>
									<div class="dropdown">
										<a href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="">
											<i class="bx bx-dots-vertical-rounded text-muted fs-4"></i>  
										</a>
										<ul class="dropdown-menu border-0 py-2 px-2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 3rem;">
											<li><a class="dropdown-item" routerLink="/work-orders/work-order-edit">Edit</a></li>
											<li><a class="dropdown-item" routerLink="/work-orders/work-order-details">View Details</a></li>
											<li><a class="dropdown-item text-danger" href="javascript:void(0);" (click)="confirmBox()">Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon my-2 me-2">A</span>
										<span class="body2">Aida Bugg</span>
									</div>
								</td>
								<td>
									<span class="body2">Dental Braces</span> 
								</td>
								<td>
									<span class="body2">29/02/2020</span>
								</td>                
								<td>
									<div class="dropdown">
										<a href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="">
											<i class="bx bx-dots-vertical-rounded text-muted fs-4"></i>  
										</a>
										<ul class="dropdown-menu border-0 py-2 px-2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 3rem;">
											<li><a class="dropdown-item" routerLink="/work-orders/work-order-edit">Edit</a></li>
											<li><a class="dropdown-item" routerLink="/work-orders/work-order-details">View Details</a></li>
											<li><a class="dropdown-item text-danger" href="javascript:void(0);" (click)="confirmBox()">Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon my-2 me-2">A</span>
										<span class="body2">Aida Bugg</span>
									</div>
								</td>
								<td>
									<span class="body2">Dental Braces</span> 
								</td>
								<td>
									<span class="body2">29/02/2020</span>
								</td>                
								<td>
									<div class="dropdown">
										<a href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="">
											<i class="bx bx-dots-vertical-rounded text-muted fs-4"></i>  
										</a>
										<ul class="dropdown-menu border-0 py-2 px-2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 3rem;">
											<li><a class="dropdown-item" routerLink="/work-orders/work-order-edit">Edit</a></li>
											<li><a class="dropdown-item" routerLink="/work-orders/work-order-details">View Details</a></li>
											<li><a class="dropdown-item text-danger" href="javascript:void(0);" (click)="confirmBox()">Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
	<div class="col-md-6 mb-4">
        <div class="card shadow-sm h-100">
			<div class="card-header border-bottom-0 bg-white">
				<div class="row">
					<div class="col-md-5 align-self-center">
						<h5 class="body1 card-title my-2">Referral Invitaions</h5>
					</div> 
					<div class="col-md-7 text-end">
						<a routerLink="/invitations/referral-invitation-list" class="btn btn-default me-2">
							View All
						</a>
					</div>
				</div>
            </div>
			<div class="card-body p-0">
				<div class="table-responsive">
					<table class="table table-hover table-nowrap align-middle">
						<thead class="thead-light">
							<tr style="text-transform:uppercase;">
								<th class="body2">OWNER</th>
								<th class="body2">SEND / RECIEVED</th>
								<th class="body2">REFERRAL TITLE</th>
								<th class="body2">CREATED DATE</th>
								<th class="body2">Actions </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon my-2 me-2">C</span>
										<span class="body2">Colin Sik</span>
									</div>
								</td>
								<td>
									<span class="text-info body2">Send</span>  
								</td>
								<td>
									<span class="body2">Gum Disease Treatment</span> 
								</td>
								<td>
									<span class="body2">29/02/2020</span>
								</td>                
								<td>
									<div class="dropdown">
										<a href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="">
											<i class="bx bx-dots-vertical-rounded text-muted fs-4"></i>  
										</a>
										<ul class="dropdown-menu border-0 py-2 px-2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 3rem;">
											<li><a class="dropdown-item" routerLink="/referral/referral-edit">Edit</a></li>
											<li><a class="dropdown-item" routerLink="/referral/referral-details">View Details</a></li>
											<li><a class="dropdown-item text-danger" href="javascript:void(0);" (click)="confirmBox()">Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon my-2 me-2">D</span>
										<span class="body2">Dareen Leow</span>
									</div>
								</td>
								<td>
									<span class="text-info body2">Send</span>  
								</td>
								<td>
									<span class="body2">Deep Teeth Cleaning</span> 
								</td>
								<td>
									<span class="body2">29/02/2020</span>
								</td>                
								<td>
									<div class="dropdown">
										<a href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="">
											<i class="bx bx-dots-vertical-rounded text-muted fs-4"></i>  
										</a>
										<ul class="dropdown-menu border-0 py-2 px-2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 3rem;">
											<li><a class="dropdown-item" routerLink="/referral/referral-edit">Edit</a></li>
											<li><a class="dropdown-item" routerLink="/referral/referral-details">View Details</a></li>
											<li><a class="dropdown-item text-danger" href="javascript:void(0);" (click)="confirmBox()">Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon my-2 me-2">A</span>
										<span class="body2">Aida Bugg</span>
									</div>
								</td>
								<td>
									<span class="text-success body2">Received</span>       
								</td>
								<td>
									<span class="body2">Dental Braces</span> 
								</td>
								<td>
									<span class="body2">29/02/2020</span>
								</td>                
								<td>
									<div class="dropdown">
										<a href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="">
											<i class="bx bx-dots-vertical-rounded text-muted fs-4"></i>  
										</a>
										<ul class="dropdown-menu border-0 py-2 px-2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 3rem;">
											<li><a class="dropdown-item" routerLink="/referral/referral-edit">Edit</a></li>
											<li><a class="dropdown-item" routerLink="/referral/referral-details">View Details</a></li>
											<li><a class="dropdown-item text-danger" href="javascript:void(0);" (click)="confirmBox()">Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<span class="avatar-icon my-2 me-2">A</span>
										<span class="body2">Aida Bugg</span>
									</div>
								</td>
								<td>
									<span class="text-info body2">Send</span>          
								</td>
								<td>
									<span class="body2">Dental Braces</span> 
								</td>
								<td>
									<span class="body2">29/02/2020</span>
								</td>                
								<td>
									<div class="dropdown">
										<a href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="">
											<i class="bx bx-dots-vertical-rounded text-muted fs-4"></i>  
										</a>
										<ul class="dropdown-menu border-0 py-2 px-2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 3rem;">
											<li><a class="dropdown-item" routerLink="/referral/referral-edit">Edit</a></li>
											<li><a class="dropdown-item" routerLink="/referral/referral-details">View Details</a></li>
											<li><a class="dropdown-item text-danger" href="javascript:void(0);" (click)="confirmBox()">Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
</div> -->

<div class="row">
    <div class="col-md-12">
		<div class="card shadow-sm">
			<div class="card-header border-bottom-0 bg-white">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="align-self-center">
						<h5 class="body1 card-title my-2">Case Invitations</h5>
					</div>
					<div class="d-flex align-items-center flex-wrap">
						<div class="nav nav-pills nav-justified tabview me-3">
							<a href="javascruipt:void(0);" class="nav-link" [class.active]="id === 'Received'" (click)="tabContent('Received')">Received</a>
							<a href="javascruipt:void(0);" class="nav-link" [class.active]="id === 'Invited'" (click)="tabContent('Invited')">Send</a>
						</div>
					</div>
					<div class="text-end">
						<a routerLink="/invitations/case-invitation-list" class="btn btn-default me-2">
							View All
						</a>
					</div>
				</div>
			</div>
			<div class="card-body p-0 pb-3">
				<div *ngIf="id === 'Received'">
					<div class="table-responsive">
						<table *ngIf="inviteReceivedData" class="table table-hover table-nowrap align-middle" datatable [dtOptions]="dtOptions" id="dataTables">
							<thead class="thead-light">
								<tr style="text-transform:uppercase;">
									<th class="body2">MEMBER NAME</th>
									<th class="body2">INVITAION</th>
									<th class="body2">PATIENT NAME </th>
									<th class="body2">CASE TITLE</th>
									<th class="body2">STATUS</th>
									<th class="body2" data-orderable="false">Action</th>
								</tr>
							</thead>
							<tbody *ngIf="inviteReceivedData?.length != 0">
								
								<tr *ngFor="let invitereceived of inviteReceivedData; let i = index;">
									<td>
										<div class="d-flex align-items-center">
											<span class="avatar-icon my-2 me-2">{{invitereceived.userName.charAt(0)}}</span>
											<span class="body2">{{invitereceived.userName}}</span>
										</div>
									</td>
									<td>
										<span class="text-success body2">Received</span>
									</td>
									<td>
										<div class="d-flex align-items-center">
											<span class="avatar-icon my-2 me-2">{{invitereceived.patientName.charAt(0)}}</span>
											<span class="body2">{{invitereceived.patientName}}</span>
										</div>
									</td>
									<td>
										<span class="body2">{{invitereceived.caseTitle}}</span>
									</td>
									<td>
										<div>
											<span class="badge badge-pill badge-info body2 px-2" *ngIf="(invitereceived.presentStatus == 0)">Pending</span>
											<span class="badge badge-pill badge-success body2 px-2" *ngIf="(invitereceived.presentStatus == 1)">Accepted</span>
											<span class="badge badge-pill badge-warning body2 px-2" *ngIf="(invitereceived.presentStatus == 2)">Declined</span>
											<span class="badge badge-pill badge-warning body2 px-2" *ngIf="(invitereceived.presentStatus == 3)">Removed</span><br/>
											<small class="text-muted">Received on : {{invitereceived.dateCreated | date:'MM/dd/YYYY'}}</small>
										</div>                     
									</td>
									<td>
										<div class="dropdown" *ngIf="(invitereceived.presentStatus == 0)">
											<a href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="">
												<i class="bx bx-dots-vertical-rounded text-muted fs-4"></i>  
											</a>
											<ul class="dropdown-menu border-0 py-2 px-2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 3rem;">
												
												<li><button class="btn dropdown-item text-success" data-bs-toggle="modal" data-bs-target="#inviteMembersAccepted" (click)="getInviteSubmitData(invitereceived.invitationId, 1);">Accepted</button></li>
												
												<li><button class="btn dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#inviteMembersAccepted" (click)="getInviteSubmitData(invitereceived.invitationId, 2);">Declined</button></li>
												
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div *ngIf="id === 'Invited'">
					<div class="table-responsive">
						<table *ngIf="invitedata" class="table table-hover table-nowrap align-middle" datatable [dtOptions]="dtOptions" id="dataTables">
							<thead class="thead-light">
								<tr style="text-transform:uppercase;">
									<th class="body2">MEMBER NAME</th>
									<th class="body2">INVITAION</th>
									<th class="body2">PATIENT NAME </th>
									<th class="body2">CASE TITLE</th>
									<th class="body2">STATUS</th>
									<th class="body2" data-orderable="false">Action</th>
								</tr>
							</thead>
							<tbody *ngIf="invitedata?.length != 0">
								
								<tr *ngFor="let invite of invitedata; let i = index;">
									<td>
										<div class="d-flex align-items-center">
											<span class="avatar-icon my-2 me-2">{{invite.userName.charAt(0)}}</span>
											<span class="body2">{{invite.userName}}</span>
										</div>
									</td>
									<td>
										<span class="text-info body2">Send</span>
									</td>
									<td>
										<div class="d-flex align-items-center">
											<span class="avatar-icon my-2 me-2">{{invite.patientName.charAt(0)}}</span>
											<span class="body2">{{invite.patientName}}</span>
										</div>
									</td>
									<td>
										<span class="body2">{{invite.caseTitle}}</span>
									</td>
									<td>
										<div>
											<span class="badge badge-pill badge-info body2 px-2" *ngIf="(invite.presentStatus == 0)">Pending</span>
											<span class="badge badge-pill badge-success body2 px-2" *ngIf="(invite.presentStatus == 1)">Accepted</span>
											<span class="badge badge-pill badge-warning body2 px-2" *ngIf="(invite.presentStatus == 2)">Declined</span>
											<span class="badge badge-pill badge-warning body2 px-2" *ngIf="(invite.presentStatus == 3)">Removed</span><br/>
											<small class="text-muted">Invited on : {{invite.dateCreated | date:'MM/dd/YYYY'}}</small>
										</div>                     
									</td>
									<td>
										<div *ngIf="(invite.resourceOwner != invite.dentalId)">
											<div class="dropdown" *ngIf="(invite.presentStatus == 0)">
												<a href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="">
													<i class="bx bx-dots-vertical-rounded text-muted fs-4"></i>  
												</a>
												<ul class="dropdown-menu border-0 py-2 px-2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 3rem;">
													
													<li><button class="btn dropdown-item text-success" data-bs-toggle="modal" data-bs-target="#inviteMembersAccepted" (click)="getInviteSubmitData(invite.invitationId, 1);">Accepted</button></li>
													
													<li><button class="btn dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#inviteMembersAccepted" (click)="getInviteSubmitData(invite.invitationId, 2);">Declined</button></li>
													
												</ul>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<div class="modal fade" id="inviteMembersAccepted" tabindex="-1" aria-labelledby="inviteMembersLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<form #InviteForm="ngForm" id="InviteForm" (ngSubmit)="onSubmitInvite(InviteForm)">
				<div class="modal-header">
					<h5 class="modal-title body1" id="inviteMembersLabel">Send your response</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row gy-3">
						<div class="col-md-12">
							<app-cvfast></app-cvfast>
						</div>
					</div>
				</div>
				<div class="modal-footer text-center justify-content-center border-top-0">
					<input type="hidden" name="caseId" id="caseId" ngModel="{{this.case_id}}">
					<input type="hidden" name="patientId" id="patientId" ngModel="{{this.patient_id}}">
					<input type="hidden" name="patientName" id="patientName" ngModel="{{this.patient_name}}">
					<input type="hidden" name="invitationId" id="invitationId" ngModel="{{this.invitation_id}}">
					<input type="hidden" name="invitedUserMail" id="invitedUserMail" ngModel="{{this.invited_user_mail}}">
					<input type="hidden" name="invitedUserId" id="invitedUserId" ngModel="{{this.invited_user_id}}">
					<input type="hidden" name="presentStatus" id="presentStatus" ngModel="{{this.statusvalue}}">
					<button type="submit" [disabled]="!InviteForm.form.valid" class="btn btn-default" data-bs-dismiss="modal">Submit</button>
					<button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>