<header class="w-100 overflow-hidden main_landing header-style">
	<nav class="navbar navbar-expand-md navbar-dark border-bottom wow fadeInDown" data-wow-delay="0.4s"  style=" background-color: #fff !important;">
		<div class="container">
			<a class="navbar-brand" routerLink="/"><img src="assets/images/Logo_Dark.png" /></a>
			<div class="text-center hipaa-logo">
				<img src="assets/images/hipaa-logo.png" class="minlg" />
				<img src="assets/images/logo_footer3.png" class="maxmd" />
			</div>
			<button class="navbar-toggler collapsed" data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse" type="button" aria-expanded="false">
				<span class="navbar-toggler-icon"> <i class="fa fa-bars"></i></span>
			</button>
			<div class="collapse navbar-collapse mt-1" id="collapsibleNavbar">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link bold" href="javascript:void(0);" (click)="scroll(Products)" style="color:#011A3E;">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/solutions" routerLinkActive="active" style="color: #011A3E;">Solutions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" href="javascript:void(0);" (click)="scroll(Plans)" style="color: #011A3E;">Plans</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/become-vendor" routerLinkActive="active" style="color: #011A3E;">Vendor</a>
					</li>
				</ul>
				<div class="dropdown-divider"></div>
				<div class="text-center social wow fadeInUp me-md-2 me-lg-4" data-wow-delay="0.6s">
					<a href="https://www.facebook.com/dentalive" target="_blank" title="Facebook"><i class="bx bxl-facebook-circle" aria-hidden="true"></i></a>
					<a href="https://www.twitter.com/dentallivemail" target="_blank" title="Twitter"><i class="bx bxl-twitter" aria-hidden="true"></i></a>
					<a href="https://www.instagram.com/dentallive" target="_blank" title="Instagram"><i class="bx bxl-instagram" aria-hidden="true"></i></a>
				</div>
				<ul class="navbar-nav mb-md-0 ml-auto">
					<li class="nav-item">
					  <a routerLink="/auth/login" routerLinkActive="active" class="btn btn-primary me-2 my-1">Login</a>
					</li>
					<li class="nav-item">
					  <a routerLink="/auth/signup" routerLinkActive="active" class="btn btn-dark my-1">Sign Up </a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<nav class="navbar-expand-md nav_bar pt-1 border-bottom wow fadeInDown" data-wow-delay="0.4s"  style="height: 50px;">
		<div class="container">
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item ">
						<a class="nav-link bold py-md-0" href="javascript:void(0);" (click)="scroll(Products)" style="color: #011A3E;"><img src="assets/images/maillogom.png" alt="Dental LIVE Mail"/></a>                  
					</li>
					<li class="nav-item ">
						<a class="nav-link bold py-md-0" href="javascript:void(0);" (click)="scroll(DentalTalk)" style="color: #011A3E;"><img src="assets/images/talklogom.png" alt="Dental LIVE Talk"/></a>                  
					</li>
					<li class="nav-item ">
						<a class="nav-link bold py-md-0" href="javascript:void(0);" (click)="scroll(DentalPlanner)" style="color: #011A3E;"><img src="assets/images/plannerlogom.png" alt="Dental LIVE Planner"/></a>                  
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>


<div id="screen2_container" class="screen normal py-lg-4" >
	<div class="container">
		<div class="solutions row" id="screen2_container_solutions">
			<div class="col-md-6">
				<div class="wow fadeInUp mb-2 pb-2 mb-sm-5 pb-sm-5 position-relative" data-wow-delay="0.6s" style="z-index:12;">
					<!--<h3 class="fw-bold" style="color: #011A3E;">An <span style="color: #0070D2;">Audio Visual,</span>  Virtual treatment <span style="color: #0070D2;">Management Platform for Dentistry</span></h3>-->
					<h3 class="fw-bold" style="color: #011A3E;"><span class="tw"></span><span class="tw2" style="color: #0070D2;"></span><span class="tw3"></span><span class="tw4" style="color: #0070D2;"></span></h3>
					<div class="action-btn mt-5 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
						<a routerLink="/auth/login" class="btn btn-dark me-3" style="padding: 14px 28px;">Try Now</a>
						<a routerLink="/auth/login" class="body1 text-decoration-none  d-inline-flex align-items-center  mt-3 mt-lg-0 mt-md-0" style="color: #011A3E ;">90 Days FREE Trial </a>
					</div>

				</div>
			</div>
			<div class="col-md-6">
				<div class="circle wow fadeInUp" data-wow-delay="0.4s">
					<div class="dotted-line">
						<svg xmlns="http://www.w3.org/2000/svg" width="286px" height="286px" viewBox="0 0 286 286" enable-background="new 0 0 286 286" xml:space="preserve" fill="none">
						<g filter="url(#filter0_d_551:822)">
							<circle fill="#EFF3F7" cx="143" cy="143" r="97.747"/>
						</g>
						<path fill="#011A3E" d="M67.348,133.792c2.065,0,3.871,0.409,5.416,1.229c1.544,0.819,2.735,1.972,3.573,3.461
							c0.855,1.47,1.284,3.173,1.284,5.109c0,1.917-0.428,3.619-1.284,5.108c-0.838,1.489-2.038,2.643-3.601,3.462
							c-1.545,0.818-3.34,1.228-5.388,1.228h-7.342v-19.596H67.348z M67.041,149.258c1.805,0,3.21-0.494,4.215-1.479
							c1.004-0.987,1.507-2.383,1.507-4.188s-0.503-3.21-1.507-4.215c-1.005-1.005-2.41-1.507-4.215-1.507H64.78v11.39H67.041z
							 M94.972,145.35c0,0.446-0.028,0.911-0.084,1.396H84.085c0.075,0.967,0.381,1.713,0.921,2.232c0.558,0.504,1.238,0.755,2.038,0.755
							c1.191,0,2.019-0.503,2.484-1.508h5.081c-0.261,1.023-0.735,1.945-1.423,2.764c-0.67,0.818-1.517,1.461-2.541,1.926
							c-1.024,0.466-2.168,0.698-3.434,0.698c-1.526,0-2.885-0.325-4.076-0.978c-1.191-0.651-2.122-1.582-2.791-2.792
							c-0.67-1.21-1.005-2.623-1.005-4.242c0-1.618,0.326-3.033,0.977-4.243c0.67-1.21,1.6-2.14,2.791-2.791
							c1.191-0.652,2.56-0.978,4.104-0.978c1.508,0,2.848,0.317,4.02,0.949c1.173,0.633,2.084,1.536,2.736,2.708
							C94.637,142.418,94.972,143.787,94.972,145.35z M90.087,144.093c0-0.819-0.279-1.47-0.837-1.953
							c-0.558-0.484-1.256-0.726-2.094-0.726c-0.8,0-1.479,0.232-2.038,0.697c-0.54,0.466-0.875,1.126-1.004,1.982H90.087z
							 M106.981,137.645c1.823,0,3.275,0.596,4.354,1.786c1.099,1.173,1.647,2.792,1.647,4.858v9.1h-4.746v-8.458
							c0-1.043-0.269-1.852-0.809-2.429s-1.266-0.865-2.178-0.865c-0.911,0-1.637,0.289-2.177,0.865s-0.809,1.386-0.809,2.429v8.458H97.49
							v-15.576h4.774v2.065c0.484-0.688,1.135-1.229,1.954-1.619C105.037,137.85,105.958,137.645,106.981,137.645z M124.981,149.342v4.047
							h-2.429c-1.73,0-3.08-0.418-4.048-1.257c-0.967-0.855-1.451-2.242-1.451-4.157v-6.198h-1.898v-3.964h1.898v-3.797h4.773v3.797h3.127
							v3.964h-3.127v6.253c0,0.464,0.112,0.8,0.335,1.005s0.595,0.308,1.117,0.308H124.981z M126.691,145.572
							c0-1.601,0.297-3.005,0.893-4.215c0.614-1.21,1.442-2.14,2.484-2.791c1.042-0.652,2.206-0.978,3.49-0.978
							c1.098,0,2.056,0.224,2.875,0.67c0.837,0.447,1.479,1.033,1.927,1.759v-2.205h4.772v15.576h-4.772v-2.204
							c-0.468,0.725-1.117,1.311-1.954,1.758c-0.819,0.446-1.778,0.67-2.876,0.67c-1.266,0-2.419-0.325-3.461-0.978
							c-1.042-0.669-1.871-1.609-2.484-2.819C126.989,148.587,126.691,147.174,126.691,145.572z M138.36,145.601
							c0-1.191-0.336-2.131-1.006-2.819c-0.651-0.688-1.451-1.033-2.4-1.033s-1.758,0.344-2.429,1.033
							c-0.651,0.67-0.977,1.601-0.977,2.791c0,1.192,0.326,2.14,0.977,2.848c0.67,0.688,1.479,1.032,2.429,1.032s1.749-0.344,2.4-1.032
							C138.024,147.731,138.36,146.791,138.36,145.601z M151.36,132.731v20.657h-4.773v-20.657H151.36z"/>
						<path fill="#00D9CC" d="M159.593,149.703h6.253v3.686h-11.026v-19.596h4.773V149.703z M172.896,133.792v19.596h-4.774v-19.596
							H172.896z M194.751,133.792l-6.951,19.596h-5.973l-6.951-19.596h5.081l4.856,14.794l4.886-14.794H194.751z M201.52,137.617v3.964
							h6.392v3.685h-6.392v4.299h7.229v3.824h-12.003v-19.596h12.003v3.824H201.52z"/>
						<path fill="#011A3E" d="M216.253,130.127v0.983h-1.662v5.256h-1.252v-5.256h-1.662v-0.983H216.253z"/>
						<path fill="#011A3E" d="M223.967,130.127v6.239h-1.251v-4.058l-1.672,4.058h-0.947l-1.681-4.058v4.058h-1.251v-6.239h1.421
							l1.984,4.639l1.984-4.639H223.967z"/>
							<defs>
							<filter id="filter0_d_551:822" x="0" y="0" width="316" height="316" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
							<feOffset/>
							<feGaussianBlur stdDeviation="25"/>
							<feComposite in2="hardAlpha" operator="out"/>
							<feColorMatrix type="matrix" values="0 0 0 0 0.815686 0 0 0 0 0.839216 0 0 0 0 0.870588 0 0 0 1 0"/>
							<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_551:822"/>
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_551:822" result="shape"/>
							</filter>
							</defs>
						</svg>
						<ul>
							<li><p>Video Message</p><img data-index="1" src="assets/images/iconsix.png" /></li>
							<li><p>Secure by Hippa</p><img data-index="2" src="assets/images/iconseven.png" /></li>
							<li><p>Screen Share</p><img data-index="3" src="assets/images/icon.png" /></li>
							<li><p>Video Conference</p><img data-index="4" src="assets/images/icontwo.png" /></li>
							<li><p>Patient-Centric eMails</p><img data-index="5" src="assets/images/iconthree.png" /></li>
							<li><p>Chat</p><img data-index="6" src="assets/images/iconeight.png" /></li>
							<li><p>Audio Message</p><img data-index="7" src="assets/images/iconfour.png" /></li>
							<li><p>Meetings</p><img data-index="8" src="assets/images/iconfive.png" /></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- main section -->
<main class="overflow-hidden w-100">
	
	<!-- Products  -->
	<section class="position-relative pt-4">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="appie-hero-thumb">
						<img src="assets/images/dental-clinic.png" alt="dental-clinic" style="transform: translateZ(0);"  class="mt-2 wow fadeInUp" data-wow-delay="0.8s"/>
					</div>
				</div>
				<div class="col-md-6 align-self-center">
					<div class="pt-3 position-relative" style="z-index:99;">
						<h4 class="fw-bold mt-4 mt-sm-4 mt-lg-0 wow fadeInLeft" data-wow-delay="0.2s" style="color: #354053;">Have more time for the actual dentistry! </h4>
						<p class="mb-0 pt-4 wow fadeInLeft" data-wow-delay="0.3s" style="font-size: 46px;font-family:system-ui;font-weight: 100;color: #5D6A7E"> Enjoy Screen sharing like features.</p>
						<p class="my-4 body1 text-justify wow fadeInLeft" data-wow-delay="0.4s" style="color: #5D6A7E">Address patients queries regarding 	treatment plans and care via explanatory videos or screen-sharing messages.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section  class="seo-banner-area" style="background-color: #E6FBFD;" id="Products" #Products>
		<div class="container">
			<div class="d-flex row align-items-center justify-content-between">
				<div class="col-12 col-md-5 order-md-first order-last  ">
					<div class="product-header wow fadeInLeft " style="z-index:2;position:relative;" data-wow-delay="0.1s">
						<img class="mb-4 " src="assets/images/maillogo.png"><br>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Video mail</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Audio mail</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Patient Centric</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Secure data sharing</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">HIPAA-Compliant</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Mail with Screen-Sharing Recording</span>
					</div>
					<div class="content-slider wow fadeInLeft" data-wow-delay="0.3s" style="color: rgb(93, 106, 126); visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
						<owl-carousel-o [options]="contentSlider">
						  <ng-template carouselSlide>
							<p class="my-4 body1 text-justify">
							  DentalLive Mail is a HIPPA-compliant audio-vide mailing solution for all your patient centric dental correspondence. <!-- Audio, video and screen share recording features in one single platform.-->
							</p>
						  </ng-template>
						  <ng-template carouselSlide>
							<p class="my-4 body1 text-justify">
							  Use DentalLive Mail to send a customized audio visual message that endorses your dental practice.
							</p>
						  </ng-template>
						  <ng-template carouselSlide>
							<p class="my-4 body1 text-justify">
								Enjoy secure communication and share securely with the HIPPA-compliant software DentalLive Mail.
							</p>
						  </ng-template>
						  <ng-template carouselSlide>
							<p class="my-4 body1 text-justify">
								Send video recording messages from DentalLive Mail to elevate your professional communication experience - for a more human, personal touch.
							</p>
						  </ng-template>
						</owl-carousel-o>
					</div>
					<div class="wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
						<p class="body1 my-4 ">
							<a routerLink="/dentallive-mail" class="read-more-btn underline style1" style="color: #01ABA1;">
								Learn more about product
								<i class="fa fa-arrow-right" aria-hidden="true" style="font-size: small;"></i>
							</a>
						</p>
						<div class="d-flex" style="z-index:2;position:relative;">
							<a routerLink="/auth/login" class="btn btn-dark me-2 btn-3 border-0" style="width:150px;padding: 14px 20px;box-shadow: 0px 4px 20px #c3d2ff00;">Try Now</a>
							<a routerLink="/auth/login" class="btn btn-outline-primary_one" style="width:150px;padding: 14px 20px;box-shadow: 0px 4px 20px #c3d2ff00;border:1px solid #01ABA1;color: #01ABA1;"> Buy Now</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-7  mb-5 mb-lg-0">
					<div class="seo-img-contant">
						<div class="seo-banner-img">
							<img src="assets/images/mailproduct.png" alt="Image">
						</div>
						<!-- <div class="seo-img">
						<img src="assets/images/circle.png" class="seo-img-2" alt="Image">
						</div> -->
					</div>             
				</div>
			</div>
		</div>
	</section>
	<section id="DentalTalk" #DentalTalk>
		<div class="container">
			<div class="d-flex row align-items-center justify-content-between ">
				<div class="col-md-7  mb-5 mb-lg-0">
					<div class="Talk-img-content">
						<div class="Talk-banner-img">
							<img src="assets/images/talkside.png" alt="Image">
						</div>
						<!-- <div class="Talk-img">
						<img src="assets/images/talkimg.png" class="Talk-img-2" alt="Image">
						</div>  -->
					</div>           
				</div>
				<div class="col-md-5 justify-content-between ">
					<div class="product-header-two wow fadeInLeft" style="z-index:2;position:relative;" data-wow-delay="0.1s">
					  <img class="mb-4" src="assets/images/talklogo.png"><br/>
					  <span class="my-1 me-2 badge px-3 py-2 bg-cyan-soft">Live Meetings</span>
					  <span class="my-1 me-2 badge px-3 py-2 bg-cyan-soft">Schedule Conferences</span>
					  <span class="my-1 me-2 badge px-3 py-2 bg-cyan-soft">Recordings</span>
					  <span class="my-1 me-2 badge px-3 py-2 bg-cyan-soft">Document Sharing</span>
					  <span class="my-1 me-2 badge px-3 py-2 bg-cyan-soft">Whiteboard</span>
					  <span class="my-1 me-2 badge px-3 py-2 bg-cyan-soft">Polling</span>
					  <span class="my-1 me-2 badge px-3 py-2 bg-cyan-soft">Secure</span>
					  <span class="my-1 me-2 badge px-3 py-2 bg-cyan-soft">Browser Friendly</span>
					</div>
					<p class="my-4 body1 text-justify wow fadeInLeft" data-wow-delay="0.3s" style="color: rgb(93, 106, 126); visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
						An enterprise-level video conferencing software that’s secure, easy to use and browser agnostic. DentalLive Talk (Powered by 3CX) is a complete communications solution for all your integrated Tele-Dental needs.
					</p>
					<div class="wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
						<p class="body1 my-4 ">
						  <a routerLink="/dentallive-talk" class="read-more-btn underline" style="color: #0070d2;">
							  Learn more about product
							  <i class="fa fa-arrow-right" aria-hidden="true" style="font-size: small;"></i>
						  </a>
						</p>
						<div class="d-flex">
							<a routerLink="/auth/login" class="btn btn-dark me-2 btn-3 border-0" style="width:150px;padding: 14px 20px;box-shadow: 0px 4px 20px #c3d2ff00;">Try Now</a>
							<a routerLink="/auth/login" class="btn btn-outline-primary " style="width:150px;padding: 14px 20px;box-shadow: 0px 4px 20px #c3d2ff00;">Buy Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section  class="seo-banner-area" style="background-color: #E6FBFD;" id="DentalPlanner" #DentalPlanner>
		<div class="container">
			<div class="d-flex row align-items-center justify-content-between">
				<div class="col-12 col-md-5 order-md-first order-last  ">
					<div class="product-header wow fadeInLeft " style="z-index:2;position:relative;" data-wow-delay="0.1s">
						<img class="mb-4 " src="assets/images/plannerlogo.png"><br>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Create Cases</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Send Referrals</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Send Work Orders</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Invite Colleagues</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Add Audio</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Attach Files</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Record Videos</span>
						<span class="my-1 me-2 badge px-3 py-2 bg-primary-soft" style="color: #5D6A7E;">Invite Colleagues</span>
					</div>
					<div class="content-slider wow fadeInLeft" data-wow-delay="0.3s" style="color: rgb(93, 106, 126); visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
						<p class="my-4 body1 text-justify">
						  Dental LIVE Planner is HIPPA-compliant collaboration tool for dentists, built by dentists. Invite colleagues, create milestones, send referrals and workorders, and much more through a single consolidated solution backed by audio and visual capabilities.
						</p>
					</div>
					<div class="wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
						<p class="body1 my-4 ">
							<a href="#" class="read-more-btn underline style1" style="color: #01ABA1;">
								Learn more about product
								<i class="fa fa-arrow-right" aria-hidden="true" style="font-size: small;"></i>
							</a>
						</p>
						<div class="d-flex" style="z-index:2;position:relative;">
							<a routerLink="/auth/login" class="btn btn-dark me-2 btn-3 border-0" style="width:150px;padding: 14px 20px;box-shadow: 0px 4px 20px #c3d2ff00;">Try Now</a>
							<a routerLink="/auth/login" class="btn btn-outline-primary_one" style="width:150px;padding: 14px 20px;box-shadow: 0px 4px 20px #c3d2ff00;border:1px solid #01ABA1;color: #01ABA1;"> Buy Now</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-7  mb-5 mb-lg-0">
					<div class="seo-img-contant">
						<div class="seo-banner-img">
							<img src="assets/images/plannerproduct.png" alt="Image">
						</div>
						<!-- <div class="seo-img">
						<img src="assets/images/circle.png" class="seo-img-2" alt="Image">
						</div> -->
					</div>             
				</div>
			</div>
		</div>
	</section>

	
	<section class="our-services-area">
		<div id="services" >
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
					  <div class="our-service-card h-100 wow fadeInUp" data-wow-delay="0.1s">
							<img src="assets/images/icon-box-1.png">
							<p class="body1 fw-bold pt-2">Video Conferencing Like Never Before</p>
							<ul class="ul" style="margin-left:-10px;text-align:justify;">
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Schedule and Enjoy unlimited Meetings.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Unlimited time on live calls and recordings.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Invite up to 250 participants.</label>
									</div>
								</li>
							</ul>
					  </div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="our-service-card h-100 wow fadeInUp" data-wow-delay="0.2s">
							<img src="assets/images/icon-box-2.png">
							<p class="body1 fw-bold pt-2">Advanced Collaboration Features</p>
							<ul class="ul" style="margin-left:-10px;text-align:justify;">
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Share your screen for presentations & online classrooms.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Liven up information with an on-screen whiteboard.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Interactive meetings using document sharing, chat & polling.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Hands-on troubleshooting & training with remote screen control.</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="our-service-card h-100 wow fadeInUp" data-wow-delay="0.3s">
							<img src="assets/images/icon-box-3.png">
							<p class="body1 fw-bold pt-2">Professional Video Meeting Solution</p>
							<ul class="ul" style="margin-left:-10px;text-align:justify;">
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Secure meetings and data controlled by you.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Manage Participants and settings.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Browser and Device Friendly, No App required.</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="about-area">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="imgcontainer wow fadeInDown" data-wow-delay="0.3s">
						<img src="https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/5f0866426abe54f7b27c5cb4/pexels-fauxels-3182759.jpg" class="aboutimg" alt="about"/>
						<span class="ab-img-icon"><svg class="ab-svg-icon" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style=""><use xlink:href="#svg-2d98"></use></svg>
						<svg class="ab-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-2d98" style="enable-background:new 0 0 60 60;"><g><path d="M42.595,0H17.405C14.977,0,13,1.977,13,4.405v51.189C13,58.023,14.977,60,17.405,60h25.189C45.023,60,47,58.023,47,55.595
						V4.405C47,1.977,45.023,0,42.595,0z M15,8h30v38H15V8z M17.405,2h25.189C43.921,2,45,3.079,45,4.405V6H15V4.405
						C15,3.079,16.079,2,17.405,2z M42.595,58H17.405C16.079,58,15,56.921,15,55.595V48h30v7.595C45,56.921,43.921,58,42.595,58z"></path><path d="M30,49c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S32.206,49,30,49z M30,55c-1.103,0-2-0.897-2-2s0.897-2,2-2
						s2,0.897,2,2S31.103,55,30,55z"></path><path d="M26,5h4c0.553,0,1-0.447,1-1s-0.447-1-1-1h-4c-0.553,0-1,0.447-1,1S25.447,5,26,5z"></path><path d="M33,5h1c0.553,0,1-0.447,1-1s-0.447-1-1-1h-1c-0.553,0-1,0.447-1,1S32.447,5,33,5z"></path><path d="M56.612,4.569c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414c3.736,3.736,3.736,9.815,0,13.552
						c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293
						C61.128,16.434,61.128,9.085,56.612,4.569z"></path><path d="M52.401,6.845c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414c1.237,1.237,1.918,2.885,1.918,4.639
						s-0.681,3.401-1.918,4.638c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293
						c1.615-1.614,2.504-3.764,2.504-6.052S54.017,8.459,52.401,6.845z"></path><path d="M4.802,5.983c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0c-4.516,4.516-4.516,11.864,0,16.38
						c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414
						C1.065,15.799,1.065,9.72,4.802,5.983z"></path><path d="M9.013,6.569c-0.391-0.391-1.023-0.391-1.414,0c-1.615,1.614-2.504,3.764-2.504,6.052s0.889,4.438,2.504,6.053
						c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414
						c-1.237-1.237-1.918-2.885-1.918-4.639S7.775,9.22,9.013,7.983C9.403,7.593,9.403,6.96,9.013,6.569z"></path>
						</g></svg>
						</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="wow fadeInDown" data-wow-delay="0.3s">
						<h2 class="about-head">About Us</h2>
						<div class="u-line"></div>
						<p class="ab-text">Oh feel if up to till like. He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing. </p> 
						<br/>
						<h6 class="ab-sub-text" style="font-weight: 700;">He as spoke avoid given downs money on we. Of properly carriage shutters ye as wandered up repeated moreover.</h6>
						<br/>
						<a href="#" class="phone-text"><span class="phone-icon"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg></span>&nbsp;+1 (234) 567-8910
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section style="background-color: #C9E2FF;">
		<div class="container">
			<div class="row d-flex row align-items-center justify-content-between">
				<div class="col-md-12">
					<div class="container">
						<div class="row d-flex row align-items-center justify-content-between">
							<div class="col-md-8">
								<h4 class=" body1 my-2 wow fadeInLeft fw-bold " data-wow-delay="0.2s" style="color: #354053;">Have more time for the actual dentistry! </h4>
							</div>
							<div class="col-md-4">
								<div class="my-2">
									<a routerLink="/auth/signup" class="btn btn-dark me-2 btn-3 border-0" style="width:150px;padding: 14px 20px;box-shadow: 0px 4px 20px #c3d2ff00;">Sign Up</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Products End  -->
	
	<!-- Plans and pricing -->
	<section id="Plans" #Plans>
		<div class="container justify-content-center">
		  <div class="row">
				<div class="col-lg-12 mb-4 pb-2">
					<h1 class="h1 text-center mb-4 wow fadeInUp" data-wow-delay="0.1s" style="font-weight: 600; color: rgb(22, 48, 91); visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Packages </h1>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center pb-4">
				<ng-container *ngFor="let package of packages">
					<div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4 mb-2" *ngIf="package.status == true">
						<div class="card pricing-table p-2 h-100" style="border: 1px solid #EFF3F7;">
							<div class="card-header bg-white" style="border-bottom: 1px solid #616f8112;">
								<h4 class="card-text mt-2">{{package.packageName}}</h4>
							</div>
							<div class="card-body d-flex flex-column">
								<span class="d-flex align-items-center" *ngIf="showProducts != package.products['1']">
									<img class="mt-2 mb-4" src="assets/images/maillogom.png">
									<span style="font-size: 24px;color: #F7517F;" class="mt-2 mx-2 mb-4">+</span>
									<img class=" mb-4" src="assets/images/talklogom.png">                                   
								</span>
								<span class="d-flex align-items-center" *ngIf="showProducts == package.products['1']">
									<img class="mt-2 mb-4" src="assets/images/maillogom.png" *ngIf="'Mail' == package.products['0']">                             
									<img class="mt-2 mb-4" src="assets/images/talklogom.png" *ngIf="'Meet' == package.products['0']">                             
								</span>
								<p class="h5 my-3">${{package.packagePrice}} USD - {{package.tenure}} Days</p>
								<ul class="ul" style="margin-left:-10px;">
								  <li>
									<div class="form-check">
										<i class="fa fa-check "></i>                  
									   <label class="form-check-label" for="price_check1">{{package.usersAllocated}} Users</label>
									</div>
								  </li>
								  <li>
									<div class="form-check" *ngIf="showExpirDate != package.expirationDate">
									  <i class="fa fa-check"></i>   
									  <label class="form-check-label" for="price_check3" >Expiration Date {{ package.expirationDate | date}}</label>
									</div>
								  </li>
								  <li>
									<div class="form-check">
									  <i class="fa fa-check "></i>   
									  <label class="form-check-label" for="price_check4">{{package.storageAllocated}} GB Of Data</label>
									</div>
								  </li>
								</ul>
								<div class="mt-auto">
									<a routerLink="/auth/login" class="btn btn-primary btn-2  mt-2 mb-2 border-0" style="background-color: #0070D2;padding: 14px 30px;">Buy Now</a>
								</div> 
							</div>
						</div>
					</div>
				</ng-container>
				<div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4 mb-2">
					<div class="card pricing-table p-2 bg-color-two " style="border: 1px solid #EFF3F7;">
					  <div class="card-header bg-white" style="border-bottom: 1px solid #616f8112;">
						<h4 class="card-text mt-2">Enterprise</h4>
					  </div>
						<div class="card-body">
							<span class="d-flex align-items-center">
								<img class="mt-2 mb-4" src="assets/images/maillogom.png">
								<span style="font-size: 24px;color: #F7517F;" class="mt-2 mx-2 mb-4">+</span>
								<img class=" mb-4" src="assets/images/talklogom.png">                                   
							</span>
							<p class="h5 my-3">Email Us</p>
							<ul class="ul" style="margin-left:-10px;">
							  <li>
								<div class="form-check">
								  <i class="fa fa-check "></i>                  
								   <label class="form-check-label">Multiple Disciplines/Departments/Clinics</label>
								</div>
							  </li>
							  <li>
								<div class="form-check">
								  <i class="fa fa-check "></i>   
								  <label class="form-check-label">Unlimited Users & Sub-Users</label>
								</div>
							  </li>
							  <li>
								<div class="form-check">
								  <i class="fa fa-check "></i>   
								  <label class="form-check-label">Custom Packages</label>
								</div>
							  </li>
							  <li>
								<div class="form-check">
								  <i class="fa fa-check "></i>   
								  <label class="form-check-label">Account Management Console</label>
								</div>
							  </li>
							  <li>
								<div class="form-check">
								  <i class="fa fa-check "></i>   
								  <label class="form-check-label">Unlimited Data Storage</label>
								</div>
							  </li>
							  <li>
								<div class="form-check">
								  <i class="fa fa-check "></i>   
								  <label class="form-check-label">Dedicated Support</label>
								</div>
							  </li>
							</ul>
							<div>
								<a routerLink="/contact-us" fragment="contact" class="btn btn-dark  mt-2 mb-2 border-0" style="padding: 14px 30px;">Email Us</a>
							</div> 
							<div class="dot-shape-bg position-absolute bg-color" style="z-index: -1;">
								<img src="assets/images/leafthree.png" alt="shape">
							</div>
						</div>
					</div>
				</div>
				<!--<div class="col-12 col-sm-9 col-md-6 col-lg-5 col-xl-4 mb-2">
					<div class="card pricing-table p-2 bg-color-two" style="border: 1px solid #EFF3F7;">
					  <div class="card-header bg-white" style="border-bottom: 1px solid #616f8112;">
						<h4 class="card-text mt-2">Enterprise</h4>

					  </div>
						<div class="card-body">
						  <img class="mt-2 mb-4" src="assets/images/maillogom.png">                   
						   
							<p class="h5 my-3">Email Us</p>
							<ul class="ul" style="margin-left:-10px;">
							  <li>
								<div class="form-check">
								  <i class="fa fa-check "></i>                  
								   <label class="form-check-label" for="price_check1">5+ User Per Location</label>
								</div>
							  </li>
							  <li>
								<div class="form-check">
								  <i class="fa fa-check "></i>   
								  <label class="form-check-label" for="price_check2">Setup Multiple Locations</label>
								</div>
							  </li>
							  <li>
								<div class="form-check">
								  <i class="fa fa-check "></i>   
								  <label class="form-check-label" for="price_check3">Multiple Admins / SubUsers</label>
								</div>
							  </li>
							  <li>
								<div class="form-check">
								  <i class="fa fa-check "></i>   
								  <label class="form-check-label" for="price_check3">Unlimited GB Of Data</label>
								</div>
							  </li>
							</ul>
							<div>
								<a routerLink="/auth/login" class="btn btn-dark  mt-2 mb-2 border-0" style="padding: 14px 30px;">Email Us</a>
							</div> 
							<div class="dot-shape-bg position-absolute bg-color" style="z-index: -1;">
								<img src="assets/images/leafthree.png" alt="shape">
							</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</section>
	<!-- Plans and pricing end -->

	<!-- Testimonials 
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mb-4 pb-2">
					<h1 class="h1 text-center mb-4 wow fadeInUp" data-wow-delay="0.1s" style="font-weight: 600; color: rgb(22, 48, 91); visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Reviews </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="reviews-slider">
						<owl-carousel-o [options]="reviewsSlider">
						  <ng-template carouselSlide>
							<div class="post-slide flip-card">
							  <div class="flip-card-inner">
								<div class="flip-card-front">
								  <div class="post-img"> 
									<img src="assets/images/testimonial1.jpg" alt="">
								  </div>
								  <div class="post-content">
									<h3 class="post-title">
								   Dr. Douglas Szeto
									</h3>
									<p class="post-description">Dentist</p>
									
								  </div>
								</div>
								<div class="flip-card-back">
								  <div class="d-block"><blockquote></blockquote> 
									<p class="body1 p-1">I never realized, but my practice has been needing something like DentalLive Mail for a very long time! You probably also need it, you just don't know it yet.
									</p>
								  </div>         
								</div>
							  </div>
							</div>
						  </ng-template>
						  <ng-template carouselSlide>
							<div class="post-slide flip-card">
								<div class="flip-card-inner">
									<div class="flip-card-front">
									  <div class="post-img"> 
										<img src="assets/images/testimonial2.jpg" alt="">
									  </div>
									  <div class="post-content">
										<h3 class="post-title">
										  Dr. Douglas Szeto
										</h3>
										<p class="post-description">Dentist</p>
										
									  </div>
									</div>
									<div class="flip-card-back">
									  <div class="d-block"><blockquote></blockquote> 
										<p class="body1 p-1">I never realized, but my practice has been needing something like DentalLive Mail for a very long time! You probably also need it, you just don't know it yet.
										</p>
									  </div>          
									</div>
								</div>
							</div>
						  </ng-template>
						  <ng-template carouselSlide id="owl-slide-3" >
							<div class="post-slide flip-card">
								<div class="flip-card-inner">
									<div class="flip-card-front">
									  <div class="post-img"> 
										<img src="assets/images/testimonial3.jpg" alt="">
									  </div>
									  <div class="post-content">
										<h3 class="post-title">
										 Dr. Douglas Szeto
										</h3>
										<p class="post-description">Dentist</p>
										
									  </div>
									</div>
									<div class="flip-card-back">
										<div class="d-block"><blockquote></blockquote> 
											<p class="body1 p-1">My work involves patients in multiple practices, and patients at two teaching institutions. I no longer need to memorize passwords to multiple email accounts, DentalLive keeps all my patient-centered communication in one place.
											</p>
										</div>      
									</div>
								</div>
							</div>
						  </ng-template>
						  <ng-template carouselSlide>
							<div class="post-slide flip-card">
							  <div class="flip-card-inner">
								<div class="flip-card-front">
								  <div class="post-img"> 
									<img src="assets/images/testimonial4.jpg" alt="">
								  </div>
								  <div class="post-content">
									<h3 class="post-title">
									  Dr. Douglas Szeto
									</h3>
									<p class="post-description">Dentist</p>
									
								  </div>
								</div>
								<div class="flip-card-back">
								  <div class="d-block"><blockquote></blockquote> 
									<p class="body1 p-1">With DentalLive Mail being HIPAA-compliant, I don't have to worry about my patients' data being unsecured. Surely recommend this to all health professionals who want peace of mind! 
									</p>
								  </div>          
								</div>
							  </div>
							</div>
						  </ng-template>
						  <ng-template carouselSlide>
							<div class="post-slide flip-card">
							  <div class="flip-card-inner">
								<div class="flip-card-front">
								  <div class="post-img"> 
									<img src="assets/images/testimonial1.jpg" alt="">
								  </div>
								  <div class="post-content">
									<h3 class="post-title">
									 Dr. Douglas Szeto
									</h3>
									<p class="post-description">Dentist</p>
									
								  </div>
								</div>
								<div class="flip-card-back">
								  <div class="d-block"><blockquote></blockquote> 
									<p class="body1 p-1">These tools are brilliant and have enabled us to give a human touch to remote communication. Thank you, I would highly recommend this product.
									</p>
								  </div>
								</div>
							  </div>
							</div>
						  </ng-template>
						  <ng-template carouselSlide>
							<div class="post-slide flip-card">
							  <div class="flip-card-inner">
								<div class="flip-card-front">
								  <div class="post-img"> 
									<img src="assets/images/testimonial2.jpg" alt="">
								  </div>
								  <div class="post-content">
									<h3 class="post-title">
									  Dr. Douglas Szeto
									</h3>
									<p class="post-description">Dentist</p>
									
								  </div>
								</div>
								<div class="flip-card-back">
									<div class="d-block"><blockquote></blockquote> 
										<p class="body1 p-1">I never realized, but my practice has been needing something like DentalLive Mail for a very long time! You probably also need it, you just don't know it yet.
									</p>
									</div>
								</div>
							  </div>
							</div>
						  </ng-template>
						</owl-carousel-o>
					</div>
				</div>
			</div>
		</div>
	</section>-->
	<!-- Testimonials end -->

	<!-- Subscribe  -->
	<section class="Subscribe-banner-area">
		<div class="container bg-color-three">
			<div class="d-flex row align-items-center justify-content-center">
				<div class="col-lg-7 col-md-8">
					<div class="py-2 text-center ">
						<h4 class=" wow fadeInUp py-4" data-wow-delay="0.2s">Subscribe to get <img src="assets/images/DentalLIVE.png" height="32px"/> <br/>special features!</h4>
						<div class="d-flex  align-items-center justify-content-center flex-column"  >
						<form (ngSubmit)="createProduct()" [formGroup]="solutionform" #myForm="ngForm">	
							<div *ngIf="success">
								<div class="alert alert-success alert-dismissible fade show" role="alert">
								  Thank you for subscribing us!
								  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							</div>
							<div class="d-flex align-items-center justify-content-center flex-column flex-xs-row" style="flex-direction: row !important;"> 
								<input type="email" class="form-control me-2" id="email_id" name="email_id" formControlName="email_id" [ngClass]="{ 'ng-touched': submitted }" [(ngModel)]="product.email_id" required="true"  placeholder="Enter Your Email "  />
								<button type="submit" class="btn btn-primary " style="padding: 11px 20px;" >Subscribe</button>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Subscribe end  -->
</main>
<!-- main section end -->

<!-- Footer-->
<footer class="container-fluid" style="color: #5D6A7E;">
	<div class="container footer">
		<div class="row">
			<div class="col-12 col-md-3 pt-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.1s" style="color: #011A3E;">Products</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.1s">
					<li class="mb-3"><a class="text-muted body2" href="javascript:void(0);" (click)="scroll(Products)" style="color: #AEB4BF;"><img src="assets/images/maillogom.png" alt="Dental LIVE Mail"/></a></li> 
					<li class="mb-3"><a class="text-muted body2" href="javascript:void(0);" (click)="scroll(DentalTalk)" style="color: #AEB4BF;"><img src="assets/images/talklogom.png" alt="Dental LIVE Talk"/></a></li> 
					<li><a class="text-muted body2" href="javascript:void(0);" (click)="scroll(DentalPlanner)" style="color: #AEB4BF;"><img src="assets/images/plannerlogom.png" alt="Dental LIVE Planner"/></a></li> 
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-md-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.3s" style="color: #011A3E;">Contact</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.2s">
					<li><span class="text-muted body2 d-flex align-items-center"><i class="bx bx-phone me-1"></i> +1 289 474-5200</span></li>
					<li class="d-flex align-items-center"><i class="bx bx-envelope me-1"></i> <a class="text-muted body2" href="mailto:support@dentallive.com;">support@dentallive.com</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-md-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.3s" style="color: #011A3E;">Links</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.3s">
					<li><a class="text-muted body2" routerLink="/contact-us" fragment="contact">Contact Us</a></li>
					<li><a class="text-muted body2" routerLink="/become-vendor">Become Vendor</a></li>
					<li><a class="text-muted body2" routerLink="/solutions">Solutions</a></li>
					<li><a class="text-muted body2" routerLink="/faq">FAQ's</a></li>
					<li><a class="text-muted body2" routerLink="/privacy-policy">Privacy Policy</a></li>
					<li><a class="text-muted body2" routerLink="/terms-of-use">Terms and Conditions</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-4 ">
				<div class=" wow fadeInUp" data-wow-delay="0.4s">
					<img src="assets/images/safe-and-secure.png" width="120px"/>
					<img src="assets/images/hipaa-logo.png" width="120px"/>
				</div>
			</div>
		</div>
	</div>
	<div class="my-2 footer-bottom" style="border-top:1px solid #D0D6DE;">
		<div class="container ">
			<div class="row pt-4">
				<div class="col-md-4 pb-4">
					<a routerLink="/"><img src="assets/images/Logo_Dark.png" class="wow fadeInUp" data-wow-delay="0.5s"></a>
				</div>
				<div class="col-md-3">
					<div class="text-center social wow fadeInUp" data-wow-delay="0.6s">
						<a href="https://www.facebook.com/dentalive" target="_blank" title="Facebook"><i class="bx bxl-facebook-circle" aria-hidden="true"></i></a>
						<a href="https://www.twitter.com/dentallivemail" target="_blank" title="Twitter"><i class="bx bxl-twitter" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/dentallive" target="_blank" title="Instagram"><i class="bx bxl-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-5 text-md-end text-center">
					<div class="pt-2">
						<p class="text-secondary small wow fadeInUp" data-wow-delay="0.7s"> &copy; {{ currentYear }} DentalLive<sup>TM</sup> All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer end-->

<div ngxScrollTop [ngxScrollTopMode]="'classic'" class="go-top active"><i class="fa fa-chevron-up"></i><i class="fa fa-chevron-up"></i></div>