<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Referral
	</li>
</ol>
<div class="page-header row align-items-center gx-0">
	<div class="col-md-6">
		<h3>Referral</h3>
	</div>	
	<div class="col-md-6 text-end"> 
		<a routerLink="/referrals/referral-add/0" class="btn btn-default my-1 me-2"><i class="bx bx-plus-circle me-2" aria-hidden="true"></i>Add Referral</a> 
	</div>
</div>

<div class="row align-items-center">
	<div class="col-md-12">
		<div class="card shadow-sm">
			<div class="card-header border-bottom-0 bg-white">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="my-2">
						<h5 class="body1 card-title mb-0">List of Referral</h5>
					</div>
					<div class="d-flex align-items-center flex-wrap">
						<button class="btn filter-btn me-2 my-2" data-bs-toggle="modal" data-bs-target="#filterModal"><i class="bx bx-filter-alt"></i> <span class="d-none d-sm-inline-block ms-2">Filter</span></button>
						<div class="search search-md">
							<i class="bx bx-search"></i>
							<input type="text" class="form-control" placeholder="Search" (keyup)="searchText($event)"/>
						</div>
					</div>
				</div>
			</div>
			<ng-container class="mt-3" *ngIf="isLoadingData">
				<div class="mt-5 w-100"></div>
				<ngx-shimmer-loading style="margin-top: 1.5em;display: block;transition: all 1s;"  [width]="'100%'"
				[height]="'50px'" [margin]="'20px'" *ngFor="let i of shimmer(10).fill(1)" class="vh-100">
				</ngx-shimmer-loading>
			</ng-container>
			<div *ngIf="!isLoadingData" class="card-body p-0 pb-3">
				<div class="table-responsive">
					<table *ngIf="tabledata" class="table table-hover table-nowrap align-middle" datatable [dtOptions]="dtOptions" id="dataTables">
						<thead class="thead-light text-uppercase">
							<tr>
								<th class="body2">ASSIGNED TO</th>
								<th class="body2">REFERRAL TITLE</th>
								<th class="body2">CREATED DATE</th>
								<th class="body2">PATIENT NAME</th>
								<th class="body2">CASE TITLE</th>
								<th class="body2" data-orderable="false">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let data of tabledata; let i = index;">
								<td>
									<div>
										<span class="d-none">{{i}}</span>
										<span class="body2">{{data.memberName}}</span>  
									</div>
								</td>		 
								<td>  
									<span class="body2">{{data.title}}</span>                
								</td>
								<td>  
									<span class="body2">{{data.dateCreated | date:'mediumDate'}}</span>                
								</td>
								<td>  
									<span class="body2">{{data.patientName}}</span>                
								</td>
								<td>  
									<span class="body2">{{data.caseTitle}}</span>
								</td>
								<td>
									<div class="d-flex">
										<a routerLink="/referrals/referral-details/{{data.referralId}}" >
											<i class="material-icons text-light-green">visibility</i>
										</a>
										<a routerLink="/referrals/referral-edit/{{data.referralId}}" class="me-1" >
											<i class="material-icons text-bright-blue">edit</i>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


 
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Filter</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form #f="ngForm" id="mainForm" (ngSubmit)="onSubmit(f)">
				<div class="modal-body">
					<div class="row gy-3">
						<div class="col-md-12">
							<div class="search">
								<i class="bx bx-search"></i>
								<input type="text" class="form-control" placeholder="Search by Patients Name" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="search">
								<i class="bx bx-search"></i>
								<input type="text" class="form-control" placeholder="Search by Case Name" >
							</div>
						</div>
						<div class="col-md-12">
							<label class="form-label body2 text-dark">Search by Date:</label>
						</div>
						<div class="col-md-6 "> 
							<label class="form-label body2 text-dark">From</label>
							<input type="date" ngModel name="dateFrom" id="dateFrom" class="form-control">
						</div>
						<div class="col-md-6"> 
							<label class="form-label body2 text-dark">To</label>
							<input type="date" ngModel name="dateTo" id="dateTo" class="form-control">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-default" data-bs-dismiss="modal">Apply</button>
				</div>
			</form>
		</div>
	</div>
</div>