<!-- @ts-nocheck -->

<div class="page-header row align-items-center gx-0">
    <div class="col-md-12">
        <h3>
            Patient Details
            <!-- <a tippy="Tutorial" target="_blank" [routerLink]="
          '/tutorial/' + utility.tutorialData['PatientAddComponent'].html
        ">
                <i class="bx bxs-info-circle text-primary"></i></a> -->
        </h3>
    </div>
</div>

<div class="row pt-2">
    <div class="col-md-10">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row mt-2">
                    <!-- Lottie Section -->
                    <div *ngIf="
              formInterface.isUploadingData ||
              formInterface.isLoadingData ||
              formInterface.isLoadingDependencies
            " class="row">
                        <div class="col-md-12">
                            <lottie-player class="mt-3 m-auto"
                                           src="https://assets6.lottiefiles.com/packages/lf20_fhsx0ijl/lottie/collections-feature.json"
                                           background="transparent" speed="1" style="width: 300px; height: 300px" loop
                                           autoplay></lottie-player>
                            <h6 class="text-center mt-5">
                                Request Processing …..Please Wait, Do Not Close The Page
                            </h6>
                        </div>
                    </div>

                    <!-- Form Section -->
                    <div [hidden]="formInterface.isUploadingData || formInterface.isLoadingData" class="col-md-12">
                        <form #mainForm="ngForm" id="mainForm" (ngSubmit)="customSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label body2 text-dark">Practice Name <span
                                                  class="text-danger">*</span></label>
                                        <input type="text" required class="form-control" maxlength="40"
                                               [(ngModel)]="formInterface.object.practiceName" name="practiceName"
                                               id="practiceName" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label body2 text-dark">Country <span
                                                  class="text-danger">*</span></label>
                                        <select class="form-select" name="country" required
                                                [(ngModel)]="formInterface.object.country"
                                                (ngModelChange)="poplStates($event)" id="country">
                                            <option *ngFor="let country of countries" [value]="country.isoCode">
                                                {{ country.name }}
                                            </option>
                                            name
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label body2 text-dark">Email <span
                                                  class="text-danger">*</span></label>
                                        <input type="email" class="form-control" maxlength="150"
                                               pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                                               [(ngModel)]="formInterface.object.email" required name="email" id="email" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label body2 text-dark">State/Province <span
                                                  class="text-danger">*</span></label>

                                        <select required class="form-select" name="practicestate"
                                                [(ngModel)]="formInterface.object.practicestate" id="practicestate">
                                            <option *ngFor="let state of states" [value]="state.isoCode">
                                                {{ state.name }}
                                            </option>
                                            name
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label body2 text-dark d-block">Phone Number <span
                                                  class="text-danger">*</span></label>
                                        <input required type="text" class="form-control" placeholder="111-111-1111"
                                               maxlength="10" minlength="10" (keypress)="formInterface.numberOnly($event)"
                                               [(ngModel)]="formInterface.object.phone" name="phone" id="phone" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label body2 text-dark">City</label>
                                        <input type="text" class="form-control" name="city"
                                               [(ngModel)]="formInterface.object.city" id="city" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label body2 text-dark">Practice Website </label>
                                        <input type="text" class="form-control" maxlength="40"
                                               [(ngModel)]="formInterface.object.website" name="website" id="website" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label body2 text-dark">Address</label>
                                        <textarea rows="2" class="form-control"
                                                  [(ngModel)]="formInterface.object.address" name="address"
                                                  id="address"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <button type="submit" class="btn btn-default mt-1 me-2">
                                        {{ mode }}
                                    </button>
                                    <a routerLink="{{ formInterface.section.backUrl }}" class="btn btn-pink mt-1 me-2">
                                        Cancel
                                    </a>
                                    <button *ngIf="formInterface.object.practiceId" (click)="
                      formInterface.deleteData(formInterface.object.practiceId)
                    " type="button" class="btn btn-danger me-2 float-end">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>