<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases">Cases</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases/case-add">Add Cases</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Invite Members
	</li>
</ol>
<div class="page-header row align-items-center gx-0">
	<div class="col-md-6">
		<div class="d-inline-block">
			<h3>Invite Members</h3>
		</div>
	</div>	
	<div class="col-md-6 text-end"> 
		
	</div>
</div>

<div class="row pt-2">
    <div class="col-md-10">
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="row mt-2">
					<div class="col-md-12">
						<form>
							<div class="row gy-3">
								<div class="col-md-12">
									<div class="search">
										<i class="bx bx-search"></i>
										<input type="text" class="form-control" placeholder="Search here" />
									</div>
								</div>
								<div class="col-md-12 text-end">
									<button type="button" class="btn btn-default btn-sm px-2"><i class="bx bx-plus me-0"></i></button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mb-2">
									<button type="button" class="btn btn-default me-2" data-bs-toggle="modal" data-bs-target="#skipNext">Save</button>
									<button type="button" class="btn btn-pink">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>

<div class="modal fade" id="skipNext" tabindex="-1" aria-labelledby="skipNextLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body text-center">
				<h6 class="text-dark mb-3">Would you like to go?</h6>
				<div class="d-flex justify-content-between">
					<a class="btn btn-secondary me-2" routerLink="/cases/case-list" data-bs-dismiss="modal">Skip</a>
					<a class="btn btn-default me-2" routerLink="/cases/case-add-task-add" data-bs-dismiss="modal">Next</a>
				</div>
			</div>
		</div>
	</div>
</div>