<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases">Cases</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases/case-add">Add Cases</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Invite Members
	</li>
</ol>
<div class="page-header row align-items-center gx-0">
	<div class="col-md-6">
		<div class="d-inline-block">
			<h3>Invite Members</h3>
		</div>
	</div>	
	<div class="col-md-6 text-end"> 
		
	</div>
</div>

<div class="row pt-2">
    <div class="col-md-10">
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="row mt-2">
					<div *ngIf="sending" class="row">
						<div class="col-md-12">
							<lottie-player class="mt-3 m-auto"
							src="https://assets6.lottiefiles.com/packages/lf20_fhsx0ijl/lottie/collections-feature.json"
							background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
							<h6 class=" text-center mt-5">Processing request....please wait, don't close this page</h6>
						</div>
					</div>
					<div *ngIf="!sending" class="col-md-12">
						<form #InviteForm="ngForm" id="InviteForm" (ngSubmit)="onSubmitInvite(InviteForm)">
							<div class="modal-header">
								<h5 class="modal-title body1" id="inviteMembersLabel">Invite Members</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="row gy-3">
									<div class="col-md-12">
										<div class="search">
											<div class="search search-md search-filter">
												<i class="bx bx-search"></i>
												<ng-select [items]="allMember" (ngModel)="selectedCity" bindLabel="name" bindValue="name" [multiple]="true" (change)="selectEvent($event)"  [hideSelected]="true" required>
													<ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
														<div class="card card-lists">
															<div class="card-body p-0">
																<div class="d-flex align-items-center">
																	<img height="74" width="74" [src]="item.avatar" class="rounded-circle me-3 img-thumbnail shadow-sm"/>
																	<div class="d-flex align-items-center justify-content-between search-list-content">
																		<div>
																			<h5 class="card-title" style="white-space: normal;" ngOptionHighlight="search">{{item.name}}</h5>
																			<h6 style="white-space: normal;word-wrap: anywhere;" class="card-subtitle mb-2 text-muted">{{item.emailAddress}}</h6>
																		</div>
																		<div>
																			<button class="btn btn-outline-primary btn-sm ms-2" type="button"><i class="bx bx-user-plus"></i> Add</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</ng-template>
													<ng-template ng-label-tmp let-item="item" let-clear="clear">
														<span class="ng-value-label"><img [src]="item.avatar" width="20px" height="20px" class="rounded-circle me-1"/> {{item.name}}</span>
														<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
													</ng-template>
												</ng-select>
											</div>
										</div>
									</div>
									<span style="color: #F7517F;font-weight: bold;" *ngIf="(this.isvalidDate == true)"> Please select atleast one member</span>
									<div class="col-md-12">
										<app-cvfast></app-cvfast>
									</div>
								</div>
								<div _ngcontent-fux-c93="" class="col-md-12 text-end">
									<button _ngcontent-fux-c93="" type="button" style="padding: 7px;" class="btn btn-default btn-sm px-2"><i _ngcontent-fux-c93="" data-bs-toggle="modal" data-bs-target="#inviteNewMembers" class="bx bx-plus me-0"></i></button>
								</div>
							</div>
							<div class="modal-footer text-center justify-content-center border-top-0">
								<input type="hidden"  name="caseId" id="caseId" ngModel="{{this.tabledata.caseId}}">
								<input type="hidden" name="patientId" id="patientId" ngModel="{{this.tabledata.patientId}}">
								<input type="hidden" name="patientName" id="patientName" ngModel="{{this.tabledata.patientName}}">
								<button type="button" class="btn btn-default" class="btn btn-default me-2" data-bs-toggle="modal" data-bs-target="#skipNext">Save</button>
								<a class="btn btn-secondary" routerLink="/cases/case-list">Cancel</a>
								<div class="modal fade" id="skipNext" tabindex="-1" aria-labelledby="skipNextLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-body text-center">
												<h6 class="text-dark mb-3">Would you like to go?</h6>
												<div class="d-flex justify-content-between">
													<a class="btn btn-secondary me-2" routerLink="/cases/case-add-file-upload" data-bs-dismiss="modal">Skip</a>
													<button type="submit" class="btn btn-default" class="btn btn-default me-2" data-bs-toggle="modal" data-bs-target="#skipNext">Next</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>

<div class="modal fade" id="inviteNewMembers" tabindex="-1" aria-labelledby="inviteMembersLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<form #InviteNewForm="ngForm" id="InviteNewForm" (ngSubmit)="onSubmitInviteNew(InviteNewForm)">
				<div class="modal-header">
					<h5 class="modal-title body1" id="inviteMembersLabel">Invite New Members</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row gy-3">
						<div class="col-md-12">
							<input type="text"  name="name" class="form-control" placeholder="Please enter name" id="name" ngModel="" required>
						</div>
						<div class="col-md-12">
							<input type="email"  name="email" class="form-control" placeholder="Please enter email id" id="email" ngModel=""required>
						</div>
					</div>
				</div>
				<div class="modal-footer text-center justify-content-center border-top-0">
					<input type="hidden"  name="caseId" id="caseId" ngModel="{{this.tabledata.caseId}}">
					<input type="hidden" name="patientId" id="patientId" ngModel="{{this.tabledata.patientId}}">
					<input type="hidden" name="patientName" id="patientName" ngModel="{{this.tabledata.patientName}}">
					<button type="submit" [disabled]="!InviteNewForm.form.valid" class="btn btn-default" data-bs-dismiss="modal">Save</button>
					<button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>