<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/milestones">Milestones</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Add General Task
	</li>
</ol>
<div class="page-header row align-items-center gx-0">
	<div class="col-md-6">
		<div class="d-inline-block">
			<h3 class="mt-2 fw-normal">{{this.tabledata.patientName}} <span class="fw-bold d-block">{{this.tabledata.title}}</span>
				<div class="progress progress-sm mt-2">
					<div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</h3>
		</div>
	</div>	
	<div class="col-md-6 text-end"> 
		
	</div>
</div>

<div class="row align-items-center pt-2">
<form #taskForm="ngForm" id="taskForm" (ngSubmit)="onSubmitTask(taskForm)">
	<div class="col-md-12">
		<div class="card shadow-sm">
			<div class="card-header border-bottom-0 bg-white">
				<div class="row">
					<div class="col-md-5 align-self-center">
						<h5 class="body1 card-title my-2">Add General Task</h5>
					</div>
					<div class="col-md-7 text-end"> 
						<a href="javascript:void(0);" (click)="back()" class="btn btn-default">Back </a>
					</div>
				</div>   
			</div>
			<div class="card-body" style="background: #E4F0FF;">
				<div class="row mt-2">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4"> 
								<div class="mb-4">
									<label class="form-label body2 text-dark">Title </label>
									<input type="text" class="form-control" placeholder="Enter Title here" name="title" id="title" required ngModel >
								</div>
							</div>
							<div class="col-md-4"> 
								<div class="mb-4">
									<label class="form-label body2 text-dark">Start Date</label>
									<input class="form-control" name="startdate" id="startdate" [owlDateTime]="sd" [owlDateTimeTrigger]="sd" placeholder="Start Date" required ngModel >
									<owl-date-time [pickerType]="'calendar'" #sd></owl-date-time>
								</div>
							</div>
							<div class="col-md-4"> 
								<div class="mb-4">
									<label class="form-label body2 text-dark">Due Date & Time</label>
									<input class="form-control" name="dueDatetime" id="dueDatetime" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Due Date & Time" required ngModel >
									<owl-date-time #dt1></owl-date-time>
									<span style="color: #F7517F;font-weight: bold;" *ngIf="(this.isvalidDate == true)"> Due date & time should be greater than start date</span>
								</div>
							</div>
							<div class="col-md-4"> 
								<div class="mb-4">
									<label class="form-label body2 text-dark">Status</label>
									<select class="form-select" name="presentStatus" id="presentStatus" required ngModel >
										<option value="">Select</option>
										<option value="1">Active</option>
										<option value="2">Inactive</option>
										<option value="3">Pending</option>
										<option value="4">Completed</option>
									</select>
								</div>
							</div>
							<div class="col-md-4"> 
								<div class="mb-4">
									<label class="form-label body2 text-dark">Assign Member</label>
									<!--<ng-select name="memberName" id="memberName" ngModel [items]="defaultBindingsList" (ngModel)="selectedMember" [editableSearchTerm]="true" placeholder="Select" required >
									</ng-select>-->
									<select class="form-select" name="memberName" id="memberName" ngModel required >  
										<option value="">Select</option>
										<option value="1">Jhone Duo</option>
										<option value="2">Danel Gray</option>
										<option value="3">Pavilnys</option>
									</select>  
								</div>
							</div>
							<div class="col-md-4">
								<div class="mb-4">
									<label class="form-label body2 text-dark">Add Reminder</label>
									<select class="form-select" name="reminder" id="reminder" ngModel required>  
										<option value="">Select</option>
										<option value="12" selected>12 Hours</option>
										<option value="24">1 Day</option>
										<option value="48">2 Days</option>
										<option value="72">3 Days</option>
										<option value="120">5 Days</option>
									</select>
								</div>
							</div>
							<div class="col-md-12">
								<div class="mb-4">
									<label class="form-label body2 text-dark">Description</label>
									<app-cvfast></app-cvfast>
									<!-- <textarea class="form-control" placeholder="Enter Description" name="description" id="description" style="height: 100px" ngModel required></textarea> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 mt-3">
		<input type="hidden"  name="caseid" id="caseid" ngModel="{{this.tabledata.caseId}}">
			<input type="hidden" name="patientid" id="patientid" ngModel="{{this.tabledata.patientId}}">
			<input type="hidden" name="patientname" id="patientname" ngModel="{{this.tabledata.patientName}}">
			<input type="hidden" name="memberMail" id="memberMail" ngModel="jhon@gmail.com">
		<button type="submit" class="btn btn-default me-2">
			<i class="bx bx-save"></i>
			Save  
		</button> 
		<a href="milestones/milestone-details" class="btn btn-secondary">Cancel</a>
	</div>
</form>
</div>