<header class="w-100 overflow-hidden main_landing header-style">
	<nav class="navbar navbar-expand-md navbar-dark border-bottom wow fadeInDown" data-wow-delay="0.4s"  style=" background-color: #fff !important;">
		<div class="container">
			<a class="navbar-brand" routerLink="/"><img src="assets/images/Logo_Dark.png" /></a>
			<div class="text-center hipaa-logo">
				<img src="assets/images/hipaa-logo.png" class="minlg" />
				<img src="assets/images/logo_footer3.png" class="maxmd" />
			</div>
			<button class="navbar-toggler collapsed" data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse" type="button" aria-expanded="false">
				<span class="navbar-toggler-icon"> <i class="fa fa-bars"></i></span>
			</button>
			<div class="collapse navbar-collapse mt-1" id="collapsibleNavbar">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/" fragment="Products" style="color:#011A3E;">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/solutions" routerLinkActive="active" style="color: #011A3E;">Solutions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold" routerLink="/" fragment="Plans" style="color: #011A3E;">Plans</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link bold" routerLink="/become-vendor" routerLinkActive="active" style="color: #011A3E;">Vendor</a>
					</li>
				</ul>
				<div class="dropdown-divider"></div>
				<div class="text-center social wow fadeInUp me-md-2 me-lg-4 d-none d-lg-block" data-wow-delay="0.6s">
					<a href="https://www.facebook.com/dentalive" target="_blank" title="Facebook"><i class="bx bxl-facebook-circle" aria-hidden="true"></i></a>
					<a href="https://www.twitter.com/dentallivemail" target="_blank" title="Twitter"><i class="bx bxl-twitter" aria-hidden="true"></i></a>
					<a href="https://www.instagram.com/dentallive" target="_blank" title="Instagram"><i class="bx bxl-instagram" aria-hidden="true"></i></a>
				</div>
				<ul class="navbar-nav mb-md-0 ml-auto">
					<li class="nav-item">
					  <a routerLink="/auth/login" routerLinkActive="active" class="btn btn-primary me-2 my-1">Login</a>
					</li>
					<li class="nav-item">
					  <a routerLink="/auth/signup" routerLinkActive="active" class="btn btn-dark my-1">Sign Up </a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<nav class="navbar-expand-md nav_bar pt-1 border-bottom wow fadeInDown" data-wow-delay="0.4s"  style="height: 50px;">
		<div class="container">
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item ">
						<a class="nav-link bold py-md-0" routerLink="/" fragment="Products" style="color: #011A3E;"><img src="assets/images/maillogom.png" alt="Dental LIVE Mail"/></a>
					</li>
					<li class="nav-item">
						<a class="nav-link bold py-md-0" routerLink="/" fragment="DentalTalk" style="color: #011A3E;"><img src="assets/images/talklogom.png" alt="Dental LIVE Talk"/></a>        
					</li>
					<li class="nav-item">
						<a class="nav-link bold py-md-0" routerLink="/" fragment="DentalPlanner" style="color: #011A3E;"><img src="assets/images/plannerlogom.png" alt="Dental LIVE Planner"/></a>        
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<main class="overflow-hidden w-100">
	<div class="solution-hero">
		<img src="assets/images/Solution.png" class="d-block d-md-none"/>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				  <h1 class="h1 fw-bold wow fadeInUp pt-1 pt-md-4 text-center so-hero-text" data-wow-delay="0.2s" style="color: #011A3E;"> Solutions for <a style="color: #00D9CC;" class="d-md-inline-block d-none" href="javascript:void(0);" (click)="scroll(Everyone)">Everyone</a>
				  <span class="dropdown ms-2 mt-1 d-md-none d-inline-block">
					  <span class="dropdown-toggle" style="color: #00D9CC;cursor:pointer;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Everyone</span>
						  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item" href="javascript:void(0);" (click)="scroll(Specialists)">Specialists</a></li>
							<li><a class="dropdown-item" href="javascript:void(0);" (click)="scroll(Dentist)">Dentist</a></li>
							<li><a class="dropdown-item" href="javascript:void(0);" (click)="scroll(Students)">Students</a></li>
							<li><a class="dropdown-item" href="javascript:void(0);" (click)="scroll(Labs)">Labs</a></li>
							<li><a class="dropdown-item" href="javascript:void(0);" (click)="scroll(Vendors)">Vendors</a></li>
						  </ul>
					  </span> 
					</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="pb-0">
		<div class="container ">
			<div class=" row justify-content-center">
				<div class="col-md-12  align-items-center ">
					<h4 class=" fw-bold text-center" style="color: #011A3E;">
					  Optimized communication solution
					  <span style="color: #0070D2;">internally</span> and <span style="color: #0070D2;">externally for dentistry</span> </h4>
				</div>
			</div>
		</div>
	</section>
	<section class="pb-0">
		<div class="container">
			<div class="d-flex row ">
				<div class="col-md-12">
					<ul class="nav panel-tabs mt-5 justify-content-center"> 
						<li><a href="#tab1" class="me-2 active fw-bold p-3 p-md-4 px-md-5 d-inline-block" data-bs-toggle="tab"> <img src="assets/images/Mailicon.png"></a></li> 
						<li><a href="#tab2" data-bs-toggle="tab" class="me-2 p-3 p-md-4 px-md-5 d-inline-block fw-bold"> <img src="assets/images/Talkicon.png"></a></li> 
						<li><a href="#tab3" data-bs-toggle="tab" class="p-3 p-md-4 px-md-5 d-inline-block fw-bold"> <img src="assets/images/Plannericon.png"></a></li> 
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="pb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="tab-content">
						<div class="tab-pane fade active show" id="tab1">
							<div class="container p-4 pb-4 ">
								<div class="d-flex row align-items-center mb-2 pb-4 ">
									<div class="col-md-12">
										<div>
											<div class="row">
												<div class="col-md-6">
													<img src="assets/images/talk.png">
												</div>
												<div class="col-md-6 align-self-center">
													<div class="pt-md-4">
														<h4 class="fw-bold wow fadeInLeft text-center text-sm-start" data-wow-delay="0.2s" style="color: rgb(53, 64, 83); visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">Redefine the way you communicate! </h4>
														<h4 class="mb-0 pt-4 mb-4 wow fadeInLeft" data-wow-delay="0.3s" style="font-family: system-ui; font-weight: 100; color: rgb(93, 106, 126); visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">Welcome to your audio-visual emailing platform.</h4>
														<ul class="square-list">
															<li>Email powered with video, audio and screen  recording capabilities.</li>
															<li>Multiple-user, patient-centric communication platform.</li>
															<li>HIPAA-compliant, encrypted, secure data sharing.</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>    
							</div>
						</div>
					
						<div class="tab-pane fade " id="tab2">
							<div class="d-flex row align-items-center mb-2 pb-4 ">
							  <div class=" col-md-12">
								<div class="container p-4 pb-4">
								  <div class="d-flex row align-items-center mb-2 pb-4">
									<div class="col-md-12">
									  <div>
										<div class="row" >
											<div class="col-md-6">
											  <img src="assets/images/talkside.png">
											</div>
											<div class="col-md-6 align-self-center">
												<div class="pt-md-4">
													<h4 class="fw-bold wow fadeInLeft text-center text-sm-start" data-wow-delay="0.2s" style="color: rgb(53, 64, 83); visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">For all of your Tele-Dental needs!</h4>
													<h4 class="mb-0 pt-4 mb-4 wow fadeInLeft" data-wow-delay="0.3s" style="font-family: system-ui; font-weight: 100; color: rgb(93, 106, 126); visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">Virtual meetings to further simplify patient interactions!</h4>
													<ul class="square-list">
														<li>Set up virtual meetings for easier collaboration.</li>
														<li>Schedule tele-dentistry appointments with patients.</li>
														<li>Engage with provider, labs and more remotely and securely.</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									</div>
								  </div>    
								</div>
							  </div>
							</div>
						</div>
						
						<div class="tab-pane fade " id="tab3">
							<div class="d-flex row align-items-center mb-2 pb-4 ">
							  <div class=" col-md-12">
								<div class="container p-4 pb-4">
								  <div class="d-flex row align-items-center mb-2 pb-4">
									<div class="col-md-12">
									  <div>
										<div class="row" >
											<div class="col-md-6">
											  <img src="assets/images/plannerproduct.png">
											</div>
											<div class="col-md-6 align-self-center">
												<div class="pt-md-4">
													<h4 class="fw-bold wow fadeInLeft text-center text-sm-start" data-wow-delay="0.2s" style="color: rgb(53, 64, 83); visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">Case collaboration made easier! </h4>
													<h4 class="mb-0 pt-4 mb-4 wow fadeInLeft" data-wow-delay="0.3s" style="font-family: system-ui; font-weight: 100; color: rgb(93, 106, 126); visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">A multi-disciplinary patient-centric case management tool.</h4>
													<ul class="square-list">
														<li>Centralized dashboard with all of your patient and case notifications keeping you up-to speed.</li>
														<li>Create patients and cases to stay organized with all your active treatments.</li>
														<li>Invite colleagues to collaborate through audio, visual, screen sharing tools for effective streamlined communications.</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									</div>
								  </div>    
								</div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="our-solutions-area" id="Everyone" #Everyone>
		<div id="solutions" >
			<div class="container">
				<h4 class="fw-bold wow fadeInLeft section-header_border" data-wow-delay="0.2s" style="color: rgb(53, 64, 83); visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">Solutions for everyone</h4>
				<!--<div class="mb-5 tag-list">
					<span class="btn btn-primary me-2">Video Mail</span>
					<span class="btn btn-primary me-2">Audio Mail</span>
					<span class="btn btn-primary me-2">Secure Data Sharing</span>
					<span class="btn btn-primary me-2">HIPAA-Compliant</span>
					<span class="btn btn-primary me-2">Mail with Screen-Sharing Recording</span>
				</div>-->
				
				<div class="row">
					<div class="col-lg-4 col-md-6 mb-4" id="Specialists" #Specialists>
						<div class="our-service-card h-100 wow fadeInUp" data-wow-delay="0.1s">
							<img src="assets/images/solution-icon-1.png">
							<p class="body1 fw-bold pt-2" style="color: #354053;">For Specialists</p>
							<ul class="ul" style="margin-left:-10px;text-align:left;">
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Share treatment plans with the team and communicate regarding subsequent dental care.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Conduct multidisciplinary live panel discussions with regards to a treatment any time.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Provide video email or live demo guidance for surgical post treatment care.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Send prescriptions, dietary changes and explanations on medicine use.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Effortlessly share x-rays, patient summaries and lab reports with staff, colleagues or labs.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Effortlessly share x-rays, patient summaries and lab reports with staff, colleagues or labs.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Help lab consultants understand patient specific requirements via videos and images.</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" id="Dentist" #Dentist>
						<div class="our-service-card h-100 wow fadeInUp" data-wow-delay="0.2s">
							<img src="assets/images/solution-icon-2.png">
							<p class="body1 fw-bold pt-2" style="color: #354053;">For Dentist</p>
							<ul class="ul" style="margin-left:-10px;text-align:left;">
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Initiate live patient consultations from any location.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Visually walk a patient through treatment plans and alternatives.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Share cost estimates, legal documentation and paperwork.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Sign consent forms or any other procedural documents during a virtual call.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Share necessary approvals and updates with the team.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Easily interact with insurance companies and third party vendors.</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" id="Students" #Students>
						<div class="our-service-card h-100 wow fadeInUp" data-wow-delay="0.3s">
							<img src="assets/images/solution-icon-3.png">
							<p class="body1 fw-bold pt-2" style="color: #354053;">For Students</p>
							<ul class="ul" style="margin-left:-10px;text-align:left;">
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Receive faculty's assistance over case proceedings via online meetings.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Efficiently schedule online lectures and conduct review sessions with students.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Have an interactive session with faculty members on treatment procedures.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Conduct live patient consultations and  sign and share necessary paperwork.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Communicate various treatment plans with your patients and your faculty.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Discuss assignments and case studies live with colleagues or faculty members/instructors.</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" id="Labs" #Labs>
						<div class="our-service-card h-100 wow fadeInUp" data-wow-delay="0.3s">
							<img src="assets/images/solution-icon-4.png">
							<p class="body1 fw-bold pt-2" style="color: #354053;">For Labs</p>
							<ul class="ul" style="margin-left:-10px;text-align:left;">
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Receive patient orders, prescriptions, lab reports and x-ray images.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Video call to understand the treatment-specific details.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Receive visual lab presentations to avoid order discrepancies.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Acquire signatures and approvals on required documentation.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Live interactions with the office and team at any convenient time.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Communicate delivery possibilities and deadlines.</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mb-4" id="Vendors" #Vendors>
						<div class="our-service-card h-100 wow fadeInUp" data-wow-delay="0.3s">
							<img src="assets/images/solution-icon-5.png">
							<p class="body1 fw-bold pt-2" style="color: #354053;">For Vendors</p>
							<ul class="ul" style="margin-left:-10px;text-align:left;">
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Pitch new products and their viability smoothly via video call.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Easily communicate delivery processes and logistics.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">Better understand the needs of your Dental practice.</label>
									</div>
								</li>
								<li class="mb-2">
									<div class="form-check">
										<i class="fa fa-dot-circle-o"></i>                  
										<label class="form-check-label">No more waiting for offices to get back to your voicemails.</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Subscribe  -->
	<section class="Subscribe-banner-area">
		<div class="container bg-color-three">
			<div class="d-flex row align-items-center justify-content-center">
				<div class="col-lg-7 col-md-8">
					<div class="py-2 text-center ">
						<h4 class=" wow fadeInUp py-4" data-wow-delay="0.2s">Subscribe to get <img src="assets/images/DentalLIVE.png" height="32px"/> <br/>special features!</h4>
						<div class="d-flex  align-items-center justify-content-center flex-column"  >
						<form (ngSubmit)="createProduct()" [formGroup]="solutionform" #myForm="ngForm">	
							<div *ngIf="success">
								<div class="alert alert-success alert-dismissible fade show" role="alert">
								  Thank you for subscribing us!
								  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							</div>
							<div class="d-flex align-items-center justify-content-center flex-column flex-xs-row" style="flex-direction: row !important;"> 
								<input type="email" class="form-control me-2" formControlName="email_id" [ngClass]="{ 'ng-touched': submitted }" id="email_id" name="email_id" [(ngModel)]="product.email_id" required="true"  placeholder="Enter Your Email " pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
								<button type="submit" class="btn btn-primary " style="padding: 11px 20px;" >Subscribe</button>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Subscribe end  -->
</main>
  
<!-- Footer-->
<footer class="container-fluid" style="color: #5D6A7E;">
	<div class="container footer">
		<div class="row">
			<div class="col-12 col-md-3 pt-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.1s" style="color: #011A3E;">Products</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.1s">
					<li class="mb-3"><a class="text-muted body2" routerLink="/" fragment="Products" style="color: #AEB4BF;"><img src="assets/images/maillogom.png" alt="Dental LIVE Mail"/></a></li> 
					<li class="mb-3"><a class="text-muted body2" routerLink="/" fragment="DentalTalk" style="color: #AEB4BF;"><img src="assets/images/talklogom.png" alt="Dental LIVE Talk"/></a></li>
					<li><a class="text-muted body2" routerLink="/" fragment="DentalPlanner" style="color: #AEB4BF;"><img src="assets/images/plannerlogom.png" alt="Dental LIVE Planner"/></a></li> 
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-md-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.3s" style="color: #011A3E;">Contact</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.2s">
					<li><span class="text-muted body2 d-flex align-items-center"><i class="bx bx-phone me-1"></i> +1 289 474-5200</span></li>
					<li class="d-flex align-items-center"><i class="bx bx-envelope me-1"></i> <a class="text-muted body2" href="mailto:support@dentallive.com;">support@dentallive.com</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-md-5 pb-md-4">
				<h5 class="footer-header wow fadeInUp fw-bold" data-wow-delay="0.3s" style="color: #011A3E;">Links</h5>
				<ul class="list-unstyled text-small wow fadeInUp" data-wow-delay="0.3s">
					<li><a class="text-muted body2" routerLink="/contact-us" fragment="contact">Contact Us</a></li>
					<li><a class="text-muted body2" routerLink="/become-vendor">Become Vendor</a></li>
					<li><a class="text-muted body2" routerLink="/solutions">Solutions</a></li>
					<li><a class="text-muted body2" routerLink="/faq">FAQ's</a></li>
					<li><a class="text-muted body2" routerLink="/privacy-policy">Privacy Policy</a></li>
					<li><a class="text-muted body2" routerLink="/terms-of-use">Terms and Conditions</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3 pt-4 ">
				<div class=" wow fadeInUp" data-wow-delay="0.4s">
					<img src="assets/images/safe-and-secure.png" width="80px"/>
					<img src="assets/images/hipaa-logo.png" width="80px"/>
				</div>
			</div>
		</div>
	</div>
	<div class="my-2 footer-bottom" style="border-top:1px solid #D0D6DE;">
		<div class="container ">
			<div class="row pt-4">
				<div class="col-md-4 pb-4">
					<a routerLink="/"><img src="assets/images/Logo_Dark.png" class="wow fadeInUp" data-wow-delay="0.5s"></a>
				</div>
				<div class="col-md-3">
					<div class="text-center social wow fadeInUp" data-wow-delay="0.6s">
						<a href="https://www.facebook.com/dentalive" target="_blank" title="Facebook"><i class="bx bxl-facebook-circle" aria-hidden="true"></i></a>
						<a href="https://www.twitter.com/dentallivemail" target="_blank" title="Twitter"><i class="bx bxl-twitter" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/dentallive" target="_blank" title="Instagram"><i class="bx bxl-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-5 text-md-end text-center">
					<div class="pt-2">
						<p class="text-secondary small wow fadeInUp" data-wow-delay="0.7s"> &copy; {{ currentYear }} DentalLive<sup>TM</sup> All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer end-->

<div ngxScrollTop [ngxScrollTopMode]="'classic'" class="go-top active"><i class="fa fa-chevron-up"></i><i class="fa fa-chevron-up"></i></div>
