 .accordion-header_border :before {
   border-top-left-radius: 80px;
   top: 0;
   content: '';
   position: absolute;
   left: 0;
   width: 6px;
   height: -webkit-fill-available;
   background-color: #0070D2;
   margin-top: 0;
 }

 .nav.panel-tabs li a.active {
   background: #F7F9FB;
   box-shadow: 0px 4px 50px #D0D6DE;
 }

 .nav.panel-tabs a {
   background: #F7F9FB;
   border-radius: 15px;

 }

 .tabs-menu ul li a {
   padding: 10px 12px 11px 13px;
   display: block;
 }

 .tabs-menu ul li a {
   padding: 10px 20px !important;
 }

 @media (max-width:575px) {
   .nav.panel-tabs a img {
     height: 30px;
   }
 }

 .accordion-button {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 1rem 1.25rem;
   font-size: 1rem;
   color: #6c757d;
   background-color: #00000000 !important;
   border-radius: 0;
   overflow-anchor: none;
 }

 .accordion-button::after {
   transform: rotate(-90deg);
   flex-shrink: 0;
   width: 1.25rem;
   height: 1.25rem;
   margin-left: auto;
   content: "";
   /* background-image: url(assets/images/downarrow.png); */
   background-repeat: no-repeat;
   background-size: 1.25rem;
   transition: transform .2s ease-in-out;
 }

 .accordion-button:not(.collapsed) {
   color: #5D6A7E;
   background-color: #e7f1ff;
   box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
 }

 .accordion-button:not(.collapsed)::after {
   /* background-image: url(assets/images/downarrow.png); */
   transform: rotate(-180deg);
 }

 .accordion-item {
   background-color: #ebf5fb00 !important;
   border: 1px solid rgba(0, 0, 0, .125);
 }

 section {
   padding: 3rem 0;
 }

 .square-list {
   padding-left: 0px;
 }

 .square-list li {
   position: relative;
   list-style: none;
   display: flex;
   color: #5D6A7E;
   margin-bottom: 15px;
 }

 .square-list li:before {
   margin-top: 3px;
   margin-right: 8px;
   flex-shrink: 0;
   width: 13px;
   height: 13px;
   content: "";
   background: #00D9CC;
   transition: transform .2s ease-in-out;
 }

 .section-header_border {
   position: relative;
   padding-left: 50px;
   margin-bottom: 38px;
 }

 .section-header_border:before {
   top: 0;
   content: '';
   position: absolute;
   left: 0;
   width: 10px;
   height: 100%;
   height: -webkit-fill-available;
   background: #00D9CC;
   margin-top: 0;
 }

 .tag-list .btn {
   cursor: default;
 }

 .dropdown-menu {
   max-width: 280px;
   border-radius: 0;
   border: 1px solid #EFF3F7;
   box-shadow: 0 5px 10px #b7c0ce33;
   font-size: .875rem;
 }

 .dropdown-menu a {
   color: #282c33;
 }

 .dropdown-menu a:hover {
   color: #00d9cc;
 }

 .dropdown-menu a:active {
   color: #ffffff;
   background-color: #00d9cc;
 }

 .sodropdownalign {
   margin-left: -16px !important;
 }

 .solution-hero {
   padding: 3rem 0;
   width: 100vw;
   /*height: 100vh;*/
   max-width: 100%;
   /* background: center / cover no-repeat url('assets/images/Solution.png');  */
   position: relative;
 }

 .so-hero-text {
   font-size: 64px;
   color: #011a3e;
   font-weight: 700;
   line-height: 1.2;
 }

 @media (min-width: 1200px) {
   .so-hero-tex {
     font-size: 3.2rem;
   }
 }

 @media(max-width:767px) {
   section {
     padding: 2rem 0;
   }

   .solution-hero {
     padding: 2rem 0;
     background: none;
     position: relative;
     height: auto;
   }

   .solution-hero .so-hero-text {
     font-size: 24px;
     position: absolute;
     top: 0px;
     left: 0px;
     text-align: center;
     width: 100%;
   }

   .section-header_border {
     padding-left: 25px;
   }
 }

 #Plans .card-header {
   min-height: 80px;
 }

 @media (min-width:1400px) {
   #Plans .card-header {
     min-height: 80px;
   }
 }

 @media (min-width: 991px) and (max-width: 1199px) {
   #Plans .card-header {
     min-height: 80px;
   }
 }

 @media (max-width:767px) {
   #Plans .card-header {
     min-height: auto;
   }
 }