<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/patients">Patients</a>
	</li> 
	<li class="breadcrumb-item active" aria-current="page">
		Edit Patient
	</li>
</ol>
<div class="page-header row align-items-center gx-0">
	<div class="col-md-12">
		<h3>Edit Patient</h3>
	</div>	
</div>

<div class="row pt-2">
	<div class="col-md-10">
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="row mt-2">
					<div *ngIf="sending" class="row">
						<div class="col-md-12">
							<lottie-player class="mt-3 m-auto"
							src="https://assets6.lottiefiles.com/packages/lf20_fhsx0ijl/lottie/collections-feature.json"
							background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
							<h6 class=" text-center mt-5">Processing request....please wait, don't close this page</h6>
						</div>
					</div>
					<div *ngIf="!sending" class="col-md-12">
						<form #f="ngForm" id="mainForm" (ngSubmit)="onSubmit(f)">
							<div class="row">
								<div class="col-md-6"> 
									<div class="mb-4">
									  <label class="form-label body2 text-dark">First Name</label>
									  <input type="text" class="form-control" value="Colin" required  maxlength="40" ngModel={{this.patientfirstName}} name="firstName" id="firstName" readonly>
									</div>
									<div class="mb-4">
									  <label class="form-label body2 text-dark">Last Name</label>
									  <input type="text" class="form-control" value="Sik colin"  maxlength="40" required ngModel={{this.patientlastName}} name="lastName" id="lastName" readonly>
									</div>
									<div class="mb-4">
										<label class="form-label body2 text-dark">Gender</label>
										<div>
											<select class="form-select" name="gender" ngModel="{{this.tabledata.gender}}" id="gender">
												<option value="">Select Gender</option>
												<option value="0">Male</option>
												<option value="1" selected>Female</option>
											</select>
										</div>
									</div>
									<div class="mb-4">
										<label class="form-label body2 text-dark">Date of Birth</label>
										<input type="date" class="form-control" max='2000-13-13' required ngModel="{{this.tabledata.dob | date:'yyyy-MM-dd'}}" max="{{this.maxDate | date:'yyyy-MM-dd'}}" name="dob" id="dob">
									</div>
									<div class="mb-4">
										<label class="form-label body2 text-dark">Phone Number</label>
										<input type="text" class="form-control" value="+14378861569" maxlength="10" minlength="10" (keypress)="numberOnly($event)" name="phone" ngModel={{this.tabledata.phone}} id="phone">
									</div>
								</div>
								<div class="col-md-6">
									<div class="profile-img justify-content-center p-md-2 mt-3 text-center" *ngIf="this.patientImage">
										<div class="capture">
											<img src="{{this.patientImg}}" alt="" class="mb-2">
										</div>
										<a class="body2 text-primary" href="javascript:void(0);"  (click)="removeImage()" >Remove picture</a>
									</div>
									<div class="mb-4" *ngIf="this.patientImage == ''">
									  <label class="form-label body2 text-dark">Patient Image</label>
									  <input type="file" name="image" accept="image/*" (change)="loadFiles($event)" id="image" ngModel class="form-control" style="line-height: 2.2;background-color: #EFF3F7; border: 2px dashed #AEB4BF;">
									</div>
									<div class="mb-4">
									  <label class="form-label body2 text-dark">Reference ID</label>
									  <input type="text" class="form-control" ngModel={{this.patientrefId}} name="refId" id="refId" value="#2456789" readonly>
									</div>
									<div class="mb-4">
										<label class="form-label body2 text-dark">Email</label>
										<input type="email" class="form-control" required ngModel={{this.tabledata.email}}  maxlength="150" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" value="prerna.junejac@gmail.com" name="email" id="email" readonly>
									</div>
									<div class="mb-4" >
										<label class="form-label body2 text-dark">Address</label>
										<textarea rows="2" class="form-control" *ngIf="this.tabledata.address; else emptyaddress" ngModel={{this.patientAddressStreet}} name="address" id="address"></textarea>
										<ng-template #emptyaddress>
											<textarea rows="2" class="form-control" ngModel="" name="address" id="address"></textarea>
										</ng-template>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="mb-4">
										<label class="form-label body2 text-dark">City</label>
										<input type="text" class="form-control" ngModel={{this.patientCity}} name="city" maxlength="100" id="city" value="Toronto">
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-4">
										<label class="form-label body2 text-dark">State/Province</label>
										<input type="text" class="form-control" name="residingState" maxlength="100" id="residingState" required ngModel={{this.patientresidingState}} value="Ontario">
										<input type="hidden" class="form-control" name="patientId" maxlength="100" id="patientId" required ngModel={{this.tabledata.patientId}} value="Ontario">
									</div>
								</div>
								<div class="col-md-12">
									<div class="mb-4">
										<label class="form-label body2 text-dark">Notes</label>
										<!-- <input type="text" class="form-control" ngModel={{this.tabledata.notes.note}} name="notes" id="notes"> -->
										<app-cvfast></app-cvfast>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mb-2">
									<button type="submit" class="btn btn-default mt-1 me-2 border-0">
									  Save
									</button> 
									<a routerLink="/patients/patients-list" class="btn btn-pink mt-1 me-2">
									  Cancel
									</a>
									<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-light-green mt-1 me-2">
										Edit Insurance
									</a> 
									<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editMedicationModal" class="btn btn-dark mt-1 me-2"> Edit Medication </a>
									<button type="button" class="btn btn-danger mt-1 me-2 border-0" (click)="deletepatiant(this.tabledata.patientId)">
									  Delete
									</button> 
									<div class="form-check form-check-inline form-switch mt-1">
									  <input class="form-check-input" type="checkbox" id="activeInactive" [attr.checked]="this.saveActiveInactive === true ? true : null" #activeInactive (change)="onActiveInactiveChanged(activeInactive.checked)">
									  <label class="form-check-label fs-6" for="activeInactive"><ng-container *ngIf="this.saveActiveInactive == true">Active</ng-container><ng-container *ngIf="this.saveActiveInactive == false">Inactive</ng-container></label>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form #insuranceForm="ngForm" id="insuranceForm" (ngSubmit)="onSubmitInsurance(insuranceForm)"> 
				<div class="modal-header">
					<h6 class="modal-title" id="addInsuranceModalLabel">Edit Insurance</h6>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
						  <div class="mb-3">
							<label class="form-label body2">Insurance Carrier Name</label>
							<input type="text" ngModel={{this.objInsuranceview.carrier}} name="carrier" id="carrier" class="form-control" >
						  </div>
						</div>
						<div class="col-md-12">
						  <div class="mb-3">
							<label class="form-label body2">Employer</label>
							<input type="text" ngModel={{this.objInsuranceview.employer}} name="employer" id="employer" class="form-control" >
						  </div>
						</div>
						<div class="col-md-12">
						  <div class="mb-3">
							<label class="form-label body2">Insurance Policy No</label>
							<input type="text" ngModel={{this.objInsuranceview.policyno}} name="policyno" id="policyno" class="form-control" >
						  </div>
						</div>
						<div class="col-md-12">
							<div class="mb-3">
							  <label class="form-label body2">Group</label>
							  <input type="text" ngModel={{this.objInsuranceview.group}} name="group" id="group" class="form-control" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="mb-3">
							  <label class="form-label body2">Policy Holder</label>
							  <input type="text" ngModel={{this.objInsuranceview.policyholder}} name="policyholder" id="policyholder" class="form-control" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="mb-3">
							  <label class="form-label body2">Effective Date</label>
							  <input type="date" ngModel={{this.objInsuranceview.policydate}} name="policydate" id="policydate" class="form-control" >
							</div>
						</div>
						<div class="col-md-12">
							<div class="mb-3">
							  <label class="form-label body2">Notes</label>
							  <textarea rows="2" class="form-control"  ngModel={{this.objInsuranceview.noteinc}} name="noteinc" id="noteinc"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-default" data-bs-dismiss="modal">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="editMedicationModal" tabindex="-1" aria-labelledby="editMedicationModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title" id="editMedicationModalLabel">Edit Medication</h6>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form #medicationForm="ngForm" id="medicationForm" (ngSubmit)="onSubmitMedication(medicationForm)">
					<section class="repeatsec">
						<ng-container *ngFor="let medication of medicationsArray; let i = index;">
							<div class="repeatbox mb-3 p-3" *ngIf="medication.isRequired; else elseMedication">
								<div class="mb-3 row">
									<label class="col-sm-4 col-lg-2 col-form-label">Medication {{i + 1}} <span class="text-danger">*</span></label>
									<div class="col-sm-8 col-lg-10">
										<input type="text" class="form-control" required ngModel={{medication.medication}} name="medication_{{medication.id}}" id="medication_{{medication.id}}"  (keyup)="addMedicationValidation(i,'medication',$event);" placeholder=""/>
									</div>
								</div>
								<div class="row">
									<label class="col-sm-4 col-lg-2 col-form-label">Dosage <span class="text-danger">*</span></label>
									<div class="col-sm-8 col-lg-4 mb-3">
										<input type="text" class="form-control" required ngModel={{medication.dosage}} name="dosage_{{medication.id}}" id="dosage_{{medication.id}}" (keyup)="addMedicationValidation(i,'dosage',$event);" placeholder=""/>
									</div>
									<label class="col-sm-4 col-lg-2 col-form-label">Duration <span class="text-danger">*</span></label>
									<div class="col-sm-8 col-lg-4 mb-3">
										<input type="text" class="form-control" required ngModel={{medication.duration}} name="duration_{{medication.id}}" id="duration_{{medication.id}}" (keyup)="addMedicationValidation(i,'duration',$event);" placeholder=""/>
										
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<div class="row">
											<label class="col-sm-4 col-lg-2 col-form-label">Notes</label>
											<div class="col-sm-8 col-lg-10">
												<textarea rows="2" class="form-control" ngModel={{medication.notes}} name="notes_{{medication.id}}" id="notes_{{medication.id}}" (keyup)="addMedicationValidation(i,'notes',$event);" placeholder=""></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
							<ng-template #elseMedication>
								<div class="repeatbox mb-3 p-3">
									<div class="mb-3 row">
										<label class="col-sm-4 col-lg-2 col-form-label">Medication {{i + 1}}</label>
										<div class="col-sm-8 col-lg-10">
											<input type="text" class="form-control" ngModel={{medication.medication}} name="medication_{{medication.id}}" id="medication_{{medication.id}}" placeholder="" (keyup)="addMedicationValidation(i,'medication',$event);"/>
										</div>
									</div>
									<div class="row">
										<label class="col-sm-4 col-lg-2 col-form-label">Dosage </label>
										<div class="col-sm-8 col-lg-4 mb-3">
											<input type="text" class="form-control" ngModel={{medication.dosage}} name="dosage_{{medication.id}}" id="dosage_{{medication.id}}" placeholder="" (keyup)="addMedicationValidation(i,'dosage',$event);"/>
										</div>
										<label class="col-sm-4 col-lg-2 col-form-label">Duration </label>
										<div class="col-sm-8 col-lg-4 mb-3">
											<input type="text" class="form-control" ngModel={{medication.duration}} name="duration_{{medication.id}}" id="duration_{{medication.id}}" placeholder="" (keyup)="addMedicationValidation(i,'duration',$event);"/>
											
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="row">
												<label class="col-sm-4 col-lg-2 col-form-label">Notes</label>
												<div class="col-sm-8 col-lg-10">
													<textarea rows="2" class="form-control" ngModel={{medication.notes}} name="notes_{{medication.id}}" id="notes_{{medication.id}}" placeholder="" (keyup)="addMedicationValidation(i,'notes',$event);"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-template>
							<div class="text-end mb-3 remove-button">
								<button type="button" *ngIf="(i > 2)" class="btn btn-pink btn-sm px-2" (click)="removeMedication(i)"><i class="bx bx-trash me-0"></i></button>
								<span>&nbsp;</span>
							</div>
						</ng-container>
						<div class="text-end mb-3 add-button">
							<button type="button" class="btn btn-default btn-sm px-2" (click)="addMedication()"><i class="bx bx-plus me-0"></i></button>
						</div>
					</section>
					<div class="d-flex flex-wrap align-items-center justify-content-start">
						<button type="submit" class="btn btn-default m-1" [disabled]="!medicationForm.form.valid"  data-bs-dismiss="modal" >Save</button>
						<button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>