<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases/case-list">Cases</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases/case-add">Add Cases</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases/case-add-invite-members">Invite Members</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases/case-add-milestone">Add Milestone</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/cases/case-add-task-add">Add Task</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Upload Files
	</li>
</ol>
<div class="page-header row align-items-center gx-0">
	<div class="col-md-6">
		<div class="d-inline-block">
			<h3>Upload Files</h3>
		</div>
	</div>	
	<div class="col-md-6 text-end"> 
		
	</div>
</div>

<div class="row pt-2">
    <div class="col-md-10">
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="row mt-2">
					<div class="col-md-12">
						<form #filesForm="ngForm" id="filesForm" (ngSubmit)="onSubmitFiles(filesForm)"> 
							<div class="row gy-4">
								<div class="col-md-6">
									<label class="form-label body2 text-dark">Upload File</label>
									<input type="file" ngModel multiple name="uploadfile" id="uploadfile" (change)="loadFiles($event)" class="form-control" style="line-height: 2.2; background-color: #EFF3F7; border: 2px dashed #AEB4BF;" required accept=".doc,.docx,application/msword,.txt,.xls,.xlsx,image/*,video/*,.pdf,.ppt,.pptx">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mt-4 mb-2">
									<input type="hidden"  name="resorceowner" id="resorceowner" *ngIf="this.tabledata.fetchedData; else emptyresorceowner" ngModel="{{this.tabledata.fetchedData[0].data[0].resorceOwner}}">
									<ng-template #emptyresorceowner>
										<input type="hidden" name="resorceowner" id="resorceowner" ngModel="">
									</ng-template>
									<input type="hidden"  name="caseid" id="caseid" ngModel="{{this.tabledata.caseId}}">
									<input type="hidden" name="patientid" id="patientid" ngModel="{{this.tabledata.patientId}}">
									<input type="hidden" name="patientname" id="patientname" ngModel="{{this.tabledata.patientName}}">
									<input type="hidden" name="datecreated" id="datecreated" ngModel="{{this.tabledata.dateCreated}}">
									<a class="btn btn-secondary me-2" routerLink="/cases/case-list" data-bs-dismiss="modal">Skip</a>
									<button type="submit" [disabled]="!filesForm.form.valid" class="btn btn-default mt-1 me-2" >Save</button>
									<button type="button" class="btn btn-pink mt-1 me-2">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>

<div class="modal fade" id="doneModal" tabindex="-1" aria-labelledby="doneModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body text-center">
				<h6 class="text-dark mb-3">Case Added Successfully</h6>
				<div class="d-flex justify-content-center">
					<a class="btn btn-default" routerLink="/cases/case-list" data-bs-dismiss="modal">Done</a>
				</div>
			</div>
		</div>
	</div>
</div>