<div *ngIf="isUploadingData || isLoadingData" class="row">
  <div class="col-md-12">
    <lottie-player class="mt-3 m-auto"
      src="https://assets6.lottiefiles.com/packages/lf20_fhsx0ijl/lottie/collections-feature.json"
      background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    <h6 class=" text-center mt-5">Processing request....please wait, don't close this page</h6>
  </div>
</div>
<div [hidden]="isUploadingData || isLoadingData" class="row">
  <div class="col-md-12">
    <div class="page_card">
      <div class="card">
        <div class="card-header card-header_border " style="background-color:#ffff;">
          <p class="body1 card-title mt-2" style="color: #354053;">Basic Details</p>
        </div>
        <div class="card-body">
          <form #mainForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row ">
              <div class="col-md-6 ">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="object.accountfirstName"
                    name="accountfirstName" required>
                  <label for="floatingInput">First Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="object.accountlastName"
                    name="accountlastName" required>
                  <label for="floatingPassword">Last Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" placeholder="E-Mail" [ngModel]="object.emailAddress" disabled
                    name="emailAddress">
                  <label for="exampleDatepicker" class="form-label">E-Mail</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" max="{{today|date:'yyyy-MM-dd'}}" placeholder="DOB"
                    [(ngModel)]="object.dob" name="dob">
                  <label for="exampleDatepicker" class="form-label">DOB</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" pattern="[0-9]{10,10}" class="form-control" placeholder="Phone Number"
                    [(ngModel)]="object.phoneNumber" name="phoneNumber">
                  <label for="floatingPassword">Phone Number</label>
                </div>
                <div *ngIf="!isEtr" class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="Practice/Clinic Name"
                    [(ngModel)]="object.clinicName" name="clinicName">
                  <label for="floatingPassword">Practice/Clinic Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="Address" [(ngModel)]="object.address"
                    name="address">
                  <label for="floatingPassword">Address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="Education" [(ngModel)]="object.education"
                    name="education">
                  <label for="floatingPassword">Education</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="City" [(ngModel)]="object.city" name="city">
                  <label for="floatingPassword">City</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="Country" [(ngModel)]="object.country"
                    name="country">
                  <label for="floatingPassword">Country</label>
                </div>
              </div>
              <div class="order-first order-md-last col-md-6 p-md-5 text-center">
                <div class="profile-img justify-content-center p-md-2">
                  <div class="capture">
                    <label for="profileImage">
                      <img style="width: 13em;"
                        [src]="imageSrc? imageSrc: '../../../../../assets/images/user-circle.png'" alt=""
                        class="mb-2" />
                    </label>
                    <input type="file" name="profileImage" id="profileImage" style="display: none" accept="image/*"
                      (change)="loadBinaryFile($event)" />
                  </div>
                  <a style="cursor: pointer;" (click)="object.imageSrc = '';imageSrc=null" class="mb-2 me-2 border-0">
                    Remove picture
                  </a>
                </div>
              </div>
            </div>

            <div class="row border-bottom border-top py-4 mt-2 md-3">
              <h6 class="fw-bold text-dark pb-2">Mail Fowarders</h6>
              <div class="col-md-12 d-flex align-items-center">
                <div class="flex-grow-1 me-2 form-floating">
                  <input #fwdemail type="email" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" class="form-control" id="email"
                    placeholder="E-Mail Address" ngModel name="email">
                  <label for="email">Enter Email Address</label>
                </div>
                <button (click)="mails(fwdemail.value,fwdemail,true)" type="button" class="btn btn-primary add">Add
                  Mail</button>
              </div>
              <ul *ngIf="object.forwards.length>0" class="col-md-12 bg-light list-group my-3 p-3">
                <li *ngFor="let mail of object.forwards"
                  class="list-group-item d-flex justify-content-between align-items-center">
                  {{mail}}
                  <small (click)="mails(mail,null,false)" role="button" class="text-danger float-end">delete</small>
                </li>
              </ul>
            </div>

            <div class="row border-top pt-4 pb-2">
              <div class="col">
                <button type="submit" class="btn  btn-primary add me-2 me-2" style="line-height:12px;">Update</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-4">
    <div class="card border-0" style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);">
      <div class="card-header card-header_border " style="background-color:#ffff;">
        <p class="body1 card-title mt-2" style="color: #354053;">Reset Password</p>
      </div>
      <form #subForm="ngForm" (ngSubmit)="updatePassword(opass.value,npass.value,cpass.value)">
        <div class="card-body">
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input #opass required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                      autocomplete="new-opassword" ngModel name="opassword" class="form-control" id="floatingPassword0"
                      placeholder="Password">
                    <label for="floatingPassword0">Enter old password</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input #npass required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                      autocomplete="new-npassword" ngModel name="npassword" class="form-control" id="floatingPassword1"
                      placeholder="Password">
                    <label for="floatingPassword1">Enter new password</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input #cpass required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                      autocomplete="new-cpassword" ngModel name="cpassword" class="form-control" id="floatingPassword2"
                      placeholder="Password">
                    <label for="floatingPassword2">Re-enter new password</label>
                    <small *ngIf="npass.value!=cpass.value" class="d-block text-danger mt-2">Password did not
                      match</small>
                  </div>
                  <label style="color: #1991EB;" class="body2 my-3">
                    Must contain atleast one number and one uppercase and lowercase letter, and atleast 8 or more
                    characters
                  </label>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12 mt-2">
                  <button class="btn btn-primary btn-1 mb-2 me-2 border-0"
                    style="box-shadow: 0px 4px 20px #C3D2FF;background: #0070D2;height:40px;padding:10px 31px;">
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>