<ol class="breadcrumb">
	<!-- breadcrumb --> 
	<li class="breadcrumb-item">
		<a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li class="breadcrumb-item">
		<a routerLink="/colleagues">Colleagues</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		Colleague View Profile
	</li>
</ol>
<div class="page-header row align-items-center gx-0">
	<div class="col-md-6">
		<div class="d-inline-block">
			<h3 class="mt-2 fw-normal">{{detailsdata.patientName}} <span class="fw-bold d-block">{{detailsdata.title}}</span>
				<div class="progress progress-sm mt-2">
					<div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</h3>
		</div>
	</div>	
	<div class="col-md-6 text-end"> 
		
	</div>
</div>
<ng-container class="mt-3" *ngIf="isLoadingData">
	<div class="mt-5 w-100"></div>
	<ngx-shimmer-loading style="margin-top: 1.5em;display: block;transition: all 1s;"  [width]="'100%'"
	[height]="'50px'" *ngFor="let i of shimmer(10).fill(1)" class="vh-100">
	</ngx-shimmer-loading>
</ng-container>
<div class="row align-items-center pt-2">
    <div class="col-md-12">
		<div class="card shadow-sm">
			<div class="card-header bg-white">
				<div class="row">
					<div class="col-md-5 align-self-center">
						<h5 class="body1 card-title my-2">Referral Details</h5>
					</div>
					<div class="col-md-7 text-end">
						<!-- <a data-bs-toggle="modal" data-bs-target="#addNonMembers" class="btn btn-light-cyan my-1 me-2">
							<i class="bx bx-plus me-2" aria-hidden="true"></i>Add Non Members
						</a> --> 
						<a href="javascript:void(0);" (click)="back()" class="btn btn-default">Back </a>
					</div>
				</div>         
			</div>
			<div class="card-body">
				<div class="row mt-2">
					<div class="col-md-12">
						<div class="row">            
							<div class="col-md-12"> 
								<div class="mb-3 row">
									<div class="col-sm-12">
										<div class="card pt-2 bg-dark" style="box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);">
											<div class="card-body">
												<div class="row">
													<div class="col-md-4">
														<div class="d-flex flex-wrap d-block ">
															<a routerLink="/patients/patient-details">
																<img src="{{invitedata[0].imageSrc}}" alt="" class="mb-2 avatar-sm rounded-circle" width="36" height="36">
															</a>
															<p class="body2 text-light ms-3 me-2">{{invitedata[0].userName}}</p>
															<span class="badge badge-pill badge-success body2 me-2 mb-2" *ngIf="(invitedata[0].presentStatus == 1)">Accepted </span>
														</div>
													</div>
													<div class="col-md-2">
														<p class="body2 mb-0 text-light-green">Education</p>
														<p class="body2 text-light">{{invitedata[0].userEducation}}</p>
													</div>
													<div class="col-md-2">
														<p class="body2 mb-0 text-light-green">City</p>
														<p class="body2 text-light">{{invitedata[0].userCity}}</p>
													</div>
													<div class="col-md-2">
														<p class="body2 mb-0 text-light-green">Country</p>
														<p class="body2 text-light">{{invitedata[0].userCountry}}</p>
													</div>
													<div class="col-md-2">
														<p class="body2 mb-0 text-light-green">Created Date</p>
														<p class="body2 text-light">{{invitedata[0].dateCreated | date : 'dd-MM-yyyy'}}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="col-md-12"> 
								<div class="mb-3 row">
									<label for="staticEmail" class="col-sm-12 col-form-label" style="color:#AEB4BF">Request</label>
									<div class="col-sm-10">
										<div class="card bg-light">
											<div class="card-body">
												<p class=" body2">Hi Jene,
												Dr Perrine Gillot,
												I am done with root canal temporary crown, Looking for the other one by upcoming 25/8/21. Photos, and x-rays are attached in files. Plz check UI Guide too.
												Thanks  </p>
											</div>
										</div> 
										<div class="row">
											<div class="col-md-6">
												<img src="assets/images/AVIpng.png">
												<p class="body2 mb-0">#cust_iv25</p>
											</div>
											<div class="col-md-6">
												<p class="body2" style="float: right;"> 20 Aug, 17:15 PM</p>
											</div>        
										</div>
									</div>
								</div> 
							</div>
							<div class="col-md-12"> 
								<div class="mb-3 row">
									<div class="col-sm-4">

									</div>
									<div class="col-sm-8">
										<label for="staticEmail" class=" col-form-label" style="color:#AEB4BF">Response <span class="badge badge-pill badge-success body2 px-2">Accepted </span></label>
										<div class="card bg-light">
											<div class="card-body">
												<p class=" body2">Dr Jene,
												Sure Perrine I will work on crown. I will  send it up by 25/8/21 
												Thanks </p>
											</div>
										</div> 
										<div class="row">
											<div class="col-md-6">
												<img src="assets/images/AVIpng.png">
												<p class="body2 mb-0">#cust_iv25</p>
											</div>
											<div class="col-md-6">
												<p class="body2" style="float: right;"> 20 Aug, 18:15 PM</p>
											</div>        
										</div>
									</div>
								</div> 
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  
<!-- <div class="modal fade" id="addNonMembers" tabindex="-1" aria-labelledby="addNonMembersLabel" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title body1" id="addNonMembersLabel">Invite Non Members</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body ">
				<div class="row">
					<div class="col-md-12"> 
						<div class="mb-3 row">
							<label  class="col-sm-3 col-form-label">Email Address :</label>
							<div class="col-sm-9">
								<input class="form-control" type="email"  >           
							</div>
						</div>
					</div>
					<div class="col-md-12"> 
						<div class="mb-3">
							<textarea class="form-control" placeholder="Enter text here" id="floatingTextarea2" style="height: 100px"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center justify-content-center border-top-0">
				<a class="btn btn-default" data-bs-dismiss="modal">Send E-Mail</a>
			</div>
		</div>
	</div>
</div> -->