<div class="col-md-12 mt-4">


  <div class="card shadow-sm mt-4">
    <div class="card-header bg-white">
      <div class="row">
        <div class="col-md-5 align-self-center">
          <h5 class="body1 my-2 card-title">Recent Activity</h5>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <ng-container class="mt-5" *ngIf="isLoadingData">
        <ngx-shimmer-loading class="d-block" *ngFor="let i of shimmer(10).fill(1)"
          style="margin-top: 1.5em; display: block; transition: all 1s" [height]="'50px'" [width]="'100%'">
        </ngx-shimmer-loading>
      </ng-container>
      <ng-container *ngIf="!isLoadingData">
        <div *ngFor="let thread of baseData; let i = index">
          <div class="py-3 border-bottom px-3" *ngIf="thread.sk && thread.resourceOwner">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div class="fw-bold">
                <img class="avatar avatar-sm rounded-circle me-2" [src]="utility.getUserImage(thread.resourceOwner)">
                {{
                utility.getMetaData(
                thread.resourceOwner,
                "emailAddress",
                ["accountfirstName", "accountlastName"],
                "users"
                )
                }}
              </div>
              <span class="body2">{{thread.dateUpdated | date:"MMM d, y hh:mm aa"}} </span>
            </div>
            <div>
              <span class="fw-bold d-inline mb-2">{{ thread.sk.split("#")[0] }} SECTION : </span>
              <span class="mb-2">{{
                utility.getMetaData(
                thread.resourceOwner,
                "emailAddress",
                ["accountfirstName", "accountlastName"],
                "users"
                ) +
                " " +
                (thread.dateUpdated > thread.dateCreated
                ? "Updated"
                : "Added")
                }}
                {{ utility.threadMetaData[thread.sk.split("#")[0]]["label"] }}
                <a class="text-primary text-small ms-1" [routerLink]="
                    '/cases/cases/case-view/' +
                    caseId +
                    '/' +
                    utility.threadMetaData[thread.sk.split('#')[0]]['route']
                  ">
                  <u class="fw-bold"> (Open {{utility.threadMetaData[thread.sk.split("#")[0]]["label"]}})</u>
                </a>
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>