<ol *ngIf="!hasCase" class="breadcrumb">
    <!-- breadcrumb -->
    <li class="breadcrumb-item">
        <a routerLink="/dashboard"><i class="bx bxs-home" aria-hidden="true"></i> Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        <a routerLink="{{ backUrl }}">Milestones</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Milestone Details</li>
</ol>
<div *ngIf="isLoadingData" class="row">
    <div class="col-md-12">
        <lottie-player class="mt-3 m-auto"
                       src="https://assets6.lottiefiles.com/packages/lf20_fhsx0ijl/lottie/collections-feature.json"
                       background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></lottie-player>
        <h6 class="text-center mt-5">
            Request Processing …..Please Wait, Do Not Close The Page
        </h6>
    </div>
</div>

<div [hidden]="isLoadingData">

    <!-- Header Section -->
    <div *ngIf="baseData" class="page-header d-sm-flex">
        <div class="d-sm-flex d-block">
            <div class="profile-img justify-content-center p-md-2 me-3">
                <img [src]="
                    utility.getMetaData(
                      baseData?.patientId,
                      'patientId',
                      ['image'],
                      'patients'
                    )
                      ? utility.apiData.patients.bucketUrl +
                        utility.getMetaData(
                          baseData?.patientId,
                          'patientId',
                          ['image'],
                          'patients'
                        )
                      : '../../assets/images/users.png'
                  " alt="" alt="" class="mb-2">
            </div>
        </div>
        <div class=" d-inline-block">
            <h3 class="mt-2 fw-normal">{{utility.getMetaData(
                baseData.patientId,
                "patientId",
                ["firstName", "lastName"],
                "patients"
                ) }} <small>({{( baseData.patientId ? this.utility.getMetaData(
                    baseData.patientId,
                    'patientId',
                    ['dob'],
                    'patients'
                    ).toString() : "")| date : "MMM d, y" }})</small>
                <span class="fw-bold d-block">{{ utility.getMetaData(baseData.caseId, "caseId", ["title"], "cases")}}</span>
            </h3>
            <div>
                <strong>{{this.utility
                    .getMetaData(
                    this.baseData?.resourceOwner,
                    "emailAddress",
                    ["accountfirstName","accountlastName"],
                    "users"
                    )}}
                </strong>
            </div>
            <div class="text-blue fw-bold">
                {{this.utility
                .getMetaData(
                this.utility
                .getMetaData(
                this.baseData?.resourceOwner,
                "emailAddress",
                ["primaryPractice"],
                "users"
                ),
                "practiceId",
                ["practiceName"],
                "practices"
                )}}
            </div>
            <div class="text-danger mt-1 fw-bold">
                {{utility.getMetaData(baseData.caseId, "caseId", ["caseRunningStatus"], "cases")>'1'?"(Case Closed)":""}}
            </div>
        </div>
    </div>


    <div class="row align-items-center pt-2">
        <div class="col-md-12">
            <div class="card shadow-sm mb-3">
                <div class="card-header py-3 bg-white">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4 align-self-center order-md-1">
                            <h5 class="body1 card-title my-2">Milestone Details <a tippy="Tutorial" target="_blank" [routerLink]="
                      '/tutorial/' +
                      utility.tutorialData['MilestoneDetailsComponent'].html
                    "><i class="bx bxs-info-circle text-blue"></i></a></h5>
                            <div class="panel panel-primary mt-3">
                                <div class="tab-menu-heading">
                                    <div class="tabs-menu">
                                        <!-- Tabs -->
                                        <ul class="nav panel-tabs">
                                            <li><a [class.active]="tab == 0" (click)="tab = 0" class="me-1 nav-link active">Details</a>
                                            </li>
                                            <li><a [class.active]="tab == 1" (click)="tab = 1" class="me-1 nav-link">Thread</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5 col-lg-5 align-self-center order-3 order-md-2">
                            <div class="d-flex align-items-center mt-3 mt-md-0">
                                <div class="progress m-1  me-2" style="flex-shrink: 0;">
                                    <!-- <span class="progress-left">
                    <span class="progress-bar" role="progressbar"
                      style="border-color: rgb(7, 213, 232) !important; transform: rotate(45deg);"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar" role="progressbar"
                      style="border-color: rgb(7, 213, 232) !important; transform: rotate(180deg);"></span>
                  </span> -->
                                    <div
                                         class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center text-black">
                                        <div class="fs-5 fw-bold">{{ getCompletionPercentage()}}</div>
                                    </div>
                                </div>
                                <div style="width:calc(100% - 100px);">
                                    <div class="row gx-2 mb-2 text-blue fw-bold">
                                        <div class="col-auto" style="min-width:120px;">Number of Active Task</div>
                                        <div class="col-auto">{{getActiveTasks()}}</div>
                                    </div>
                                    <div class="row gx-2 mb-2 text-danger fw-bold">
                                        <div class="col-auto" style="min-width:120px;">Task Overdue</div>
                                        <div class="col-auto"> {{getOverDueTasks()}}</div>
                                    </div>
                                    <div class="row gx-2 mb-2 text-light-green fw-bold">
                                        <div class="col-auto" style="min-width:120px;">Task Completed</div>
                                        <div class="col-auto">{{getCompletedTasks()}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3 align-self-center text-end order-md-3">
                            <select *ngIf="baseData.resourceOwner==user.emailAddress" (change)="changeStatus($event)"
                                    [value]="baseData.presentStatus" class="me-1 status-dropdown">
                                <option value=1>Active</option>
                                <option value=2>Inactive</option>
                                <option value=3>Completed</option>
                            </select>
                            <a [routerLink]="
                    hasCase
                      ? '/cases/cases/case-view/' +
                        baseData.caseId +
                        '/milestones'
                      : backUrl
                  " class="ms-2 btn btn-default btn-sm">Back</a>

                        </div>
                    </div>
                </div>
                <div *ngIf="tab == 0">
                    <div>
                        <div class="tab-pane fade active show" id="details-tab1" role="tabpanel" aria-labelledby="details-tab1-tab">
                            <div class="card-body">
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="mb-3 row">
                                                    <label for="staticEmail" class="col-sm-3 col-form-label">Owner</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" type="text" value="{{
                            utility.getMetaData(
                              baseData['resourceOwner'],
                              'emailAddress',
                              ['accountfirstName', 'accountlastName'],
                              'users'
                            )
                          }}" aria-label="readonly input example" readonly="">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="staticEmail" class="col-sm-3 col-form-label">Title</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" type="text" value="{{ baseData.title }}"
                                                               aria-label="readonly input example" readonly="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label body2 text-gray mb-0">Start Date</label>
                                                    <input type="text" readonly="" class="form-control-plaintext"
                                                           value="{{ baseData.startdate | date : 'mediumDate' }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label body2 text-gray mb-0">Due Date</label>
                                                    <input type="text" readonly="" class="form-control-plaintext"
                                                           value="{{ baseData.duedate | date : 'mediumDate' }}">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-5 row align-items-center">
                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" rows="4" aria-label="readonly input example"
                                                                  readonly="">{{baseData.description.text}}</textarea>
                                                    </div>
                                                </div>
                                                <app-cvfast-viewer *ngIf="!isLoadingData" [showText]="false"
                                                                   [cvfast]="baseData.description"></app-cvfast-viewer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="tab == 1">
                    <div class="card-body">
                        <app-case-message *ngIf="!isLoadingData" [noEdit]="baseData.presentStatus!=1"
                                          [messageType]="utility.apiData[module].messageType" [messageReferenceId]="baseData.milestoneId"
                                          [caseId]="baseData.caseId"></app-case-message>
                    </div>
                </div>
            </div>
            <app-general-task-list *ngIf="!isLoadingData && tab == 0 && baseData.milestoneId" [isModal]="true"
                                   (getData)="updateTaskList($event)" class="mt-3"></app-general-task-list>
        </div>
    </div>
</div>